.zci--isslocation h5 {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    color: #333;
}

.zci--isslocation p {
    margin-top: 0;
    padding-top: 0;
    color: #999;
}

.zci--isslocation .zci__more-at {
    padding-top: 0em;
}

.mapview-marker.mapview-marker-star,
.mapview-marker.mapview-marker-star.has-focus {
    background-image: url("1x.png") !important;
    background-size: 30px 44px !important;

    width: 30px !important;
    height: 44px !important;
    margin-left: -15px !important;
}

@media only screen
and (max-device-width : 480px) {
    .zci--isslocation h5 {
        font-size: 1.15em;
        padding-top: 0.05em;
    }

    .zci--isslocation p {
        font-size: 0.85em;
    }

    .zci--isslocation .zci__more-at {
        margin-bottom: 0;
        padding-top: 0em;
    }
}
