.tile--septa {
    text-align: center;
    width: 13em !important;
}

.is-mobile .tile--septa {
    width: 12.25em !important;
}

.tile--septa .septa__time {
    font-size: 2.3em;
    color: #333;
    font-weight: 300;
}

.tile--septa .septa__details {
    color: #999;
    margin-top: 5px;
    margin-bottom: 10px;
}

.tile--septa .septa__status-sep {
    height: 12px;
}

.tile--septa .septa__sep-line {
    background-color: #e1e1e1;
    height: 1px;
    width: 30px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.tile--septa .septa__status {
    color: #666;
    margin-top: 10px;
    margin-bottom: 2px;
}

.tile--septa .septa__badge {
    background-color: #e0e0e0;
    height: 12px;
    border-radius: 6px;
    padding: 0 6px;
    display: inline-block;
}

.tile--septa .septa__delayed {
    background-color: #eea43e;
}

.tile--septa .septa__cancelled {
    background-color: #e34c2d;
}

.tile--septa .septa__cancelled-tile {
    background-color: #fafafa;
    border-color: #fafafa;
}

.tile--septa .septa__cancelled-tile .septa__time,
.tile--septa .septa__cancelled-tile .septa__details,
.tile--septa .septa__cancelled-tile .septa__status {
    color: #bbb;
}