<div class="tile__domain  one-line  text--secondary">{{location}}</div>

<div class="one-line">
    <i class="star starIcon"></i>
    <span class="tile__score  text--primary">{{numRatings}}</span> ratings 
    
</div>
