
<!--  handlebars template -->
<div>


    <h2>{{{npm.name}}} ({{{npm.version}}})</h2>

    <div id="npm_abstract">
		<div id="npm_package_description">{{{npm.description}}}</div>
		<pre id="npm_install_command"> $ npm install {{{npm.name}}}</pre>
    </div>

</div>
