<div class="bitcoin_rate  clearfix  gw">
  {{#with buy}}
    <div class="bitcoin_rate__wdt  half  half--screen-s  g">
      <div class="bitcoin_rate__blk  clearfix">
        <span class="bitcoin_rate__title">{{title}}</span>
        <span class="bitcoin_rate__price">{{formatted_price}}</span>
      </div>
    </div>
  {{/with}}
  {{#with sell}}
    <div class="bitcoin_rate__wdt  half  half--screen-s  g">
      <div class="bitcoin_rate__blk  clearfix">
        <span class="bitcoin_rate__title">{{title}}</span>
        <span class="bitcoin_rate__price">{{formatted_price}}</span>
      </div>
    </div>
  {{/with}}
</div>
