<li class="ddgc_item">
    <a href="javascript:void(0);" data-stream="{{toHttps stream_url}}?client_id=df14a65559c0e555d9f9fd950c2d5b17" id="{{id}}" class="soundcloud-stream">
        <p><img src="/iu/?u={{chooseImage artwork_url user.avatar_url}}"></p>
        <span>{{{condense title maxlen="25"}}}</span>
    </a>
</li>