<ul class="playlist">
    <li><a onclick="ddg_spice_sound_cloud.player(this);" data-stream="{{toHttps stream_url}}?client_id=df14a65559c0e555d9f9fd950c2d5b17" href="javascript:void(0);" id="{{id}}">{{title}} <span class="sidenote">by {{user.username}}</span></a></li>
</ul>