<ul class="playlist">
    <li class="sm2_stopped" onclick="ddg_spice_sound_cloud.player(this);">
    <a data-stream="{{toHttps stream_url}}?client_id=df14a65559c0e555d9f9fd950c2d5b17" id="sound_{{id}}">{{condense title maxlen="40"}} <small>by {{user.username}}</small></a>
    <small>
        <span id="position">0:00</span>
        /
        <span id="total">0:00</span>
    </small>
    </div>
    </li>
</ul>