<li class="ddgc_item">
    <a href="javascript:void(0);">
        <p><img src="/iu/?u={{chooseImage artwork_url user.avatar_url}}"></p>
        <span>{{{condense title maxlen="25"}}}</span>
    </a>
</li>