{{#if ResourceDetails2}}
  <p>
    <b>Starring:</b> {{formatDetail ResourceDetails2}}
  </p>
{{/if}}
{{#if ResourceDetails}}
  <p>
    <b>Director:</b> {{formatDetail ResourceDetails}}
  </p>
{{/if}}
{{#if ResourceGenre}}
  <p>
    <b>Genres:</b> {{formatDetail ResourceGenre}}
  </p>
{{/if}}
<a href="https://kwixer.com/#/watching/movie/{{ResourceId}}" class="btn btn--primary">
Reviews
</a>
