.tile--kwixer .tile__media__img {
    min-width: 100%;
    height: 100%;
    margin-top: 0;
}

.zci--kwixer .btn.btn--primary {
    margin-top: 1em;
}

@media only screen
and (max-device-width: 400px) {
    .zci--kwixer .detail--kwixer p.starring {
        max-height: 2.5em;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .zci--kwixer .detail--kwixer p {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}
