#spice_kwixer li.ddgc_item {
    height: 165px;
}
#spice_kwixer li.ddgc_item p {
    background-color: #ffffff;
    overflow: hidden;
    height:120px !important;
}
#spice_kwixer li.ddgc_item img {
    max-height: 120px !important;
    max-width: 100px !important;
}

#spice_kwixer .kwixer-heading {
    font-size: 95%;
}

#spice_kwixer li.ddgc_selected .kwixer-heading {
    color: #1168CC;
}

#spice_kwixer .spotlight {
    float: left;
    border: 1px solid #E1E1E1;
    max-height: 175px;
    max-width: 150px;
}

#spice_kwixer .description {
    float: left;
    width: 50%;
    margin-left: 20px;
    margin-top: 5px;
}

#spice_kwixer div .labelField {
    color: gray;
}
