.kwixer-table {
    margin-bottom: 1em;
}

.kwixer-table__row {
    position: relative;
    padding-left: 5em;
}

.kwixer-table__title {
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 0;
}

.kwixer-table a {
    color: inherit;
}

@media only screen
and (max-device-width: 400px) {
    .zci--kwixer .detail--kwixer p.starring {
        max-height: 2.5em;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
}
