<div class="kwixer-table">
{{#if ResourceDetails2}}
  <div class="kwixer-table__row">
    <b class="kwixer-table__title">Starring:</b> {{{formatDetail ResourceDetails2}}}
  </div>
{{/if}}
{{#if ResourceDetails}}
  <div class="kwixer-table__row">
    <b class="kwixer-table__title">Director:</b> {{{formatDetail ResourceDetails}}}
  </div>
{{/if}}
{{#if ResourceGenre}}
  <div class="kwixer-table__row">
    <b class="kwixer-table__title">Genres:</b> {{{formatDetail ResourceGenre}}}
  </div>
{{/if}}
</div>
