<div class="duck_say__body text--primary">
    <div class="duck_say__pre duck_say--monitor">{{text}}</div>
    <div class="duck_say__pre duck_say--tablet">{{text_tablet}}</div>
    <div class="duck_say__pre duck_say--phone">{{text_phone}}</div>
    <div class="duck_say__pre">      \         ⌒
       \   ___/ • )
          '---,  /
              <span class="duck_say__bowtie">▷.◁</span>____/")
              \   \)  /
               \_____/
                 _|_|
    </div>
</div>