.zci--duck_say .duck_say__body {
    border: 1px solid rgba(150,150,150,.3);
    padding: 0.55em 0;
    padding-left: 0.5em;
    margin: 0.5em 0;
    background-color: rgba(150,150,150,.15);
    font-family: Consolas, Menlo, Monaco, monospace;
    border-radius: 0.25em;
    background-clip: padding-box;
}
.zci--duck_say .duck_say__pre {
    white-space: pre;
}
.zci--duck_say .duck_say__bowtie {
    color: rgb(70, 154, 40);
}

.zci--duck_say .duck_say--phone,
.zci--duck_say .duck_say--tablet {
    display: none;
}

@media (max-width: 600px) {
    .zci--duck_say .duck_say--monitor {
        display: none;
    }
    .zci--duck_say .duck_say--tablet {
        display: block;
    }
}

@media (max-width: 450px) {
    .zci--duck_say .duck_say--tablet {
        display: none;
    }
    .zci--duck_say .duck_say--phone {
        display: block;
    }
}


