.zci--ducksay pre {
    max-height: none !important;
}
.zci--ducksay .ducksay__phone,
.zci--ducksay .ducksay__tablet {
    display: none;
}

@media (max-width: 600px) {
    .zci--ducksay pre {
        display: none;
    }
    .zci--ducksay .ducksay__tablet {
        display: block;
    }
}

@media (max-width: 450px) {
    .zci--ducksay .ducksay__tablet {
        display: none;
    }
    .zci--ducksay .ducksay__phone {
        display: block;
    }
}