<div class="tile__update__info one-line">
  <i class="star starIcon"></i> {{watchers}} &middot; <i class="fork forkIcon"></i> {{forks}} &middot; {{language}}
  <span class="pull-right">
    Updated {{pushed_at}}
  </span>
</div>



