<div class="tile__update__info one-line">
  <i class="star starIcon"></i> {{watchers}} &middot; {{forks}} forks &middot; {{language}}
</div>
<div class="tile__update__info one-line pull-right">
  Updated {{pushed_at}}
</div>


