/*
.zci--github span {
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}
*/

.tile__body {

	height: 128px;
}

.tile__name {
	font-weight: bold;
	font-size: 1.03em;
}

.tile__updated {
	padding-top: 2em;
	padding-bottom: 2em;
}

.tile__owner {
	font-size: 0.95em;
}

.star.starIcon {
	font-size: 0.99em;
	padding-bottom: 0.25px;
	padding-left: 0.25em;
}