.zci--github .tile__update__info {
    color: #999;
    position: absolute;
    bottom: 0.8em;
}

.zci--github .star.starIcon {
    margin-top: -5px;
}

.zci--github .tile__title__sub {
    text-transform: none;
    color: #999;
}

.zci--github .tile__body {
    height: 14em;
}
