.zci--playing_cards .tile--playing_cards {
    width: auto;
    background-color: transparent;
    outline-color: transparent;
    border: transparent;
}

.zci--playing_cards .tile {
    outline: none;
}

.tile--playing_cards .tile__media {
    height: 12em;
}

.tile--playing_cards .tile__media__img {
    height: 12em;
}

.tile--playing_cards .tile__body {
    padding: 0;
    height: 0;
}
