.status__badge {
    height: 12px;
    border-radius: 6px;
    padding: 0px 6px;
    display: inline-block;
    margin-right: 5px;
}

.status__badge.good {
    background-color: #00de1d;
}

.status__badge.moderate {
    background-color: #faff00;
}

.status__badge.usg {
    background-color: #ff6600;
}

.status__badge.unhealty {
    background-color: #ff0000;
}

.status__badge.very_unhealthy {
    background-color: #ad0051;
}

.status__badge.hazardous {
    background-color: #91001d;
}
