<ul>
{{#each aqi_measurements}}
    <li>
        <span class="status__badge {{aqi_circle_category Category.Name}}"></span>
        <span class="aqi__text">
            {{ParameterName}}: {{AQI}} {{Category.Name}}
        </span>
    </li>
{{/each}}
</ul>
