<div class="zci--economic-indicators">
	<div class="text--primary"> <span>{{value}}</span> </div>
	<div class="text--secondary"> <span>{{country.value}}</span>, <span>{{indicator.value}}</span> , <span>{{date}}</span> </div>
</div>
