<div class='tile__media'>
    <div class="image-under">
        <img src="{{imageProxy biophoto}}" class="pis-icon"/>
    </div>
</div>
<div class="image-over">
    <img src="{{imageProxy icon}}" class="pis-icon--alt"/>
</div>
<div class="info">
    <span class="name">{{name}}</span>
    <span class="days">{{daysElapsed}} days</span>
</div>