<div class="card">
  <h3>{{name}}</h3>
  <h6>{{description}}</h6>
  <ul class="zci-cricket-list">
    {{#matches}}
    <li>
      {{StartDate}}
    </li>
    {{/matches}}
  </ul>
  <div class="footer">
    <a id="prev" href="#" ripple="" ripple-color="#666666" class="chevron">
    </a>
    <a id="next" href="#" ripple="" ripple-color="#666666" class="chevron"></a>
  </div>
</div>
