.zci--cricket .card {
    background: #FFFFFF;
    max-width: 500px;
    font-size: 16px;
    /*margin: 50px auto;*/
    /*border-radius: 12px;*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    /*padding: 20px;*/
    /*text-align: center;*/
}

.zci-cricket-content {
    color: #888;
    padding: 20px;
    border-top: 2px solid #F7F7F7;
    border-bottom: 2px solid #F7F7F7;
}

.zci-cricket-content span {
    /*height:49px;*/
}

.zci-cricket-content > span:first-child {
    float: left;
}

.zci-cricket-content > span:last-child {
    float: right;
}

.zci-cricket-team {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
}

.zci-cricket-team span {
    display: block;
}

.zci-cricket-inactive {
    display: none;
}

.zci-cricket-active {
    display: block;
}

.zci-cricket-score-head {
    color: #888;
    padding: 20px;
    padding-bottom: 40px;
}

.zci-cricket-score-content {
    color: #888;
    padding: 20px;
    border-top: 2px solid #F7F7F7;
}

.zci-cricket-score-head-date {

}

.zci-cricket-team-logo {
    height: 21px;
    float: left;
}

.zci-cricket-team-name {
    /*float: left;*/
}

.zci-cricket-match {
    color: #888;
    padding: 20px;
    border-bottom: 2px solid #F7F7F7;
}