<div class="zci--cricket-score-head tx-clr--grey-dark">
    <span class="zci--cricket-score-head-date pull-left">{{date}}</span>
    {{#if stage}}
        <span class="pull-right">{{matchNo}}</span>
    {{else}}
        <span class="pull-right">{{startTime}}</span>
    {{/if}}
</div>
