<div class="zci--cricket-team-name">
    {{#if logo}}
        <div style="display: inline-block;height: 100%; vertical-align: middle;">
            <a><img class="zci--cricket-team-logo" src="{{logo}}" alt="team logo"/></a>
        </div>
    {{/if}}
    <div style="display: inline-block;" class="{{winner}}">
        {{Team}}
    </div>
</div>
