<div class="team-name-wrapper">
    {{#if logo}}
        <div class="logo-wrapper">
            <img class="zci--cricket-team-logo" src="{{logo}}" alt="team logo"/>
        </div>
    {{/if}}
    <div class="team-name {{winner}}">
        {{Team}}
    </div>
</div>
