.tile--airlines  {
    padding: 1.44em;
}

.zci--airlines .text--primary {
    line-height: 1.3em;
}

.zci--airlines .text--secondary {
    line-height: 1.3em;
}

.zci--airlines td {
	padding: 0px 1em 0px 0px;
    vertical-align: top;
}

.zci--airlines td:first-child {
    padding-left: 0px;
}

.zci--airlines td:last-child {
    padding-right: 0px;
}

.zci--airlines .divider {
    height: 1px;
    border: 0;
    margin: 1.2em 0;
}

.zci--airlines .dot {
	border-radius: 50%;
	width: 4px;
	height: 4px;
	border: solid 2px;
	display: inline-block;
	position: relative;
	top: -9px;
}

.zci--airlines .progress__bar {
	width: 100%;
	height: 2px;
	margin: 1em 0px 1em 0px;
}

.zci--airlines .progress__complete {
	height: 2px;
}

.zci--airlines .tile__date {
    float: right;
    text-align: right;
    padding-top: 3px;
}