<div class="text-center">
	<div class="tx-clr--dk couprex__title">
		<span class="couprex__number">{{number}}</span>
		<span class="couprex__symbol tx-clr-dk">{{symbol}}</span>
	</div>

	<div class="tx--14 couprex__description">
		<p>{{condense description maxlen="60" truncation="..."}}</p>
	</div>

	<img class="couprex__image" src="{{imageProxy image}}">
</div>
