.tile--go_watch_it {
  height: 185px;
}

.tile--go_watch_it .tile__body .image-holder {
  text-align: center;
}

.tile--go_watch_it .tile__body .image-holder img {
  width: 130px;
}

.tile--go_watch_it .tile__body .data {
  height: 60px;
  color: black;
}

.tile--go_watch_it .tile__body .data span.price {
  font-weight: bold;
  font-size: 15pt;
}

.tile--go_watch_it .tile__body .data .left {
  float: left;
  padding-left: 25px;
  padding-right: 14px;
  border-right: 1px solid #ddd;
  text-align: right;
}

.tile--go_watch_it .tile__body .data .right {
  float: right;
  padding-right: 25px;
  text-align: left;
}

.tile--go_watch_it .tile__body .data .single {
  text-align: center;
}

.tile--go_watch_it .tile__body .gwi-footer {
  text-align: center;
  margin-top: 10px;
  color: #888;
}

.tile--go_watch_it .tile__body .gwi-footer.double {
  /*margin-top: 50px;*/
}

.tile--go_watch_it .tile__body span.price.gwi-price--subscription {
    font-size: 16px;
}