.tile--route  {
    padding: 1.44em;
}

.zci--route .inactive  {
    background-color: #f7f7f7;
}

.zci--route .tx-clr--lt {
/* 	line-height: 7px; */
}

.zci--route .text--primary {
    line-height: 1.3em;
    font-size: 1.28em;
}

.zci--route .text--secondary {
    line-height: 1.3em;
    font-size: 1.04em;
}

.zci--route .tile__schedule {
    color: #878787;
    font-size: 12px;
}

.zci--route td {
	padding: 0px 1em 0px 0px;
}

.zci--route td:first-child {
    padding-left: 0px;
}

.zci--route td:last-child {
    padding-right: 0px;
}

.zci--route .divider {
    background-color: #e4e4e4;
    height: 1px;
    border: 0;
    margin: 1.2em 0;
}

.zci--route .dot {
	border-radius: 50%;
	width: 4px;
	height: 4px;
	border: solid 2px white;
	display: inline-block;
	position: relative;
	top: -9px;
}

.zci--route .ok {
    background-color: #5b9e4d;
}

.zci--route .not {
    background-color: #de5833;
}

.zci--route .progress__bar {
	width: 100%;
	height: 2px;
	background-color: #e4e4e4;
	margin: 1em 0px 1em 0px;
}

.zci--route .progress__complete {
	height: 2px;
}

.zci--route .tile__date {
    float: right;
    text-align: right;
    padding-top: 3px;
}

.zci--route .tile__ok {
    color: #5b9e4d;
}

.zci--route .tile__not {
    color: #de5833;
}

.zci--route .tile__datetime {
    color: #888;
}

.zci--route .has_landed {
    background-color: #F7F7F7;
}
