.tile--route  {
    width: 28em;
    padding: 1.44em;
}

.zci--route .inactive  {
    background-color: #f7f7f7;
}

.zci--route .text--primary {
    line-height: 1.3em;
    font-size: 1.28em;
}

.zci--route .text--secondary {
    line-height: 1.3em;
    font-size: 1.04em;
}

.zci--route .tile__schedule {
    color: #878787;
    font-size: 12px;
}

.zci--route .tile__city {
    width: 44%;
}

.zci--route .tile__gate {
    width: 13%;
}

.zci--route .tile__scheduled {
    width: 25%;
}
.zci--route .tile__terminal {
    width: 18%;
}

.zci--route .divider__inactive {
    background-color: #e4e4e4;
    height: 1px;
    border: 0;
}
.zci--route .divider__active {
    background-color: #e4e4e4;
    height: 1px;
    border: 0;
    margin: 1.2em 0;
}

.zci--route .tile__date {
    float: right;
    text-align: right;
}

.zci--route .tile__ok {
    color: #5b9e4d;
}

.zci--route .tile__not {
    color: #de5833;
}
