.tile--route  {
    width: 37em;
}

.zci--route .tile__schedule {
    color: #878787;
    font-size: 12px;
}

.zci--route .tile__time {
    font-size: 2em;
}

.zci--route .tile__heading {
    margin-bottom: 1em;
}

.zci--route .tile__flightID {
    font-size: 2em;
    padding-bottom: 0;
    padding-top: 0;
}

.zci--route .tile__airports {
    font-size: 1.5em;
    padding-bottom: 0;
    padding-top: 0;
}

.zci--route .tile__ok {
    color: #60AB5D;
}

.zci--route .tile__not {
    color: #C14316;
}

.zci--route .tile__date {
    color: #B3B3B3;
    float: right;
    text-align: center;
    font-weight: 600;
}

.zci--route .tile__week {
    font-size: 12px;
}

.zci--route .tile__day {
    line-height: 12px;
    font-size: 1.5em;
}

.zci--route .na {
    color: #999;
}

.is-mobile .tile--route {
    width: 100%;
}