<div class="record">
    <table class="record__body">
        <tr class="record__row">
            <td class="record__cell__key">Types</td>
            <td class="record__cell__value">
                {{#concat types sep=", " conj=", "}}{{this}}{{/concat}}
            </td>
        </tr>
        {{#if eggGroups}}
            <tr class="record__row">
                <td class="record__cell__key">Egg groups</td>
                <td class="record__cell__value">
                    {{#concat eggGroups sep=", " conj=", "}}{{this}}{{/concat}}
                </td>
            </tr>
        {{/if}}
        {{#if evolutions}}
            <tr class="record__row record__row--evolution">
                <td class="record__cell__key">Evolves into</td>
                <td class="record__cell__value">
                    <a href="?q={{evolutions.0.to}}+pokemon">{{evolutions.0.to}}</a>
                </td>
            </tr>
        {{/if}}
    </table>
</div>