<span class="detail__brand">{{publisher}}</span>
{{#if year}}
    <span class="detail__sep"></span>
    <span class="detail__brand">{{year}}</span>
{{/if}}
{{#if pages}}
    <div><span class="detail__brand">{{pages}} pages</span></div>
{{/if}}
