<div class="one-line">
  {{#if online }}
  <span class="online">&#x25B2; {{uptime}}</span>
  {{else}}
  <span class="online">&#x25BC; {{downtime}}</span>
  {{/if}}
  {{#if bandwidth}}
  <span class="bandwidth">{{bandwidth}}</span>
  {{/if}}
</div>
