.zci--tor_node .online {
    color: #4b9e4d;
}

.zci--tor_node .offline {
    color: #f00;
}

.zci--tor_node .one-line .online {
    color: #4b9e4d;
    float: left;
}

.zci--tor_node .one-line .offline {
    color: #f00;
    float: left;
}

.zci--tor_node .one-line .bandwidth {
    float: right;
}

.zci--tor_node .text--primary {
    font-size: 1.5em;
}

.zci--tor_node .tile--tor_node {
    height: 12em;
    width: 20em;
}

.zci--tor_node .tile__body.has-foot {
    padding-bottom: 0;
}

.tile--tor_node .tile__title {
    padding-top: 6px;
    margin-bottom: 0;
}

.tile--tor_node .tile__footer {
    margin-top: 1em;
}

.tile--tor_node .tile__icon {
    float: right;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0.75em;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 2px;
    background-color: #e8e8e8;
}
