.zci--tor_node div {
    line-height: normal;
}

.zci--tor_node .online {
    color: #0f0;
}

.zci--tor_node .offline {
    color: #f00;
}

.zci--tor_node .one-line .online {
    color: #0f0;
    float: left;
}

.zci--tor_node .one-line .offline {
    color: #f00;
    float: left;
}

.zci--tor_node .one-line .bandwidth {
    float: right;
}

.tile--tor_node .tile__title {
    font-family: "Courier New", Courier, monospace;
}

.tile--tor_node .tile__icon {
    float: right;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0.75em;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 2px;
}
