<div class="text--secondary">
    <div class="tile__update__info one-line">Creator:  {{creator}}</div>
    <div class="tile__update__info one-line">Updated {{pushed_at}}</div>
    <span class="{{install_class}}">◢</span>
</div>


