<div>
<table class="tableposition">
{{#each this}}
	{{#if this.year}}
<tr>
		<td class="divider"><p class="year">{{this.year}}</p></td>
		<td><p class="timevent">{{this.str}}</p></td>
</tr>
	{{/if}}
{{/each}}
</table>
</div>

