<div>
    <div class="quandl-values  quandl-change-{{changeDirection}}">
        <span class="quandl-value text--primary">{{value}}</span>
        <span class="quandl-percent">{{change_percent}}%</span>
    </div>
</div>
