.zci--quandl_fundamentals h3 {
    margin-bottom: .5em;
    font-weight: 400;
}

.zci--quandl_fundamentals .c-base__content {
    margin-top: 0em;
}

.zci--quandl_fundamentals .value {
    font-weight: 600;
}

.zci--quandl_fundamentals .change-up .percent {
    color: #60ae50;
    font-weight: 300;
}

.zci--quandl_fundamentals .change-down .percent {
    color: #c9481c;
    font-weight: 300;
}
    
/* green arrow up */
.zci--quandl_fundamentals .change-up .percent:before {
    content: '';
    border: 3px solid transparent;
    border-bottom-color: #60ae50;
    border-top-width: 0px;
    border-bottom-width: 5px;
    height: 5px;
    line-height: 5px;
    margin-right: .25em;
    display: inline-block;
    position: relative;
    top: -5px;
}
    
/* red arrow down */
.zci--quandl_fundamentals .change-down .percent:before {
    content: '';
    border: 3px solid transparent;
    border-top-color: #c9481c;
    border-top-width: 5px;
    border-bottom-width: 0px;
    height: 5px;
    line-height: 5px;
    margin-right: .25em;
    display: inline-block;
}