<div id="ddg_traffic_stats_graph"></div>

<div id="ddg_traffic_stats_graph_annotations">
  <p>Annotations</p>
  <div class="inner">
    A - <a href="http://donttrack.us">DontTrack.us</a><br/>
    B - <a href="http://www.wired.com/epicenter/2011/01/duckduckgo-google-privacy/">SF billboard</a><br/>
    C - <a href="http://dontbubble.us">DontBubble.us</a><br/>
    D - <a href="http://www.time.com/time/specials/packages/article/0,28804,2087815_2088176_2088178,00.html">TIME's Top 50 Websites</a><br/>
    E - <a href="http://www.usv.com/2011/10/duck-duck-go.php">USV investment</a><br/>
    F - <a href="https://duck.co/topic/new-visual-design-is-live">Visual Refresh</a><br/>
    G - <a href="http://articles.washingtonpost.com/2012-01-24/business/35439449_1_alma-whitten-intuitive-google-experience-data-liberation">Google privacy policy change</a><br/>
    H - <a href="http://www.washingtonpost.com/business/ducking-google-in-search-engines/2012/11/09/6cf3af10-2842-11e2-bab2-eda299503684_story_1.html">Washington Post profile</a><br/>
    I - Surveillance revelations
  </div>
</div>
