.brainy__quote--container {
    overflow: hidden;
}

.brainy__quote {
    quotes: "“" "”";
    font-size: 1.5em;
    font-weight: 300;
}

.brainy__quote:before {
    color: #D4D4D4;
    content: open-quote;
    float: left;
    font-size: 4em;
    margin-top: -0.25em;
}

.brainy__attribution {
    color: #999;
    float: left;
}

.zci--brainy_quote .zci__content.chomp {
    max-height: none;
    margin-bottom: 0;
}

.zci--brainy_quote .zci__body.zci__body--info {
    padding-left: 0.25em;
}
