.brainy__quote--container {
    overflow: hidden;
    margin-left: -2.8em;
}

.brainy__quote {
    quotes: "“" "”";
    font-size: 1.5em;
    font-weight: 300;
}

.zci--brainy_quote .zci__body {
    margin-left: -2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2.8em;
}

.brainy__quote:before {
    color: #D4D4D4;
    content: open-quote;
    float: left;
    font-size: 4em;
    margin-top: -0.25em;
    margin-right: 0.1em;
}

.brainy__attribution {
    color: #999;
    float: left;
    margin-top: 5px;
}

.zci--brainy_quote .zci__content.chomp {
    max-height: none;
    margin-bottom: 0;
}

.zci--brainy_quote .zci__body.zci__body--info {
    padding-left: 0.25em;
}

.is-mobile .brainy__quote--container {
    margin-left: 0px;
    margin-bottom: 0.5em;
}

.is-mobile .zci--brainy_quote .zci__more-at {
    margin-left: 40px;

}

.is-mobile .zci--brainy_quote .brainy__attribution {
    margin-left: 40px;
}

.zci__body .c-list__items {
    border-top: none; 
}

.zci__body .c-list__items li:last-child {
    border-bottom: none;
}
