.zci--brainy_quote .brainy__attribution {
    margin-top: 5px;
}

.zci--brainy_quote .zci__content.chomp {
    max-height: none;
    margin-bottom: 0;
}

.zci--brainy_quote .zci__body.zci__body--info {
    padding-left: 0.25em;
}

/* List View */
.zci--brainy_quote .zci__body .c-list__items {
    border-top: none;
}

.zci--brainy_quote .zci__body .c-list__items li:last-child {
    border-bottom: none;
}

.zci--brainy_quote .zci__body .c-list__content {
    margin-top: 0;
}
