.zci--brainy_quote .container {
    overflow: hidden;
    margin-left: 0.02em;
    font-size: 1.5em;
    font-weight: 300;

}

.zci--brainy_quote .left__quote {
    margin-top: -0.25em;
    margin-right: 0.1em;
    margin-left: -0.5em;
    float: left;
    font-size: 5.5em;
    font-weight: 300;
}


.zci--brainy_quote .right__quote {
    color: #d0d0d0;
    margin-top: -0.25em;
    margin-left: 0.1em;
    font-size: 4em;
    position: absolute;
}

.zci--brainy_quote .subcontainer {
    float: left;
    max-width: 80%;
}

.zci--brainy_quote .zci__body {
    padding-bottom: 0.5em;
}

.zci--brainy_quote .attribution {
    color: #999;
    float: left;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.zci--brainy_quote .zci__content.chomp {
    max-height: none;
    margin-bottom: 0;
}

.zci--brainy_quote .zci__body.zci__body--info {
    padding-left: 0.25em;
}

.is-mobile .brainy__quote--container {
    margin-left: 0px;
    margin-bottom: 0.5em;
}

.is-mobile .zci--brainy_quote .zci__more-at {
    margin-left: 40px;

}

.is-mobile .zci--brainy_quote .brainy__attribution {
    margin-left: 40px;
}
