<div class="left__quote tx-clr--platinum-dark">“</div>
<div class="container">
        <div class="subcontainer">{{ellipsis q 150}}<span class="right__quote">”</span></div>
</div>
<div class="attribution">
    {{person}}
</div>
