<div class="brainy__quote--container">
  <div class="brainy__quote">
    {{ellipsis q 85}}
    <span class="end_quote"></span>
  </div>
  <div class="brainy__attribution">
    {{person}}
  </div>
</div>
