<div class="brainy__quote--container">
    <p class="brainy__quote">
        {{ellipsis q 150}}
    </p>
    {{#if a}}
    <p class="brainy__attribution tx-clr--grey t-s">
        {{a}}
    </p>
    {{/if}}
</div>
