.tile--in_theaters .tile__body {
    padding: 0.8em 1em;
    font-family: "ProximaNova";
}

.tile--in_theaters .tile__title {
    font-size: 1.3em;
    font-weight: 600;
    height: 1.3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tile--in_theaters .tile__media {
    height: 9.5em;
}

.tile--in_theaters .tile__media__img {
    margin-top: -20%;
    min-width: 100%;
}

.tile--in_theaters .tile__source,
.tile--in_theaters.highlight .tile__source {
    color: #999;
}

.detail__media.detail__media--in_theaters {
    width: 30%;
    margin-right: 1em;
    text-align: center;
}

.tileview--grid .detail__media--in_theaters {
    text-align: center;
}

.detail__body--in_theaters .detail__title {
    padding: 0;
}

.detail__body--in_theaters .detail__source {
    padding-bottom: 1em;
}

.detail__body--in_theaters .detail__source .stars {
    margin-right: 0;
}

.detail__body--in_theaters .stars--unrated .star {
    color: #d0d0d0;
}

.detail__body--in_theaters .detail__separator {
    padding: 0 5px;
    color: #c5c5c5;
}

.detail__body--in_theaters .detail__links__btn {
    margin-top: 1em;
}
