div.metadata {
    color: rgb(119, 119, 119);
    font-size: 90%;
}

#ddgcarousel #in_theaters li.ddgc_item img {
    max-height: 130px;
    max-width: none;
}

#ddgcarousel #in_theaters li.ddgc_item {
    height: 165px;
}

#ddgcarousel #in_theaters #ddgc_slider {
    padding-bottom: 45px;
}