.metadata {
    color: rgb(119, 119, 119);
    font-size: 90%;
}

#in_theaters li.ddgc_item img {
    max-height: 130px !important;
    max-width: none !important;
}

#in_theaters li.ddgc_item {
    height: 165px;
}

#in_theaters #ddgc_slider {
    height: 180px;
}