<div class="in_theaters__runtime">
  {{#if runtime}}
    <span>Run Time: {{InTheaters_time runtime}}</span>
  {{/if}}
  {{#and runtime mpaa_rating}}
    <span class="sep"></span>
  {{/and}}
  {{#if mpaa_rating}}
    <span>{{mpaa_rating}}</span>
  {{/if}}
</div>

{{#if ratings.critics_rating}}
<div class="in_theaters__rating">
  <span class="in_theaters__rating__score">
      {{ratings.critics_score}}% {{ratings.critics_rating}}
  </span>
  <span class="hide--mob">
      <span class="sep"></span>
      <span class="in_theaters__rating__copyright">
          Rotten Tomatoes<sup>&#169;</sup> Score
      </span>
  </span>
</div>
{{/if}}

