<div>
<div style="display: inline-block;width: 80%;padding-right: 10PX;">{{description}}</div>
<div style="display:inline-block;vertical-align:top;"><img src="{{imageurl}}" width="100"></div>
</div>
