#video li.ddgc_item img {
    max-width: 100% !important;
    max-height: 100% !important;
}

#video li.ddgc_item div.image_wrap{
    position: relative;
}

#video li.ddgc_selected div.image_wrap::before{
    content: "Now Playing";
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 18px;
    line-height: 90px;
    text-align: center;
}

#video li.ddgc_item span {
    width: 100%;
    margin-top: 5px;
    margin-bottom: none;
}

#video #ddgc_detail {
    padding: 15px 15px 0px;
    border-bottom: none;
    background: #FFF;
}

#video #ddgc_slider {
    border-top: none;
    padding-top: 8px !important;
}

#video #ddgc_detail > div {
    height: 100%;
}