#spice_video .more-links {
    padding: 0px 10px 0px 0px;
}

#spice_video .description {
    color: rgb(119, 119, 119);
    font-size: smaller;
}

#spice_video li.ddgc_item img {
    max-width: 100% !important;
    max-height: 80px !important;
    margin: 0 auto;
}

#spice_video img.favicon {
    display: inline;
    width: 16px;
    height: 16px;
    vertical-align: -16%;
}

#spice_video li.ddgc_item div.image_wrap {
    position: relative;
}

#ddgc_detail {
    padding: 9px;
    border-bottom: none;
    background: #FFF;
    height: 100%;
}

#spice_video li.ddgc_selected div.image_wrap::before{
    content: "Now Playing";
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 18px;
    line-height: 90px;
    opacity: 0.75;
    text-align: center;
}

#spice_video .app_platform {
  display: inline-block;
  border-radius: 3px;
  padding: 5px 5px 2px 5px;
  vertical-align: text-bottom;
  background: #EEE;
  border: 1px solid #DDD;
  color: black;
}

#spice_video .links {
    font-size: smaller;
    right: 8px;
    bottom: 21px;
    display: inline-block;
}

#spice_video .app_platform:hover {
  border: 1px solid #80b5ff;
  background: #f7f7f7;
  cursor: pointer;
  text-decoration: none;
}