#video .more-links {
    padding: 0px 10px 0px 0px;
}

#video .description {
    color: rgb(119, 119, 119);
    font-size: 12px;
}

#video li.ddgc_item img {
    max-height: 115px !important;
    max-width: none !important;
}