{{#if description}}
  <p>
    Instructions: {{description}}
  </p>
{{/if}}
{{#if email}}
  <p>
    <a href='mailto:{{email}}'>Send Email</a>
  </p>
{{/if}}
{{#if delete_url}}
  <p>
    URL: <a href='{{delete_url}}'>{{delete_url}}</a>
  </p>
{{/if}}