{{#if notes}}
  <p>
    {{notes}}
  </p>
{{/if}}
{{#if delete_url}}
  <p>
    <a href='{{delete_url}}'>Account Deletion Page</a>
  </p>
{{/if}}
{{#if email}}
  <p>
    <a href='mailto:{{email}}'>Email Support</a>
  </p>
{{/if}}