{{#if delete_url}}
    <div class="one-line">
         <a href='{{delete_url}}'>Account Deletion Page</a>
     </div>
{{/if}}
{{#if email}}
    <div class="one-line">
        <a href='mailto:{{email}}'>Email Support</a>
    </div>
{{/if}}