.zci--seat_geek_events_by_artist .price {
    font-weight: 600;
}

.zci--seat_geek_events_by_artist .price,
.zci--seat_geek_events_by_artist .noprice {
    margin-top: 1.75em;
    height: 1.1em;
    float: left;
}

.zci--seat_geek_events_by_artist .seat_geek-artist {
    font-size: 1.1em;
}

.zci--seat_geek_events_by_artist .where {
    height: 1.4em;
}

.zci--seat_geek_events_by_artist .where.city,
.zci--seat_geek_events_by_artist .where.place {
    width: 9.3em;
}

    .is-mobile .zci--seat_geek_events_by_artist .where.city {
        width: 7em;
    }
