.zci--expatistan i {
    font-style: normal;
}

.zci--expatistan b {
    font-weight: 400;
}

.zci--expatistan h5 {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    color: #333;
}

.zci--expatistan p {
    margin-top: 0;
    padding-top: 0;
    color: #999;
}

.zci--expatistan .zci__more-at {
    margin-bottom: 0.1em;
}

@media only screen
and (max-device-width : 480px) {
    .zci--expatistan h5 {
        font-size: 1.15em;
        padding-top: 0.05em;
    }

    .zci--expatistan p {
        font-size: 0.85em;
    }

    .zci--expatistan .zci__more-at {
        margin-bottom: 0;
    }
}