   <h1 class="zci__header tx--l4">{{title}}</h1>
    <div class="tile__content side_by_side">
        <div class="left half">
            <p class="tx-clr--dk tx--l4">Type</p>
            <p class='tx-clr--dk tx--25'>{{type}}</p>
        </div>

        <div class="right half">
            <p class="tx-clr--dk tx--l4"></p>
            <p class='tx-clr--dk tx--25'></p>
        </div>
    </div>