 {{#if prizeCategory}}
    <span class="one-line text--secondary" >Year : <b>{{year}}</b></span><br/> 
 {{/if}}
 
 {{#if prizeYear}}
    <span class="one-line text--secondary" >Category : <b>{{toUpperCase category}}</b></span><br/>
 {{/if}}