 {{#if hasPrizeCategory}}
    <span class="one-line text--secondary" ><b>{{year}}</b></span><br/>
 {{/if}}
 
 {{#if hasPrizeYear}}
    <span class="one-line text--secondary" ><b>{{category}}</b></span><br/>
 {{/if}}