#zero_click_image {
    float: right;
}
#zero_click_image img {
  max-width: 71px;
  max-height: 100px; /* A4 ratio */
  border: 1px solid black;
  float: right;
}

.hide {
    display: none;
}

hr.horizontal_line {
    margin: 5px 0;
}

#zero_click_abstract {
    max-width: auto !important;
}