<div>
    {{#if description}}
        Description: {{description}} <br>
    {{/if}}
    {{#if imaging_telescopes}}
        Imaging telescopes: {{imaging_telescopes}} <br>
    {{/if}}
    {{#if imaging_cameras}}
        Imaging cameras: {{imaging_cameras}} <br>
    {{/if}}
    View: <a href='{{url_hd}}'>High Definition</a>
</div>
    
