{{#if latest_release}}
    <div>Latest Release - {{latest_release}}</div>
{{/if}}

<div id="meta-info">
    {{#if stars}}
        <i class="star starIcon"></i>
        <span>Stars - {{stars}}</span>
    {{/if}}
</div>