<div class="one-line tile__location">{{location}}</div>
<div class="tile__meta"><span class="tile__meta__type"> <span class="github_jobs__badge {{status_class}}"></span>{{type}}</span> <span class="tile__meta__recent">{{created_at}}</span> </div>
