<div class="lobbying_container">
	<table id="lobbying_table">
		<tbody>
			<th>Name</th>
			<th class="lobbying_type">Type</th>
			<th>Contributed</th>
			<th class="lobbying_amt">Lobbying</th> 
			<th>Received</th>
			<th>
		</tbody>
	</table>
</div>

