<div class="lobbying_container">
	<table id="lobbying_table">
		<tbody>
			<th>Name</th>
			<th>Type</th>
			<th>Contributed</th>
			<th>Lobbying</th> 
			<th>Received</th>
			<th>
		</tbody>
	</table>
</div>

