<div class="pull-left">
    <span class="ddgsi ddgsi-user"></span>
    <span class="news-source">{{source}}</span>
</div>
<div class="pull-right">
    <span class="ddgsi ddgsi-clock"></span>
    <span class="tile__time">{{relative_time}}</span>
</div>