<div class="dogo_news_tile_footer">
    <span class="news-more-at">
    <img width="16" height="16" class="tile__favicon" src="//icons.duckduckgo.com/ip2/www.dogonews.com.ico">
    <span class="news-source">{{source}}</span>
    </span>
    <span class="sep  tile__sep"></span>
    <span class="tile__time">{{relative_time}}</span>
</div>