/* Tile view */

.zci--currency .tile--c {
    width: 13em;
    height: 12.5em;
}

.zci--currency .tile--s.tile--c {
    text-align: center;
    color: #000;
}

.zci--currency .tile--s img {
    height: 32px;
    vertical-align: top;
    border: 0.2em solid #d0d0d0;
    border-radius: 50%;
    background-color: #d0d0d0;
}

.zci--currency .tile--s .currency--symbol {
    margin-top: 1em;
}

.zci--currency .tile--s .currency--amount {
    font-size: 2.2em;
    font-weight: 600;
}

.zci--currency .tile--s .currency--rate {
    margin-top: 0.6em;
}

.zci--currency .tile--s .currency--rate.rate--gray {
    color: #888;
}

/* Desktop view */

.zci--currency section {
    display: inline-block;
}

.zci--currency-result {
    margin: 0.75em 1.5em 0.5em 0em;
    line-height: 3em;
    display: inline-block;
}

.zci--currency-group {
    white-space: nowrap;
    display: inline-block;
}

.zci--currency-second-part {
    white-space: nowrap;
}

    .is-mobile .zci--currency-second-part {
        text-align: center;
        white-space: inherit;
    }

    .is-mobile .zci--currency-first-part {
        text-align: center;
    }

    .is-mobile .zci--currency .tile--s.large img {
        vertical-align: middle;
    }

.zci--currency-ratesinfo {
    border-left: 1px solid #d0d0d0;
    margin-top: 1.5em;
    padding-left: 2em;
    display: inline-block;
}
    
    .ie8 .zci--currency-ratesinfo {
        margin-left: 2em;
    }

.zci--currency-result img {
    height: 32px; 
    margin-top: 1em;
    vertical-align: -2px;
    width: 32px;
}

.zci--currency-container {
    height: 5em;
}

.zci--currency-amount {
    color:#000;
    font-size: 2.7em;
    font-weight: bold;
    padding: 0 0.1em 0 0.2em;
}

    .is-mobile .zci--currency-amount {
        font-size: 2.2em;
    }

    .is-mobile .large .zci--currency-amount {
        display: block;
    }

.zci--currency-symbol {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: top;
}

    .is-mobile .zci--currency-symbol {
        font-size: 1em;
        font-weight: 300;
    }

    .is-mobile .zci--currency-symbol-large {
        font-size: 1.2em;
        padding-left: 0.3em;
    }

    .is-mobile .zci--currency-symbol-small {
        display: none;
    }

    .is-mobile .zci--currency-symbol-large {
        display: none;
    }

    .is-mobile .small .zci--currency-symbol-small {
        display: initial;
        vertical-align: top;
        line-height: 27px;
    }

    .is-mobile .large .zci--currency-symbol-large {
        display: initial;
    }

.zci--currency-equal {
    font-size: 2em;  
    margin: 0 0.5em;
}
    .ie8 .zci--currency-equal {
        margin-right: 0.5em;
        margin-left: 1.5em;
    }

    .is-mobile .zci--currency-equal .horizontal {
        border-bottom: 1px solid #dfdfdf;
        display: inline-block;
        width: 39.8%;
        vertical-align: 0.35em;
    }

    .is-mobile .zci--currency-equal .equal {
        padding: 0 0.5em 0 0.5em;
    }

    .is-mobile .zci--currency-equal {
        text-align: center;
    }

.zci--currency-link {
    clear: both;
    margin-left: 1em;
    margin-left: 1.3em;
    padding: 1em 0;
}

.zci--currency-bar {
   font-size: 1.2em;  
   padding: 0 0.5em;
   vertical-align: middle;
}

.zci--currency-link a {
    color: #888;
    font-size: 0.9em;
}

.zci--currency-link span {
    color: #888;
    font-size: 1em;
}

@media only screen and (max-width : 600px) {
    .zci--currency-result {
        font-size: 0.9em;
    }
}

/* Mobile view */

.is-mobile .tile--s {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: inherit;
}

.is-mobile .zci--currency .zci__metabar__more-at.custom {
    line-height: inherit;
}

.is-mobile .zci--currency-ratesinfo-mobile {
    text-align: center;
}

.is-mobile .zci--currency .market-rates {
    float: left;
    line-height: 1.3em;
    padding-left: 0.5em;
    padding-top: 0.1em;
}

.is-mobile .zci--currency-ratesinfo-mobile .horizontal {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 84.5%;
    vertical-align: 0.35em;
}