<div class="zci__main  zci__main--detail c-base">
    <div class="zci__body">

        <!-- LEFT INPUT SECTION -->
        <div class="frm clearfix">
            <div class="input__wrap input__wrap--left shadow">
                <input class="frm__input frm__input--left" id="zci--currency-amount-left" data-processed="{{amount}}" value="{{amount}}" type="number">
                <div class="frm__select">
                    <select class="frm__select--left zci--currency-symbol" id="zci--currency-symbol-left"></select>
                </div>
            </div>

            <div class="equals-sign tx-clr--slate">=</div>

            <!-- RIGHT INPUT SECTION -->
            <div class="input__wrap input__wrap--right shadow">
                <input class="frm__input frm__input--right" id="zci--currency-amount-right" data-processed="{{toamount}}" value="{{toamount}}" type="number">
                <div class="frm__select">
                    <select class="frm__select--right zci--currency-symbol" id="zci--currency-symbol-right"></select>
                </div>
            </div>
        </div>

    </div>
</div>
