.zci--dogo_movies .tile--dogo_movies  {
    width: 12em;
}

.zci--dogo_movies .tile__media__img {
    min-width: 100%;
    height: 100%;
    margin-top: 0;
    text-indent: -9999px;
    background-color: #f7f7f7;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

@media only screen and (min-width: 83.6em) {
    .zci--dogo_movies .tileview--grid .tile--dogo_movies {
        width: 11.98%;
    }  
} 

.zci--dogo_movies .tile__media {
    height:0;
    padding-bottom:148.333%;
}

.zci--dogo_movies h5.detail__title.detail__tile--pr {
    padding-bottom: 0;
}

.zci--dogo_movies .detail__subtitle {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1.5em;
}

.is-mobile .zci--dogo_movies .detail__subtitle {
    position: relative;
}

.zci--dogo_movies p.detail__desc {
    padding-bottom: 1.65em;
}

.is-mobile .zci--dogo_movies p.detail__desc {
    padding-bottom: 5em;    
}

.zci--dogo_movies .detail__subtitle sup {
    font-size: 0.5em;
}

.zci--dogo_movies .detail .detail__media--pr {
    max-width: 180px;
}

.zci--dogo_movies .detail__media--pr--s .detail__media__img {
    max-height: 180px;
}

.is-mobile .detail__media--pr--s {
    overflow: visible;
}

.is-mobile .detail__body--pr--s--sec {
    margin-top: 1.5em;
}

.is-mobile .detail__body--pr--s--pri {
    min-height: 165px;
    padding-bottom: 0em
}

.is-mobile .zci--dogo_movies .detail .detail__media--pr {
    max-width: 100%;
}

.is-mobile .zci--dogo_movies .btn.btn--primary {
    position: absolute;
    bottom: 1em;
}

.is-mobile .zci.is-active {
    padding-bottom: 0em;
}

.zci--dogo_movies .dogo-badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.zci--dogo_movies .dogo-badge {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999;
}

.zci--dogo_movies .dogo-badge-info {
    background-color: #3a87ad;
}

.zci--dogo_movies .dogo-badge-success {
    background-color: #468847;
}

.zci--dogo_movies .dogo-badge-warning {
    background-color: #f89406;
}

.zci--dogo_movies .mpaa-rating {
    height: 13px;
    border-radius: 3px;
    position:relative;
    top:3px;
}

.zci--dogo_movies .mpaa-g {
    border: 2px solid #0c9346;
}

.zci--dogo_movies .mpaa-pg {
    border: 2px solid #f0592c;
}

.zci--dogo_movies .mpaa-pg-13 {
    border: 2px solid #632b8c;
}

.zci--dogo_movies .mpaa-r {
    border: 2px solid #eb1c24;
}

.zci--dogo_movies .mpaa-nc-17 {
    border: 2px solid #0f74b8;
}