<img src="//cdn.dogomedia.com/assets/dogomovies-6959aaba3ab072822498c8e557a0c19a.png" alt="DOGOmovies"/>
{{#if ratings.count}}
<p>
    <span class="dogo-badge dogo-badge-info">{{ratings.count}} reviews</span>
</p>
{{/if}}