.zci--bitcoinbalance .balance-wrapper {
    overflow: auto;
    padding-bottom: 6px;
}

.zci--bitcoinbalance .balance-box {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #E9E9E9;
    border-radius:3px;
    padding: 2% 22px 3% 22px;
}

.zci--bitcoinbalance .btc-title {
    position: relative;
    float: left;
    top: 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 40px;
    font-size: 15px;
}

.zci--bitcoinbalance .btc-balance {
    position: relative;
    float: right;
    top: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 35px;
}

@media screen and (max-width: 568px) {
    
    .zci--bitcoinbalance .zci__body {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .zci--bitcoinbalance .balance-wrapper {
        padding-bottom: 0;
    }
    
    .zci--bitcoinbalance .balance-box {
        width: 100%;
        padding: 2% 5% 3% 5%;
    }
}

@media screen and (max-width: 480px) {
    .zci--bitcoinbalance .btc-title {
       top: 5px;
    }
    
    .zci--bitcoinbalance .btc-balance {
        top: 3px;
        font-size: 20px;
    }
}