.zci--bitcoinbalance .balance-wrapper {
    margin-bottom:12px;
    overflow: auto;
}

.zci--bitcoinbalance .balance-box {
    display:block;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 100%;
    padding:20px 20px 17px 20px; 
    background: white;
    border-radius:3px;
}

.zci--bitcoinbalance .bitcoin-logo {
    position: absolute;
    height: 44px;
    width: 44px;
}

.zci--bitcoinbalance .balance {
    margin-left: 54px;
    word-break: break-word;
    font-size:35px;
    font-weight:100;
}

@media screen and (max-width: 480px) {
    
    .zci--bitcoinbalance .balance-box {
        padding:20px; 
    }
    
    .zci--bitcoinbalance .bitcoin-logo {
        height: 35px;
        width: 35px;
    }
    
    .zci--bitcoinbalance .balance {
        margin-left: 44px;
        font-size: 26px;
    }
}