<div class="clearfix balance-wrapper">
    <div class="clearfix balance-box">
        <img class="bitcoin-logo" src="https://s3.amazonaws.com/chain-assets/spice-bitcoin-logo-88x88.png">
        <div class="balance">{{balance}} BTC</div>
    </div>
</div>