#spice_khan_academy li.ddgc_item div.image_wrap{
	position: relative;
}

#spice_khan_academy li.ddgc_selected div.image_wrap::before{
	content: "Now Playing";
	background: #000;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	color: white;
	font-size: 18px;
	line-height: 90px;
	text-align: center;
}

#spice_khan_academy li.ddgc_item img {
	max-width: 100% !important;
	max-height: 80px !important;
	margin: 0 auto;
}

#spice_khan_academy li.ddgc_item span {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0;
}

#spice_khan_academy #ddgc_detail {
	padding: 9px 8px 0;
	border-bottom: none;
	background: #FFF;
}

#spice_khan_academy #ddgc_slider {
	border-top: none;
	padding-top: 8px !important;
}

#spice_khan_academy #ddgc_detail > div {
	height: 100%;
}
