#zero_click_abstract {
  margin: 0 5px !important;
  padding: 0 !important;
}

#zero_click_abstract {
  position: relative;
}

#zero_click_image {
  display: none !important;
}

#khan:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#khan {
  zoom: 1;
  margin: 4px 0;
}

#khan #nav {
  margin: 0;
  position: relative;
  overflow: hidden;
}

#khan #frame {
  margin: 0 25px;
  overflow: hidden;
}

#khan ul {
  margin: 0;
  padding: 0;
}

#khan li.item {
  float: left;
  list-style-type: none;
  height: 130px;
  margin: 0;
  padding-top: 5px;
  border: 1px solid transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
}

#khan li.item:hover {
  background: url("http://duckduckgo.com/assets/results_highlight_bg.v101.png") repeat-x;
  background-color: #eaeaea;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

#khan li.sel, #khan li.sel:hover {
  background-image: none !important;
  background-color: #eaeaea;
  border: 1px solid #fff;
}

#khan li.item a {
  color: #333;
  text-decoration: none;
}

#khan li.item a:hover {
  text-decoration: none;
}

#khan li.item img {
  margin: 0 auto 5px auto;
  max-width: 120px;
}

#khan li.item p {
  max-width: 120px;
  margin: 0 auto;
  font-size: 12px;
}

#khan a.npa {
  font-size: 30px;
  color: #bfbfbf;
  position: absolute;
  top: 30px;
  text-decoration: none !important;
}

#khan a.npah {
  color: #eee !important;
}

#khan #nexta {
  right: 0;
}

#khan #preva {
  left: 0;
}

#khan #emb {
  margin-bottom: 4px;
  position: relative;
  display: none;
  background: #f9f9f9;
  left: 0;
  right: 0;
  z-index: 2;
}

#khan #emb iframe {
  width: 100%;
  height: 100%;
}

#khan #dots {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

#khan #dots p {
  margin: 0px;
  font-weight: normal;
  font-size: 13px;
  color: #ccc;
  padding: 0 2px;
}

#khan #dots a {
  padding: 0 2px;
  font-size: 16px;
  color: #ccc;
  text-decoration: none !important;
}

#khan #dots a.selected {
  color: #1168cc;
}

#khan #gr {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 25px;
  background: #eaeaea;
}