#zero_click_abstract {
  margin: 0 5px !important;
  padding: 0 !important;
}

#khan:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#khan {
  zoom: 1;
  position: relative;
  overflow: hidden;
  margin: 4px 0;
}

#khan #frame {
  margin: 0 25px;
  overflow: hidden;
}

#khan ul {
  margin: 0;
  padding: 0;
}

#khan li.item {
  float: left;
  list-style-type: none;
  width: 166px;
  height: 135px;
  margin: 0;
  padding-top: 5px;
  border: 1px solid transparent;
  text-align: center;
  overflow: hidden;
}

#khan li.item:hover {
  background: url("http://duckduckgo.com/assets/results_highlight_bg.v101.png") repeat-x;
  background-color: #eaeaea;
  border: 1px solid #bfbfbf !important;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}

#khan li.item a {
  color: #333;
}

#khan li.item a:hover {
  text-decoration: none;
}

#khan li.item img {
  margin: 0 auto 5px auto;
}

#khan li.item p {
  padding: 0 10px;
}

#khan a.npa {
  font-size: 30px;
  color: #bfbfbf;
  position: absolute;
  top: 30px;
}

#khan a.npa:hover {
  text-decoration: none;
}

#khan a.npah {
  color: #eee !important;
}

#nexta {
  right: 0;
}

#preva {
  left: 0;
}