<h3>
    <div class="fix">
        <div class="tile__title">{{title}}
            <div class="decoration">{{symbol}}</div>
        </div>
    </div>
</h3>

<div class="divider first"></div>
<div class="container">
    <div class="sub_container">
        <span class="tile__sub">{{description}}</span>
    </div>
</div>
<div class="divider"></div>

<div class="tile__media">
    <img src="{{img}}" />
</div>