#coupon_mountain li.ddgc_item p {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}

#coupon_mountain li.ddgc_item img {
    max-width: 95% !important;
}

#coupon_mountain #ddgc_detail #coupon_preview {
    overflow: hidden;
}

#coupon_mountain #ddgc_detail div.inline {
    display: inline-block;
}

#coupon_mountain #ddgc_detail .coupon_info {
    overflow: hidden;   
}

#coupon_mountain #ddgc_detail .coupon_code {
    color: #808080;
    float: left;
    margin-right: 20px;
    text-align: center;
}

#coupon_mountain #ddgc_detail .coupon_code span {
    display: block;
}

#coupon_mountain #ddgc_detail .coupon_expdate {
    color: gray;
}

#coupon_mountain .clear {
    clear: both;
}

#coupon_mountain #ddgc_detail a.button {
    display: inline-block;
    border-radius: 3px;
    padding: 3px;
    vertical-align: text-bottom;
    background: #EEE;
    border: 1px solid #DDD;
    color: black;
    min-width: 100px;
}

#coupon_mountain #ddgc_detail a.button:hover {
    background-image: none !important;
    background-color: #f7f7f7;
    border: 1px solid #80b5ff;
    cursor: pointer;
    text-decoration: none;
}