.zci--coupon_mountain input.tag {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.tile--coupon_mountain .tile__media {
    height: 5em;
}

.tile--coupon_mountain .tile__media__img {
    margin-top: 0;
}