.zci--maven tr {
    border-bottom: 1px solid #dedede;
}

.zci--maven tr:last-of-type {
    border-bottom: none;
}

.zci--maven td {
    padding:2px 0;
}

.zci--maven th,
.zci--maven td {
    padding-right: 15px;
}