.zci--maven table {
    width:100%;
    margin:5px;
}

.zci--maven tr {
    border-bottom:1px solid #efefef;
}

.zci--maven th {
    vertical-align:bottom;
    text-align:left;
    font-size:83.3%;
    font-style:italic;
    padding-left:3px;
}

.zci--maven td {
    padding:2px;
    max-width:250px;
}
