.zci--yoga_asanas img {
    max-width: none;
}

.zci--yoga_asanas .tile__media__img {
    height: 125%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.zci--yoga_asanas .tile__media {
    height: 14em;
}
