.zci--transit_septa .tile--transit_septa {
    text-align: center;
    width: 13em;
}

.tile--transit_septa .transit_septa__time {
    font-size: 2.3em;
    font-weight: 300;
}

.tile--transit_septa .transit_septa__details {
    margin-top: 5px;
    margin-bottom: 10px;
}

.tile--transit_septa .transit_septa__status-sep {
    height: 12px;
}

.tile--transit_septa .transit_septa__sep-line {
    background-color: #e1e1e1;
    height: 1px;
    width: 30px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.tile--transit_septa .transit_septa__status {
    margin-top: 10px;
    margin-bottom: 2px;
}

.tile--transit_septa .transit_septa__badge {
    background-color: #60AE50;
    height: 12px;
    border-radius: 6px;
    padding: 0 6px;
    display: inline-block;
}

.tile--transit_septa .transit_septa__delayed {
    background-color: #eea43e;
}

.tile--transit_septa .transit_septa__cancelled {
    background-color: #e34c2d;
}

.tile--transit_septa .transit_septa__cancelled-tile {
    background-color: #fafafa;
    border-color: #fafafa;
}

.tile--transit_septa .transit_septa__cancelled-tile .transit_septa__time,
.tile--transit_septa .transit_septa__cancelled-tile .transit_septa__details,
.tile--transit_septa .transit_septa__cancelled-tile .transit_septa__status {
    color: #bbb;
}
