.zci--color_picker .zci__body {
    width: 700px;
}

#color_picker_container .left {
    float: left;
}

#color_picker_container #saturation_value_picker {
    width: 256px;
    height: 256px;
    margin-bottom: 16px;
    position: relative;
}

#color_picker_container #hue_picker {
    width: 32px;
    height: 256px;
    margin-left: 16px;
    margin-bottom: 16px;
    position: relative;
}

#color_picker_container #color_inputs {
    height: 128px;
    margin-left: 8px;
}

#color_picker_container .compound_color {
    float: left;
    width: 60px;
}

#color_picker_container .compound_color .color_component {
    float: right;
    margin-top: 5px;
}

#color_picker_container .compound_color .color_component input {
    width: 32px;
}

#color_picker_container .simple_color {
    margin: 0 5px;
    clear: left;
}

#color_picker_container .simple_color input {
    width: 64px;
}

#color_picker_container #sample {
    height: 100px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 5px;
}

#color_picker_container #saturation_value_marker {
    height: 5px;
    width: 5px;
    position: absolute;
    border: solid 2px;
}

#color_picker_container #hue_marker {
    height: 5px;
    width: 28px;
    position: absolute;
    border: solid 2px;
}

#color_picker_container #palette {
    margin-left: 16px;
}

#color_picker_container .palette_sample {
    margin: 5px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

#color_picker_container .palette_input {
    width: 75px;
    margin-left: 5px;
}

#color_picker_container .dark {
    color: white;
}

#color_picker_container .light {
    color: black;
}

#color_picker_container .sample {
    text-align: center;

}