.zci--products .tile__title--brand {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.zci--products .tile__title--brand a {
    color: #084999;
}

.zci--products .tile__title--brand a:visited {
    color: #6c00a2;
}

.dark-bg .zci--products .tile__title--brand a,
.dark-bg .zci--products .tile__title--brand a:visited {
    color: #e6e6e6;
}

.zci--products .tile__button {
    display: block;
    height: 22px;
    width: 40%;
    margin: 0 auto 1em;
    font-size: 12px;
}

.zci--products .tile__button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.dark-bg .zci--products .tile__button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
