<li class="ddgc_item" id="amazon-{{this.[@ASIN]}}">
    <a href="javascript:void(0);">
        <p><img src="/iu/?u={{MediumImage.[@URL]}}"></p>
        <span>{{{condense ItemAttributes.[@Title] maxlen="25"}}}</span>
    </a>
</li>
