{{original}} <span class="sidenote">({{standard_pronunciation.langname}}, {{forvo_sex standard_pronunciation.sex}})</span>

<div class="audio-controls">
    <span class="audio-controls__action  ddgsi">►</span>
    <span class="audio-controls__time"></span>
</div>
