.zci--forvo .word {
    font-weight: bold;
}

.zci--forvo .lang {
    font-size: 75%;
    opacity: .75;
}

.zci--forvo .sidenote {
    float: right;
    font-size: 85%;
    opacity: .75;
}

.zci--forvo .attribution-wrap--top {
    position: absolute;
    float: right;
}
