<div>
    {{#list items}}
        <div class="forvo_container">
            <audio preload="none">
                <source src="/audio/?u={{standard_pronunciation.pathmp3}}" type="audio/mpeg">
            </audio>
            <div class="forvo_track_details">
                <span>{{original}}</span>
            </div>
        </div>
    {{/list}}
</div>