.zci--forvo .word {
    font-weight: bold;
    cursor: pointer;
}

.zci--forvo .lang {
    font-size: 75%;
}

.zci--forvo .sidenote {
    float: right;
    font-size: 85%;
}

.zci--forvo .attribution-wrap--top {
    position: absolute;
    float: right;
}

.zci--forvo .play-btn {
    margin-right: 0.5em;
}

.zci--forvo .play-btn__icn {
    font-size: 0.7em;
    margin-left: 0;
}

.zci--forvo .disc__img {
    max-height: 1.8em;
}
