<div class="fix">
    <div class="half tx--15 tx-clr--slate price">
        <span>{{price}}</span>
    </div>
    <div class="half tx--12 tx-clr--grey price-age">
        <span>({{priceAge}})</span>
    </div>
</div>