<div class="tx--14 dates">
    <span>{{dates}}</span>
</div>
<div class="pull-left tx--16 price">
<span>{{price}}</span>
</div>
<div class="pull-right tx--12 price-age">
    <span>({{priceAge}})</span>
</div>
