.zci--is_it_up {
    height: 12em;
}

.zci--is_it_up h5 {
    font-size: 2.25em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.zci--is_it_up h5, .zci--is_it_up h5 a, .zci--is_it_up .response_time a {
    color: #383838;
}

.zci--is_it_up .response_time a, .zci--is_it_up .response_time {
    padding-top: 0;
    margin-top: 0;
}

.zci--is_it_up .response_time {
    color: #999;
    font-size: 1.05em;
    margin-bottom: 1em;
}

.zci--is_it_up a.zci__more-at {
    color: #999;
}

@media only screen
and (max-device-width : 480px) {
    .zci--is_it_up {
        height: 8em;
    }

    .zci--is_it_up h5 {
        font-size: 1.4em;
    }

    .zci--is_it_up .response_time {
        font-size: 0.65em;
        margin-bottom: 0.5em;
    }

    .zci--is_it_up a.zci__more-at {
        font-size: 0.65em;
    }
}

@media only screen
and (min-device-width : 480px)
and (max-device-width : 768px) {
    .zci--is_it_up {
        height: 11em;
    }

    .zci--is_it_up h5 {
        font-size: 2em;
    }

    .zci--is_it_up .response_time {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .zci--is_it_up a.zci__more-at {
        font-size: 1em;
    }
}