.zci--video_games .field {
	color: gray;
}
.zci--video_games .header {
    font-size: 95%;
}
.zci--video_games .title {
	padding-top: 3px;
	display: inline-block;
}
.zci--video_games .name {
	color: #444;
}
.zci--video_games .thumbnail {
	height: 80px !important;
	max-width: 98px;
}
