<div>
    {{#if artist.bio.summary}}
        <div>
            <span id="some">{{snippet artist.bio.summary "some"}}</span>
            <a id="expand" href="javascript:;">
                <span>More...</span>
            </a>
            <span id="all">{{snippet artist.bio.summary "all"}}</span>
        </div>
    {{/if}}
    <div>
        <i>Similar to:</i> 
        {{#list artist.similar.artist}}<a href="{{this.url}}">{{this.name}}</a>{{/list}}
    </div>
</div>