<div class="transit_path__time text--primary">{{departure_time}}</div>
<div class="transit_path__details">
    {{#if cancelled}}N/A{{else}}Arrives {{arrival_time}}{{/if}}<br/>
    {{line}}<br/>
</div>
