.zci--transit_path .tile--transit_path {
    text-align: center;
    width: 13em;
}

@media screen and (max-device-width: 640px) and (orientation: portrait){
	.is-mobile .zci--transit_path .tile--transit_path {
	    width: 48%;
	}
}

.tile--transit_path .transit_path__time {
    font-size: 2.3em;
    font-weight: 300;
}

.tile--transit_path .transit_path__details {
    margin-top: 5px;
    margin-bottom: 5px;
}
