.zci--switzerland .tile--switzerland {
    text-align: center;
    width: 13em;
}

@media screen and (max-device-width: 640px) and (orientation: portrait){
	.is-mobile .zci--switzerland .tile--switzerland {
	    width: 48%;
	}
}

.tile--switzerland .switzerland__details {
    margin-top: 5px;
    margin-bottom: 10px;
}

.tile--switzerland .switzerland__status-sep {
    height: 12px;
}

.tile--switzerland .switzerland__sep-line {
    background-color: #f2f2f2; /* silver */
    height: 1px;
    width: 30px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.tile--switzerland .switzerland__status {
    margin-top: 10px;
    margin-bottom: 2px;
}

.tile--switzerland .switzerland__badge {
    background-color: #589e4d; /* green */
    height: 12px;
    border-radius: 6px;
    padding: 0 6px;
    display: inline-block;
}

.tile--switzerland .switzerland__delayed {
    background-color: #e37151; /* red-light */
}
