.zci--transit_switzerland .tile--transit_switzerland {
    text-align: center;
    width: 13em;
}

@media screen and (max-device-width: 640px) and (orientation: portrait){
	.is-mobile .zci--transit_switzerland .tile--transit_switzerland {
	    width: 48%;
	}
}

.tile--transit_switzerland .transit_switzerland__time {
    font-size: 2.3em;
    font-weight: 300;
}

.tile--transit_switzerland .transit_switzerland__details {
    margin-top: 5px;
    margin-bottom: 10px;
}

.tile--transit_switzerland .transit_switzerland__status-sep {
    height: 12px;
}

.tile--transit_switzerland .transit_switzerland__sep-line {
    background-color: #e1e1e1;
    height: 1px;
    width: 30px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.tile--transit_switzerland .transit_switzerland__status {
    margin-top: 10px;
    margin-bottom: 2px;
}

.tile--transit_switzerland .transit_switzerland__badge {
    background-color: #60ae50;
    height: 12px;
    border-radius: 6px;
    padding: 0 6px;
    display: inline-block;
}

.tile--transit_switzerland .transit_switzerland__delayed {
    background-color: #eea43e;
}
