<div class="record">
    <table class="record__body">
        {{#each holidays}}
            <tr class="record__row">
                <td class="record__cell  record__cell--key">{{date}}</td>                
                <td class="record__cell  record__cell--value">{{name}}</td>
                <td class="record__cell  record__cell--value">{{states}}</td>                
            </tr>
        {{/each}}
    </table>
</div>
