{{#each editions}}
<span class="detail__callout">
    <a href="{{{url}}}" class="btn btn--primary">
        {{#with this.platforms.[0]}}
        <img src="{{platform_icon icon_url}}" class="platform_icon">
        {{/with}}
        {{platform_name}}
        {{#if ../hasPricerange}}
             - {{qprice cents}}
        {{/if}}
    </a>
</span>
{{/each}}
