{{#if rating}}
    <div title="{{rating}}" class="rating">
        {{#loop rating}}
            <img src="{{quixey_star}}" class="star"></span>
        {{/loop}}
    </div>
{{/if}}
<div class="price">{{pricerange}}</div>
