{{!  one item  }}
<li class="ddgc_item"> {{! width set in setup() }}
    <a class="ddgc_detail_link" {{! href="{url}"}}>
        <p><img src="{{{icon_url}}}" /></p>
        <span>{{{condense name maxlen="40"}}}</span>
    </a>
</li>
