.inline-block{
	display: inline-block;
}

.highlight{
	border-bottom: none !important;
}

#zero_click_abstract{
	margin-right: 10px !important;
}

#spice_container{
	clear: both;
	width: auto;
	float: left;
	margin: 10px 0;
	width: 100%;
}

.quixey_app_container{
    float: left;
    padding: 2px!important;
    width: 180px;
}

.quixey_app_container:first-of-type{
	margin-left: 0;
}

.quixey_app_container:last-of-type{
	margin-right: 0;
	clear: right;
}

.quixey_app_container a:first-of-type{
	display: block;
}

.quixey_img{
    margin: 0px;
    height: 40px;
	width: 40px;
	float: left;
	display: inline-block;
}

.quixey_app_info{
	display: inline-block;
	margin-left: 5px;
}

.quixey_name{
	display: block;
	font-size: 12px;
}