#quixey:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#quixey {
  zoom: 1;
}

#nav {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#pagination {
  width: 100%;
  background: #f9f9f9;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #e1e1e1;
	height: 35px;
}

#pagination.minimal {
	height: 0px !important;
	border-bottom: none;
}

#slider {
  border: 1px solid #f7f7f7;
  padding: 7px;
  padding-right: 6px;
}

#frame {
  margin: 0;
  overflow: hidden;
}

#quixey ul {
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

#quixey li.item {
  float: left;
  list-style-type: none;
  height: 130px;
  margin: 0;
  padding: 6px;
  border: 1px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}

#quixey li.item:hover {
  background: url("/assets/results_highlight_bg.v101.png");
	background-size: 100%;
	background-position: center;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

#quixey li.sel, #quixey li.sel:hover {
  background-image: none !important;
  background-color: #f7f7f7;
  border: 1px solid #80b5ff;
}

#quixey li.item a {
  color: #333;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 12px;
}

#quixey li.item a span {
  display: block;
  margin: 5px auto 0;
}

#quixey li.item a:hover {
  text-decoration: none;
}

#quixey li.item img {
  margin: 0 auto;
  max-width: 80px;
  max-height: 80px;
  height:auto;
}

#quixey li.item p {
  width: 1%;
  max-width: 80px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}

#quixey a.npa {
  font-size: 30px;
  background-color: #f3f3f3;
  text-decoration: none !important;
  text-align: center;
  line-height: 30px;
  height: 35px;
  width: 40px;
}

#quixey .npa_img {
  display: inline;
}

#quixey a.npah {
  color: #eee !important;
}

#nexta {
  right: 0;
  position: absolute;
  border-left: 1px solid #e1e1e1
}

#preva {
  left: 0;
  position: absolute;
  border-right: 1px solid #e1e1e1
}

#emb {
  display: none;
  background: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
  padding: 12px;
}

#preview {
  font-size: 12px;
}

#dots {
  text-align: center;
  display: table-cell;
  margin: 0 auto;
  width: 1%;
  padding: 0;
  height: 35px;
  vertical-align: middle;
}

#dots a {
  padding: 0 2px;
  font-size: 25px;
  color: #ccc;
  text-decoration: none !important;
}

#dots a.selected {
  color: #1168cc;
}

.hidden {
  display: none;
}

#quixey .app_icon {
  margin: 0px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#quixey .rating {
  margin-right: 5px;
  display: inline;
}

#quixey span.star {
  background: url(star.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  margin 0 2px;
  background-size: 100% auto;
}

#quixey .app_icon_anchor {
  max-width: 10%;
  float: left;
  margin-right: 22px;
  margin-bottom: 5px;
}


#quixey .app_info {
  display: block;
  float: left;
  font-size: 12px;
  padding: 0 2px 0 0;
  width: 100%;
}

#quixey .app_details {
  display: block;
  float: left;
}

#quixey .price {
  margin: 3px 0;
  font-size: 1.2em;
  display: inline;
  line-height: 1.5em;
}

#quixey .name_wrap {
  display: inline-block;
  max-width: 85%;
}

#quixey .name {
  display: block;
  width: 100%;
  font-size: 1.1em;
}

#quixey .app_editions {
  float: left;
  width: 100%;
}

#quixey .app_editions::before {
  content: "App Editions:";
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 10px;
}

#quixey .app_platform {
  display: inline-block;
  border-radius: 3px;
  padding: 5px 5px 2px 5px;
  vertical-align: text-bottom;
  background: #EEE;
  border: 1px solid #DDD;
  color: black;
}

#quixey .app_platform:hover {
  border: 1px solid #333;
  background: #ddd;
  cursor: pointer;
  text-decoration: none;
}

#quixey .app_platform img.platform_icon {
  max-width: 13px;
  margin: 0 2px 0 0;
  vertical-align: text-top;
}

#quixey .app_edition {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

#quixey .platform_icon {
  display: inline-block;
  max-height: 13px;
  margin-left: 5px;
  width: auto;
}

#quixey .platform_icon:first-of-type {
  margin-left: 0px;
}