#spice_betterific hr {
  background-color: #d2d2d2;
  background-color: rgba(136, 136, 136, 0.39);
  border: 0;
  color: #bade89;
  height: 1px;
  margin: 5px 0;
  padding: 0;
  text-align: left;
}

#spice_betterific .header {
  color: #1168cc;
  font-size: 110%;
}

#spice_betterific .obj-wrapper {
  margin-bottom: 4px;
}
#spice_betterific .obj-wrapper:first-child {
  margin-top: 3px;
}

#spice_betterific .betterif-name,
#spice_betterific .tag-name,
#spice_betterific .user-username,
#spice_betterific .stats {
  display: inline-block;
}

#spice_betterific .clear-both {
  clear: both;
  height: 0px;
}

#spice_betterific .collapsible {
  display: none;
}
