{{#if betterifs.betterifs}}
  <div class="kind-wrapper">
    <div class="header">Betterifs</div>
    <div class="betterifs">
      {{#each betterifs.betterifs}}
        {{{include "betterif"}}}
      {{/each}}
    </div>
  </div>
{{/if}}
{{#if tags.tags}}
  <div class="kind-wrapper">
    <div class="header">Tags</div>
    <div class="tags">
      {{#each tags.tags}}
        {{{include "tag"}}}
      {{/each}}
    </div>
  </div>
{{/if}}
{{#if users.users}}
  <div class="kind-wrapper">
    <div class="header">Users</div>
    <div class="users">
      {{#each users.users}}
        {{{include "user"}}}
      {{/each}}
    </div>
  </div>
{{/if}}
{{#if cnt_more}}
  <div class="more">
    <a href="#" id="spice_betterific_more"><span>More</span><span>Less</span> ({{cnt_more}})</a>
  </div>
{{/if}}
