/* Where possible, this copies the styles found at http://betterific.com/search */

#spice_betterific {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 12px;
}

#spice_betterific a,
#spice_betterific a:active,
#spice_betterific a:hover,
#spice_betterific a:visited {
  color: #2c86c0;
  text-decoration: underline;
}
#spice_betterific a {
  text-decoration: none;
}

#spice_betterific .hidden {
  display: none;
}

#spice_betterific .betterifs,
#spice_betterific .tags,
#spice_betterific .users {
  clear: both;
  margin-bottom: 12px;
}

#spice_betterific .header {
  color: #2c86c0;
  font-weight: bold;
  font-size: 110%;
}

#spice_betterific .obj-wrapper {
  border: 1px solid #fff;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: none;
  padding: 6px;
}
#spice_betterific .obj-wrapper:first-child {
  display: block;
}
#spice_betterific .obj-wrapper:hover {
  background: rgba(127, 127, 127, 0.04);
  border: 1px solid #e5e5e5;
}

#spice_betterific .left-img {
  float: left;
  height: 40px;
  width: 40px;
}

#spice_betterific .right-box {
  float: left;
  margin-left: 20px;
  width: 550px;
}

#spice_betterific .betterif-user {
  color: #777;
  font-size: 90%;
}
#spice_betterific .betterif-user a,
#spice_betterific .betterif-user a:active,
#spice_betterific .betterif-user a:hover,
#spice_betterific .betterif-user a:visited {
  color: #777;
}

#spice_betterific .betterif-name a {
  display: none;
  max-height: 36px;
  overflow-y: hidden;
}
#spice_betterific .betterif-name a:first-child {
  display: inline;
}
#spice_betterific .betterif-name .togglers {
  color: #777;
  display: inline;
  font-size: 90%;
  margin-left: 6px;
}
#spice_betterific .betterif-name .togglers a,
#spice_betterific .betterif-name .togglers a:active,
#spice_betterific .betterif-name .togglers a:hover,
#spice_betterific .betterif-name .togglers a:visited {
  color: #777;
  display: none;
}
#spice_betterific .betterif-name .togglers a:first-child {
  display: inline-block;
}
#spice_betterific .betterif-name .togglers a.short-name-text {
  max-height: 1em;
  max-width: 490px;
  overflow: hidden;
}

#spice_betterific .stats {
  color: #777;
}

#spice_betterific .stats span {
  border-left: 1px solid #777;
  margin-left: 9px;
  padding-left: 10px;
}

#spice_betterific .stats span:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#spice_betterific .clear-both {
  clear: both;
  height: 0px;
}

#spice_betterific #spice_betterific_more span {
  display: none;
}
#spice_betterific #spice_betterific_more span:first-child {
  display: inline;
}
