{{#if betterifs.betterifs}}
  <div class="kind-wrapper">
    <a href="#" class="header">Wouldn't it be better if...</a>
    <div class="betterifs collapsible open">
      <ul>
        {{#each betterifs.betterifs}}
          {{{include "betterif"}}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
{{#if tags.tags}}
  {{#if betterifs.betterifs}}
    <hr/>
  {{/if}}
  <div class="kind-wrapper">
    <a href="#" class="header">Tags</a>
    <div class="tags collapsible{{#unless betterifs.betterifs}} open{{/unless}}">
      {{#each tags.tags}}
        {{{include "tag"}}}
      {{/each}}
    </div>
  </div>
{{/if}}
{{#if users.users}}
  {{#if betterifs.betterifs}}
    <hr/>
  {{else}}
    {{#if tags.tags}}
      <hr/>
    {{/if}}
  {{/if}}
  <div class="kind-wrapper">
    <a href="#" class="header">Users</a>
    <div class="users collapsible{{#unless betterifs.betterifs}}{{#unless tags.tags}} open{{/unless}}{{/unless}}">
      {{#each users.users}}
        {{{include "user"}}}
      {{/each}}
    </div>
  </div>
{{/if}}
