#divthumb {
    margin-right: 10px;
	clear :left;
	float: left;
	display: block;
    border: 1px solid rgb(255,255,255);
}

#divthumb:hover {
    border: 1px solid rgb(255,102,102);
    cursor: pointer;
}

#thumbnail {
	max-width: 180px;
	max-height: 101px;
}

#play_btn {
    display: block;
    z-index: 100;
    margin: -68px auto 29px;
}

#embed {
    display: none;
}

#embed iframe {
    width: 100%;
    height: 100%;
}
