{{#if mobile}}
    Shortened URL: <a id='shorten-url-mobile' href='{{shorturl}}'>{{shorturl}}</a>
{{else}}
    Shortened URL: <input id='shorten-url' class='tag' readonly='readonly' value='{{shorturl}}'>
{{/if}}
