.zci--shorten input.tag {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    line-height: 1.5;
    font-size: 1.25em;
    vertical-align: middle
}
