<div id="scarer_container">
    <p class="is-hidden" id="scarer_modal_remnants_yes_btn"><a href="{{scary_url}}">Show me the really scary things again!</a></p>
    <p class="is-hidden" id="scarer_modal_remnants_no_btn">I am braver now. <a href="{{scary_url}}">Show me the really scary things!</a></p>
    <div class="scarer__modal" id="scarer_phase1">
        <div>
            <h2>BOOOOOO!</h2>
            <div class="is-hidden" id="scarer_phase2">
              <hr/>
              <p>Meh, ok. That was lame.</p>
              <p>Wanna see something really scary?</p>
              <button class="scarer_btn" id="scarer_yes_btn">Yes!</button>
              <button class="scarer_btn scarer_btn_right" id="scarer_no_btn">No</button>
            </div>
        </div>
    </div>
</div>