#spice_drinks .spice_pane_left{
	display: inline-block;
	width: 40%;
}

#spice_drinks .spice_pane_right {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

#spice_drinks .spice_pane_left ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px 8px;
	font-size: 12px;
	background-color: #e5e5e5;
}

#spice_drinks .spice_pane_left ul {
	padding-left: 0px;
	padding-top: 0px;
}
