<table class="drinks">
    <thead>
        <th>
            Directions:
        </th>
        <th>
            Ingredients:
        </th>
    </thead>

    <tbody>
        <tr>
            <td>
                <p>{{procedure}}</p>
            </td>
            <td>
                <ul>{{#if isArray}}
                        {{#each ingredients}}
                            <li>{{this}}</li>
                        {{/each}}
                    {{else}}
                        {{#keys ingredients}}
                            <li>{{value}}</li>
                        {{/keys}}
                    {{/if}}
                </ul>
            </td>
        </tr>
    </tbody>
</table>