<div class="drinks-holder">
    
    {{! First tile which shows the directions.}}
    <div class="drinks">
        <div>Directions:</div>
        <div>{{{condense procedure maxlen="50s"}}}</div>
    </div>

    {{! Second tile which shows the ingredients.}}
    <div class="drinks">
        <div>Ingredients:</div>
        <ul>
            {{#if isArray}}
                {{#each ingredients}}
                    <li>{{this}}</li>
                {{/each}}
            {{else}}
                {{#keys ingredients}}
                    <li>{{value}}</li>
                {{/keys}}
            {{/if}}
        </ul>
    </div>
</div>
