<table class="drinks">
	<thead>
		<th>
			Directions:
		</th>
		<th>
			Ingredients:
		</th>
	</thead>

	<tbody>
		<tr>
			<td>
				<p>{{procedure}}</p>
			</td>
			<td>
				<ul>
					{{#each ingredients}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</td>
		</tr>
	</tbody>
</table>