{{#if isArray}}
  {{#each ingredients}}
    <div class="one-line">{{this}}</div>
  {{/each}}
  {{else}}
  {{#keys ingredients}}
    <div class="one-line">{{value}}</div>
  {{/keys}}
{{/if}}
<div class="tile__expand  js-tile-expand"></div>
