/* Increase padding-bottom half an em to add some space. */
.tile--congress .tile__body.has-foot {
    padding-bottom: 2.87em;
}

.tile--congress .tile__foot {
    padding-bottom: 1em;
}

/* The images are a bit weird, so it's best to adjust the height of the 
   tile to see more of the image. */
.tile--congress .tile__media {
    height: 40%;
}

/* The .tile__sub have a margin-bottom, but that takes up too much space. */
.tile--congress .tile__foot .tile__sub {
    margin-bottom: 0;
}