.zci--rainfall h5 {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    color: #333;
}

.zci--rainfall p {
    margin-top: 0;
    padding-top: 0;
    color: #999;
}

.zci--rainfall .zci__more-at {
    padding-top: 0em;
}

@media only screen
and (max-device-width : 480px) {
    .zci--rainfall h5 {
        font-size: 1.15em;
        padding-top: 0.05em;
    }

    .zci--rainfall p {
        font-size: 0.85em;
    }

    .zci--rainfall .zci__more-at {
        margin-bottom: 0;
        padding-top: 0em;
    }
}