.zci--bikesharing_phlindego .mapview-marker__icn.ddgsi-circle {
  font-size: 6px;
}

.tile--bikesharing_phlindego.tile--c--n {
    text-align: center;
    width: 13em;
    height: 13em;
}

.tile--bikesharing_phlindego .zci__header {
    height: 2.5em;
}

.tile--bikesharing_phlindego p.tx-clr--dk.tx--14 {
    padding-top: 0;
}

.tile--bikesharing_phlindego p.tx-clr--dk.tx--25 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.1;
}

.tile--bikesharing_phlindego div.tile__content.side_by_side {
    margin-top: 18px;
}

.tile--bikesharing_phlindego .side_by_side {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.tile--bikesharing_phlindego .side_by_side .left {
    float: left;
    border-right: 1px solid #E5E5E5;
    padding-right: 7px;
}

.is-mobile .tile--bikesharing_phlindego .side_by_side .left {
    width: 50%;
}

.tile--bikesharing_phlindego .side_by_side .right {
    float: right;
    padding-left: 7px;
}

.is-mobile .tile--bikesharing_phlindego .side_by_side .right {
    width: 50%;
}