<h5 class="tile__title">
  {{churchname}}
</h5>
<div>
  {{MassOnTime_format_eventtypeid eventtypeid}} at {{MassOnTime_format_12h_start starttime}}.
</div>
<div class="mass--address">
  {{MassOnTime_format_parish_address address city province}}
</div>
