<h5 class="tile__title">
  {{churchname}}
</h5>
<div>
  {{format_eventtypeid eventtypeid}} at {{starttime12}}.
</div>
<div class="mass--address">
  {{format_parish_address address city province}}
</div>