<span class="manga--runtime">
{{#if attributes.volumeCount}}
    <span>Volumes: {{attributes.volumeCount}}</span>
    <span class="detail__separator"> | </span>
{{/if}}
{{#if attributes.chapterCount}}
    <span>Chapters: {{attributes.chapterCount}}</span>
{{/if}}
</span>
