.record .record__cell__value {
    padding: 2px;
    max-width: 500px;
    word-wrap: break-word;
}

.record .record__cell__key {
    padding: 2px;
}

.is-mobile .record .record__cell__value {
    max-width: 150px;
}