.zci__body .zci__more-at{
	padding-top: 1em;
}
.record .record__cell__value {
    padding: 2px;
    max-width: 500px;
    word-wrap: break-word;
    padding: 0.4em;
    padding-left: 0.8em;
}

.record .record__cell__key {
    padding: 0.4em;
    padding-left: 0;
}

.is-mobile .record .record__cell__value {
    max-width: 150px;
}

.record .record__body{
    width: 100%;
}

.is-mobile .record .record__cell__key {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

