<div class="tile tile--s tile--c">
    <div class="tile__view tx-clr--dk">
        <div class="">
            <img class="" src="{{image}}">
        </div>

        <h5>{{ title }}</h5>

    </div>
</div>