<div class="tile__tx  tx-clr--lt">
    <div class="where place one-line">
        {{place}}
    </div>
    <div class="where city one-line">
        {{city}}
    </div>
    {{#if price}}
        <div class="price tx-clr--dk">{{price}}</div>
    {{else}}
        <div class="noprice tx-clr--lt">Price N/A</div>
    {{/if}}
</div>