.zci--seat_geek_sports .header_container {
    height: 3.35em;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}
.zci--seat_geek_sports .price {
    float: right;
}
.zci--seat_geek_sports .header_container img {
    width: 35px;
    float: right;
    margin-top: -4.25em;
    border: 1px solid #ddd;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
}
.zci--seat_geek_sports .tile__body.has-foot {
    padding: 0;
    text-align: center;
    padding-bottom: 1em;
}
.zci--seat_geek_sports .tile__content {
    margin-bottom: 0.7em;
}
.zci--seat_geek_sports .tile__title {
    font-size: 1.357em;
    line-height: 1.11;
    padding-right: 40px;
}
.zci--seat_geek_sports .tile__footer {
    color: #333;
}
.zci--seat_geek_sports .where {
    color: #888;
    margin: 0.9em 0;
}
.zci--seat_geek_sports .js-metabar-itemtype {
    text-transform: lowercase;
}
.zci--seat_geek_sports .tile__body {
    padding: 0.75em 1em;
}
.zci--seat_geek_sports .tile, .tile--s, .tile--info, .tile--map {
    font-size: 1em;
    width: 16em;
}