.zci--seat_geek_sports .header_container {
    height: 3.35em;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}
.zci--seat_geek_sports .price {
    float: right;
}
.zci--seat_geek_sports .header_container img {
    width: 35px;
    float: right;
    margin-top: -4.25em;
}
.zci--seat_geek_sports .tile__body.has-foot {
    padding: 0;
    text-align: center;
    padding-bottom: 1em;
}
.zci--seat_geek_sports .tile__content {
    margin-bottom: 0.7em;
}
.zci--seat_geek_sports .tile__title {
    width: 62%;
    line-height: 1.15em;
}
.zci--seat_geek_sports .tile__footer {
    color: #333;
}
.zci--seat_geek_sports .where {
    color: #888;
    margin: 0.9em 0;
}
.zci--seat_geek_sports .tile__body {
    padding: 0.75em 1em;
}