<div class="tile__body">
    <h1 class="zci__header tx--l4">{{title}}</h1>
    <div class="tile__content side_by_side">
        <div class="left half">
            <p class="tx-clr--dk tx--l4">Bikes</p>
            <p class='tx-clr--dk tx--25'>{{bikesAvailable}}</p>
        </div>

        <div class="right half">
            <p class="tx-clr--dk tx--l4">Docks</p>
            <p class='tx-clr--dk tx--25'>{{docksAvailable}}</p>
        </div>
    </div>
  
</div>