.wire_cell{
    height: 150px;
    width: 150px;
    overflow: hidden;
    display:inline-block;
//    float:left;
}
.wire_cell img {
    margin:0 auto;
}

.wire_cell_mobile{
    height: 100px;
    width: 100px;
    overflow: hidden;
    display:block;
//    float:left;
}
