.zci--book .tile--book {
    width: 25em;
}

.zci--book .zci__header {
    width: 20.5em;
}

.zci--book .tile__title  {
    text-overflow: clip !important;
}

.zci--book .description {
    font-weight: 400;
    color: #333;
}

.zci--book .source,
.zci--book .sources_recommending {
    color: #999;
}

.zci--book .zci__content {
    margin-top: -0.5em;
}

.zci--book .subtitle {
    padding-left: 0.1em;
    margin-bottom: 0.6em;
    color: #888;
}

.zci--book .zci__header {
    color: #333;
}

.zci--book .recommended_by,
.zci--book .rating {
    font-weight: 600;
}

.zci--book .description,
.zci--book .recommend_line {
    margin-top: 0.85em;
}

.zci--book .chomp {
    max-height: 9em;
    overflow: visible;
}

.zci--book .zci__img-wrap--info {
    float: right;
    padding: 0px;
    margin: 0px;
    line-height: 3.2;
    height: 3em;
    left: -12em;
}

.zci--book .rating {
    float: right;
    line-height: 1;
    font-size: 2em;
    margin-top: -0.47em;
    margin-right: 2.5em;
    vertical-align: top;
    color: #0099CB;
}

.zci--book .clear {
    clear: both;
}

.zci--book .zci__img-wrap+.zci__body {
    padding-left: 0.75em;
}

.zci--book .zci__img-wrap + .zci__body--info,
.zci--book .zci__more-at--info {
    padding-bottom: 0.35em;
}

@media only screen
and (max-width : 599px) {
    .zci--book,
    .zci--book .cw {
        height: 18.15em !important;
    }

    .zci--book .zci__links--info {
        top: 13.8em;
    }

    .zci--book .zci__body {
        margin-top: 0.22em;
    }
}

@media only screen
and (max-width : 479px) {
    .zci--book .zci__header {
        font-size: 1.2em;
        width: 10.25em;
        line-height: 1.15;
    }

    .zci--book .description {
        margin-top: 0.8em;
    }

    .zci--book .subtitle {
        line-height: 2em;
    }

    .zci--book .zci__content {
        font-size: 0.9em;
    }

    .zci--book .zci__img-wrap--info {
        left: -4.58em;
        height: 30px !important;
        line-height: 2 !important;
        top: 0.65em;
    }

    .zci--book .rating {
        font-size: 1.88em;
        margin-right: 0.15em;
        margin-top: -0.85em;
    }

    .zci--book .zci__img {
        width: 35px;
    }

    .zci--book .description {
        max-height: 4em;
        overflow: hidden;
    }
}


@media only screen
and (min-width : 480px)
and (max-width : 599px) {
    .zci--book .zci__header {
        font-size: 1.3em;
    }

    .zci--book .zci__img-wrap--info {
        left: -5em;
        height: 35px !important;
        line-height: 2 !important;
        top: 0.25em;
    }

    .zci--book .zci__img {
        width: 35px;
    }

    .zci--book .rating {
        font-size: 1.65em;
        margin-right: -0.8em;
    }
}