<div id="timer_container">
	<div class="spice-pane" id="timer_input">
		<input type="text" placeholder="mm" id="minute_input" class="timer__time-input" pattern="[0-9]*">:<input type="text" placeholder="ss" id="second_input" class="timer__time-input" pattern="[0-9]*">
	</div>
	<div class="spice-pane timer__hidden" id="timer_display">
		<span class="time" id="timer">00:00</span>
	</div>
	<div class="spice-pane spice-pane-right">
		<div class="btn-wrapper">
			<button class="timer__btn timer__start">START</button>
			<button class="timer__btn" id="reset_btn" disabled>RESET</button>
		</div>
	</div>
	<div class="timer__done-modal" id="done_modal">
		<div>
			<h2>Time's Up!</h2>
			<button id="done_ok_btn">OK</button>
		</div>
	</div>
</div>