<div id="timer_container">
    <div class="clearfix pane-block">
        <div class="spice-pane">
            <input type='text' value='0' name='hours' id='timer-hours' class='' /> h
            <input type='text' value='0' name='mins' id='timer-mins' class='' /> m 
            <input type='text' value='2' name='secs' id='timer-secs' class='' /> s
        </div>
    </div>
    <div class="btn-wrapper">
        <button class="timer__btn go">GO</button>
    </div>
</div>
