<div class="timer_container tile">
    <div class="play_pause">
        <a href=""></a>
        <div class="progress">
            <div class="fill">
                <span class="rotated_fill"></span>
                <span class="first_half_fill"></span>
            </div>
        </div>
    </div>
    <div class="display_container">
        <div class="name">
            <span class="name_display">Timer 1</span>
            <input type="text" class="name_input" value="Timer 1"/>
        </div>
        <div class="time">
            <div class="time_display">
                <span class="hours_minutes">00:00</span>
                <span class="seconds">00</span>
            </div>
            <div class="time_input">
                <input type="text" maxlength="2" class="hours" value="00">
                <span class="time_input_label">h</span>
                <input type="text" maxlength="2" class="minutes" value="00">
                <span class="time_input_label">m</span>
                <input type="text" maxlength="2" class="seconds" value="00">
                <span class="time_input_label">s</span>
            </div>
        </div>
    </div>
    <a href="" class="corner_btn reset">RESET</a>
    <a href="" class="corner_btn add_minute">+1m</a>
    <a href="" class="corner_btn close">&times;</a>
</div>
