/* GENERAL */

.zci--timer .zci__main {
    max-width: 100%;
}

.zci--timer .zci__body {
    padding-left: 0;
}

.zci--timer .timer_container {
    width: 305px;
    height: 140px;
    display: block;
}

.zci--timer .play_pause,
.zci--timer .timer_container,
.zci--timer #add_timer_container,
.zci--timer .display_container {
    float: left;
}

.zci--timer #add_timer_container {
    display: block;
    width: 140px;
    height: 140px;
    background-color: #e6e6e6;
    border: none;
}

.zci--timer a#add_timer_btn {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 3px solid #dedede;
    color: #626262;
    text-decoration: none;
    display: block;
    margin: 10% 0 0 10%;
    text-align: center;
    font-size: 50px;
    line-height: 2em;
}

/* PLAY/PAUSE BTN */

.zci--timer .play_pause {
    width: 40%;
    height: 100%;
    position: relative;
}

.zci--timer .play_pause .progress {
    position: relative;
    left: 1.5em;
    top: 2em;
    width: 6.2em;
    height: 6.2em;
    border: 0.4em solid #959595;
    border-radius: 50%;
}

.zci--timer .timer_container.status_running .play_pause .progress,
.zci--timer .timer_container.status_paused .play_pause .progress {
    border-color: #eee;
}

.zci--timer .timer_container.status_stopped .play_pause .progress {
    border-color: #de5a2a;
}

.zci--timer .play_pause .fill {
    top: -0.4em;
    left: -0.4em;
    position: absolute;
    width: 6.2em;
    height: 6.2em;
    clip: rect(0em, 7em, 7em, 3.5em);
}

/* this will be shown via JS for browsers that can handle it */
.zci--timer .play_pause .first_half_fill,
.zci--timer .play_pause .rotated_fill {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 6.2em;
    height: 6.2em;
    border: 0.4em solid #4ab857;
    border-radius: 50%;
}

.zci--timer .play_pause .rotated_fill {
    clip: rect(0em, 3.5em, 7em, 0em);
}

.zci--timer .play_pause .first_half_fill {
    clip: rect(0em, 7em, 7em, 3.5em);
}

.zci--timer .timer_container.status_paused .rotated_fill,
.zci--timer .timer_container.status_paused .first_half_fill {
    border-color: #959595;
}

.zci--timer .play_pause a {
    font-family: "ddg-serp-icons";
    color: #333;
    font-size: 35px;
    width: 35px;
    height: 35px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -24px;
    z-index: 10;
}

.zci--timer .timer_container.status_stopped .play_pause a {
    color: #de5a2a;
}

/* TIMER NAME / TIME */

.zci--timer .display_container {
    width: 60%;
    height: 100%;
}

.zci--timer .name {
    margin-top: 2.5em;
}

.zci--timer .name_display,
.zci--timer .name_input {
    font-size: 1.1em;
    font-weight: bold;
}

.zci--timer .name_display {
    /* shown later on */
    display: none;
}

.zci--timer .time_display {
    font-weight: bold;
    /* shown later on */
    display: none;
}

.zci--timer .time_display .hours_minutes {
    color: #333;
    font-size: 3em;
}

.zci--timer .time_display .seconds {
    font-size: 1.5em;
    color: #999;
    position: relative;
    bottom: 0.7em;
}


.zci--timer .name_input,
.zci--timer .time_input {
    font-size: 1.1em;
    font-weight: bold;
    height: 2em;
    width: 70%;
    background-color: #f0f0f0;
    border: none;
    padding: 3px 5px;
    margin-bottom: 1em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.zci--timer .time_input input,
.zci--timer .time_input .time_input_label {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    background: none;
    padding-top: 4px;
    border: none;
    display: block-inline;
    width: 1.5em;
    text-align: center;
}

.zci--timer .time_input .time_input_label {
    right: 5px;
    position: relative;
}

/* RESET / ADD MINUTE / CLOSE BTNS */

.zci--timer .corner_btn {
    color: #999;
    font-weight: bold;
    position: absolute;
    right: 10px;
    font-size: 0.9em;
}

.zci--timer .corner_btn.reset {
    /* shown via js */
    display: none;
    top: 10px;
}

.zci--timer .corner_btn.add_minute {
    /* shown via js */
    display: none;
    bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 2.8em;
}

.zci--timer .corner_btn.close {
    top: 4px;
    font-size: 1.8em;
}
