<div class='timer_container'>
	<div class='spice-pane' class='timer_input'>
		<input type='text' placeholder='mm' class='timer__time-input minute_input' pattern='[0-9]*' maxlength='3'>:
        <input type='text' placeholder='ss' class='second_input timer__time-input' pattern='[0-9]*' maxlength='2'>
	</div>
	<div class='spice-pane' class='timer_display'>
		<span class='time timer'>00:00</span>
	</div>
	<div class='spice-pane spice-pane-right timer_buttons'>
		<div class='btn-wrapper'>
			<button class='timer__btn timer__start startstop_btn' disabled>START</button>
			<button class='timer__btn reset_btn' disabled>RESET</button>
		</div>
	</div>
</div>
