#zci-parking .tile--parking .tile__media__img {
    margin-top: -20%;
    min-width: 100%;
}

#zci-parking .tile__subtitle {
    font-size: .95em;
}

#zci-parking .title--parking__distance{
    float: left;
}

#zci-parking .title--parking__price{
    float: right;
}

#zci-parking .tile__price{
    color: #333;    
}

#zci-parking .tile--parking__foot__back{
    height: 2.7em;
    text-align: center;
}

#zci-parking .reserve-btn--parking{
    margin: 0;
    left: 0;
    padding: .1em .7em;
    font-size: .95em;    
}