#espn_zci_videos_link, #espn_zci_gamelog_link, 
#espn_zci_stats_link, #espn_zci_team_link, 
#espn_zci_news_link {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#espn_zci_videos, #espn_zci_gamelog,
#espn_zci_team {
    display: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

#espn_zci_news {
    margin-bottom: 4px;
}

#espn_zci_stats {
    padding-left: 5px;
    margin: 10px 0px 0px 10px;
}

.tr_odd {
    background-color: lightgrey;
}

#zero_click_abstract table {
    margin: 4px 0px 0px 20px;
}

#zero_click_abstract table td {
    padding-right: 15px;
}

#zero_click_abstract table th {
    color: 666666;
    font-size: 12px;
    font-weight: 700;
}

.icon_spice_inline {
    margin-left:10px;
}

#espn_header_image {
    display: inline;
    margin-bottom: -2px;
}

#espn_news_image {
    float: right;
    margin: -15px 10px 0px 0px;
}

#espn_stats_image {
    float: right;
    margin: -25px 10px 0px 0px;
}

.blurb {
    margin: 8px 0px 0px 6px;
    font-size 95%;
}
