{{#if active}}
    <h5 class="c-detail__ingredients__title--rx_info">Active Ingredients</h5>

    <div class="c-detail__ingredients__snippet--rx_info">
        {{active}}
    </div>
{{/if}}

{{#if inactive}}
    <h5 class="c-detail__ingredients__title--rx_info">Inactive Ingredients</h5>

    <div class="c-detail__ingredients__snippet--rx_info">
        {{inactive}}
    </div>
{{/if}}

<h6 class="c-detail__desc__attribution--rx_info">
    Image Source: <a href="http://rximage.nlm.nih.gov/" target="_blank">National Library of Medicine Office of High Performance Computing and Communications</a>
</h6>
