{{{formatTitle heading el="h5" className="c-detail__title" classNameSec="c-detail__title--rx_info" noSub="true" href=url}}}
<div class="c-detail__labeler--rx_info">{{labeler}}</div>
<div class="c-detail__desc">
    {{{include 'DDH.rx_info.rx_info_description'}}}
</div>
