{{{formatTitle heading el="h5" className="detail__title" classNameSec="detail__title--rx_info" noSub="true" href=url}}}
<div class="detail__labeler--rx_info">{{labeler}}</div>
<div class="detail__desc">
    {{{include 'DDH.rx_info.rx_info_description'}}}
</div>
