.tile--rx_info img {
    margin-top: -20px;
}

.detail__media.detail__media--rx_info {
    width: 30%;
    margin-right: 1em;
    text-align: center;
}

.detail__title--rx_info {
    padding-bottom: 0;
}

.detail__labeler--rx_info {
    color: #888888;
}

.detail__desc__attribution__title--rx_info,
.detail__desc__attribution--rx_info {
    color: #999999;
    font-size: 12px;
}