<div class="clearfix">
  {{#with buy}}
    <div class="half bitcoin__half">
      <span class="title">{{title}}</span>
      <span class="price">{{formatted_price}}</span>
    </div>
  {{/with}}
  {{#with sell}}
    <div class="half bitcoin__half">
      <span class="title">{{title}}</span>
      <span class="price">{{formatted_price}}</span>
    </div>
  {{/with}}
</div>
