<div>
  {{#with buy}}
    <div class="half">
      <h5 class="title">{{title}}</h5>
      <div class="price">{{formatted_price}}</div>
    </div>
  {{/with}}
  {{#with sell}}
    <div class="half">
      <h5 class="title">{{title}}</h5>
      <div class="price">{{formatted_price}}</div>
    </div>
  {{/with}}
</div>
