<div class="bitcoin  clearfix  gw">
  {{#with buy}}
    <div class="bitcoin__wdt  half  half--screen-s  g">
      <div class="bitcoin__blk  clearfix">
        <span class="bitcoin__title">{{title}}</span>
        <span class="bitcoin__price">{{formatted_price}}</span>
      </div>
    </div>
  {{/with}}
  {{#with sell}}
    <div class="bitcoin__wdt  half  half--screen-s  g">
      <div class="bitcoin__blk  clearfix">
        <span class="bitcoin__title">{{title}}</span>
        <span class="bitcoin__price">{{formatted_price}}</span>
      </div>
    </div>
  {{/with}}
</div>
