.tile--recipes .tile__media {
    height: 9.5em;
}
    .is-mobile .tile--recipes .tile__media {
        height: 7.5em;
    }

.tile--recipes .tile__media__img {
    margin-top: -20%;
    min-width: 100%;
}

.tile--recipes .tile__source,
.tile--recipes.highlight .tile__source {
    color: #999;
}

.detail--recipes .recipe__title {
    padding: 0;
}

.recipe__cuisine {
    text-transform: capitalize;
}
    .is-mobile .detail--recipes .recipe__cuisine,
    .is-mobile .detail--recipes .recipe__cooking-time {
        display: block;
    }

.recipe__content {
	margin-top: 0.5em;
}
    .is-mobile .recipe__content {
        margin-top: 1em;
    }

.recipe__ingredients {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.recipe__ingredients ul {
    display: inline;
}

.recipe__ingredients li {
    display: inline;
}

.recipe__ingredients a {
    color: inherit;
}

.recipe__ingredients,
.recipe__flavors__name {
    text-transform: capitalize;
}

.recipe__flavors {
    display: block;
}
    .recipe__flavors li {
        display: block;
        position: relative;
        padding-left: 4em;
    }

    .is-mobile .detail--recipes .recipe__flavors {
        padding-top: 0.5em;
    }

.recipe__flavors__name {
    position: absolute;
    text-align: left;
    display: block;
    width: 4em;
    left: 0;
    top: 0;
}

.recipe__flavors__strength,
.recipe__flavors__strength span {
    display: inline-block;
    height: 0.4em;
    vertical-align: middle;
    border-radius: 2em;
}

.recipe__flavors__strength {
    background-color: rgba(150,150,150,0.1);
    position: relative;
    width: 100%;
}

/* background color applied via template to this element */
.recipe__flavors__strength span {
    position: absolute;
    left: 0;
    top: 0;
}

/* single item detail */

.zci--recipes .c-product__subtitle .stars { top: -2px; }

.is-mobile .c-product__subtitle .recipe__cuisine,
.is-mobile .c-product__subtitle .recipe__cooking-time {
    display: block;
}

/* landscape/super-small mode */
@media only screen and (max-height: 400px) {
    .is-mobile .detail--recipes .recipe__flavors {
        display: none;
    }

}

.zci--recipes .view-btn--recipes {
	font-size: 0.9em;
}
