{{sourceDisplayName}}
{{{starRating rating}}}
{{#cuisine}}
	<span class="sep hide--mob"></span>
	<span class="recipe__cuisine">Cuisine: {{.}}</span>
{{/cuisine}}
{{#cookingTime}}
	<span class="sep hide--mob"></span>
	<span class="recipe__cooking-time">Cooking Time: {{.}} minutes</span>
{{/cookingTime}}
