{{sourceDisplayName}}
{{{starRating rating}}}
{{#cuisine}}
	<span class="sep"></span>
	<span class="recipe__cuisine">Cuisine: {{.}}</span>
{{/cuisine}}
{{#cookingTime}}
	<span class="sep"></span>
	<span class="recipe__cooking-time"><span>Cooking </span>Time: {{.}} minutes</span>
{{/cookingTime}}