#zero_click_header a.pipl-privacy-link { font-size: 12px; float: right; line-height: 20px; margin-right: 7px; }
#zero_click_abstract div.tagline { font-size:15px; }
#zero_click_abstract ul { padding-left: 0px; }
#zero_click_abstract ul li { list-style: none; }
#zero_click_abstract ul.results li { width: 50%; float: left; }
#zero_click_abstract ul li>a>img { float: left; margin-right: 5px; }