.zci--github_status .ghstatus--header {
    .text--primary;
    font-size: 1.75em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.zci--github_status .ghstatus--good {
    color: #008000;
}

.zci--github_status .ghstatus--minor {
    color: #eea43e;
}

.zci--github_status .ghstatus--major {
    color: #e34c2d;
}

.zci--github_status .ghstatus--message {
    .text--secondary;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.zci--github_status .ghstatus--update {
    .text--secondary;
    font-size: 1em;
    padding-bottom: 0.75em;
}
