.zci--github_status .ghstatus--header {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.zci--github_status .ghstatus--good {
    color: #4b9e4d;
}

.zci--github_status .ghstatus--minor {
    color: #f1a031;
}

.zci--github_status .ghstatus--major {
    color: #de5833;
}

.zci--github_status .ghstatus--message {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0.75em;
}
