.zci--github_status .header {
}

.zci--github_status .good {
    color: #008000;
}

.zci--github_status .minor {
    color: #eea43e;
}

.zci--github_status .major {
    color: #e34c2d;
}

.zci--github_status .message {
}

.zci--github_status .update {
}
