.zci--dogo_books .tile--dogo_books  {
    width: 12em;
}

@media only screen and (min-width: 83.6em) {
    .zci--dogo_books .tileview--grid .tile--dogo_books {
        width: 11.98%;
    }  
} 

.tile--dogo_books .tile__media__img {
    min-width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-color: #f7f7f7;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.zci--dogo_books .tile__body {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(0,0,0, 0),rgba(0,0,0, 0.7),rgba(0,0,0, 0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0, 0),rgba(0,0,0, 0.7),rgba(0,0,0, 0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0, 0),rgba(0,0,0, 0.7),rgba(0,0,0, 0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0, 0),rgba(0,0,0, 0.7),rgba(0,0,0, 0.8)); /* Standard syntax */
    padding-top: 20px;
    text-shadow: 1px 1px 1px #000;
}

.zci--dogo_books .tile__title {
    /*margin-top:35px;*/
    margin-top:15px;
    margin-bottom: 0.3em;
    color:white;
}

.zci--dogo_books .tile__media {
    height:0;
    padding-bottom:148.333%;
}

.zci--dogo_books .one-line {
    float: left;
}

.tile--dogo_books .tile__title {
    height: 2.5em;
}

.tile--dogo_books .tile__source,
.tile--dogo_books:hover .tile__source {
    color: #aaa;
}

.zci--dogo_books h5.detail__title.detail__tile--pr {
    padding-bottom: 0;
}

.zci--dogo_books .detail__subtitle {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1.5em;
}

.is-mobile .zci--dogo_books .detail__subtitle {
    position: relative;
}

.zci--dogo_books p.detail__desc {
    padding-bottom: 1.65em;
}

.is-mobile .zci--dogo_books p.detail__desc {
    padding-bottom: 5em;    
}

.zci--dogo_books .detail__subtitle sup {
    font-size: 0.5em;
}

.zci--dogo_books .detail .detail__media--pr {
    max-width: 180px;
}

.zci--dogo_books .detail__media--pr--s .detail__media__img {
    max-height: 180px;
}

.is-mobile .detail__media--pr--s {
    overflow: visible;
}

.is-mobile .detail__body--pr--s--sec {
    margin-top: 1.5em;
}

.is-mobile .detail__body--pr--s--pri {
    min-height: 165px;
    padding-bottom: 0em
}

.is-mobile .zci--dogo_books .detail .detail__media--pr {
    max-width: 100%;
}

.zci--dogo_books .btn.btn--primary {
    background:#f7a000;
    color:white;
    border-bottom:none;
}

.is-mobile .zci--dogo_books .btn.btn--primary {
    position: absolute;
    bottom: 1em;
}

.is-mobile .zci.is-active {
    padding-bottom: 0em;
}

.zci--dogo_books .dogo-badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.zci--dogo_books .dogo-badge {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999;
}

.zci--dogo_books .dogo-badge-info {
    background-color: #3a87ad;
}

.zci--dogo_books .dogo-badge-success {
    background-color: #468847;
}

.zci--dogo_books .dogo-badge-warning {
    background-color: #f89406;
}