.zci--dogo_books .tile--dogo_books  {
    width: 12em;
}

.zci--dogo_books .tile__media__img {
    min-width: 100%;
    height: 100%;
    margin-top: 0;
    text-indent: -9999px;
    background-color: #f7f7f7;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

@media only screen and (min-width: 83.6em) {
    .zci--dogo_books .tileview--grid .tile--dogo_books {
        width: 11.98%;
    }  
} 

.zci--dogo_books .tile__media {
    height:0;
    padding-bottom:148.333%;
}

.zci--dogo_books h5.detail__title.detail__tile--pr {
    padding-bottom: 0;
}

.zci--dogo_books .detail__subtitle {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1.5em;
}

.is-mobile .zci--dogo_books .detail__subtitle {
    position: relative;
}

.zci--dogo_books p.detail__desc {
    padding-bottom: 1.65em;
}

.is-mobile .zci--dogo_books p.detail__desc {
    padding-bottom: 5em;    
}

.zci--dogo_books .detail__subtitle sup {
    font-size: 0.5em;
}

.zci--dogo_books .detail .detail__media--pr {
    max-width: 180px;
}

.zci--dogo_books .detail__media--pr--s .detail__media__img {
    max-height: 180px;
}

.is-mobile .detail__media--pr--s {
    overflow: visible;
}

.is-mobile .detail__body--pr--s--sec {
    margin-top: 1.5em;
}

.is-mobile .detail__body--pr--s--pri {
    min-height: 165px;
    padding-bottom: 0em
}

.is-mobile .zci--dogo_books .detail .detail__media--pr {
    max-width: 100%;
}

.is-mobile .zci--dogo_books .btn.btn--primary {
    position: absolute;
    bottom: 1em;
}

.is-mobile .zci.is-active {
    padding-bottom: 0em;
}