<img src="//cdn.dogomedia.com/assets/dogobooks-a85d1c60e272132b90829f032b4f20d0.png" alt="DOGObooks"/>
<p>
    <span class="dogo-badge dogo-badge-info">{{ratings.count}} ratings</span>
    <span class="dogo-badge dogo-badge-success">{{comments_count}} reviews</span>
</p>