/* Resize map-pin icon */
.zci--bike_sharing_indego_phl .mapview-marker__icn.ddgsi-circle {
	font-size: 6px;
}

.tile--bike_sharing_indego_phl .tile__title {
	font-weight: bold;
}

.tile--bike_sharing_indego_phl.tile--c--n {
    text-align: center;
    width: 11.5em;
    height: 11.5em;
}

.tile--bike_sharing_indego_phl p.tx-clr--dk.tx--25 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.1;
}

.tile--bike_sharing_indego_phl .tile__foot {
    max-height: none;
}

.tile--bike_sharing_indego_phl .side_by_side .left {
    border-right: 1px solid #E5E5E5;
    padding-right: 10px;
}

.tile--bike_sharing_indego_phl .side_by_side .right {
    padding-left: 10px;
}

.is-mobile .tile--bike_sharing_indego_phl .side_by_side div {
    width: 50%;
}
