<div class="zci--hearthstone">
    {{#if card_description}}
    <div class="zci--hearthstone--description">{{{card_description}}}</div>
    {{/if}}
    
    {{#if flavor}}
    <div class="zci--hearthstone--flavor tx-clr--lt">{{{flavor}}}</div>
    {{/if}}
</div>
