<span class="detail__callout--pr">
{{#if mal_id}}
    <a href="http://myanimelist.net/anime/{{mal_id}}/" target="_blank" class="btn btn--primary">
      View on MyAnimeList
    </a>
{{/if}}
    <a href="{{url}}" target="_blank" class="btn btn--primary">
      View on Hummingbird
    </a>
</span>
