<span class="detail__callout--pr">
    <a href="{{url}}" target="_blank" class="btn btn--primary">
      View Anime on Hummingbird
    </a>
{{#if mal_id}}
    <a href="http://myanimelist.net/anime/{{mal_id}}/" target="_blank" class="btn btn--primary">
      View Anime on MyAnimeList
    </a>
{{/if}}
</span>
