<span class="anime--runtime">
{{#if episode_count}}
    <span>Episode: {{episode_count}}</span>
    <span class="detail__separator"> | </span>
{{/if}}
    <span>Duration: {{episode_length}} minutes</span>
</span>

