<span class="anime--runtime">
{{#if attributes.episodeCount}}
    <span>Episodes: {{attributes.episodeCount}}</span>
    <span class="detail__separator"> | </span>
{{/if}}
{{#if attributes.episodeLength}}
    <span>Duration: {{attributes.episodeLength}} minutes</span>
{{/if}}
</span>

