<div id="container">
    {{#list results 0 5}}{{/list}}

    {{#if show_more}}
    <div id="hidden">
        {{#list results 6 0}}{{/list}}
    </div>
    {{/if}}

    <div id="more_info">
        {{#if show_more}}
            <span class="tx-clr--lt" id="show_more">
              <i class="chomp--link__icn"></i> 
              <span class="chomp--link__mr">Show More</span>
              <span class="chomp--link__ls" style="display: none">Show Less</span>
            </span>

            <span class="vertical_roller"></span>
        {{/if}}

        <span id="more_at">
            <img src="https://icons.duckduckgo.com/ip/www.similarsitesearch.com.ico" width="16px" height="16px"></img>
            <a class="tx-clr--lt" href="http://www.similarsitesearch.com/alternatives-to/{{more_at}}">More at SimilarSiteSearch</a>
        </span>
    </div>
</div>
