.tile--similar_sites .tile__icon {
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.zci--similar_sites #hidden {
    display: none;
}

.zci--similar_sites #show_more:hover {
    cursor: pointer;
}

.zci--similar_sites #show_less:hover {
    cursor: pointer;
}

.zci--similar_sites li {
    list-style-position: inside;
}

.zci--similar_sites a {
    color: #3B3B3B;
}

.zci--similar_sites hr {
    border-top: 1px solid #ccc;
    margin-top: 1px;
}
