.zci--similar_sites img {
    vertical-align: middle;
}

.zci--similar_sites .c-list__content{
    margin-top: 0;
}

.zci--similar_sites .c-list__items,
.zci--similar_sites .c-list__item {
    border-color: transparent;
}

.zci--similar_sites .c-list__item a {
    font-size: 1.15em;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 10px;
}
