.tile--similar_sites .tile__icon {
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.zci--similar_sites #hidden {
    display: none;
}

.zci--similar_sites #show_more:hover {
    cursor: pointer;
}

.zci--similar_sites #show_less:hover {
    cursor: pointer;
}

.zci--similar_sites li {
    list-style-position: inside;
}
