#zero_click_abstract .espn_zci_tab_link {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#zero_click_abstract .espn_zci_tab_selected {
    text-decoration: underline;
}

#zero_click_abstract .espn_zci_tab {
    display: none;
    margin-top: 5px;
    margin-bottom: 15px;
}

#espn_news_image {
    float: right;
    margin: -15px 10px 0px 0px;
}

#espn_zci_news .blurb,
#espn_zci_gamelog .blurb {
    margin: 8px 0px 0px 6px;
    font-size 95%;
}

#espn_zci_stats table,
#espn_zci_gamelog table {
    margin: 4px 0px 5px 20px;
}

#espn_zci_stats table td,
#espn_zci_gamelog table td {
    padding-right: 15px;
}

#espn_zci_stats table th,
#espn_zci_gamelog table th {
    color: 666666;
    font-size: 12px;
    font-weight: 700;
    font-weight: normal;
}
