#ddgcarousel li.ddgc_item span.news-time {
    font-size: 11px;
    color: #777;
    display: inline;
}

#ddgcarousel li.ddgc_item span.news-title {
    color: #1168CC;
    display: inline;
}

#spice_news #ddgcarousel li.ddgc_item {
    text-align: left;
    font-size: 14px;
}
