#ddgcarousel li.ddgc_item span.news-time {
    font-size: 11px;
    color: #777;
    position: relative;
    left: 22px;
    bottom: 9px;
}

#ddgcarousel li.ddgc_item span.news-title {
    color: RGB(68,68,68);
    font-size: 14px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#spice_news #ddgcarousel li.ddgc_item {
    text-align: left;
}

#spice_news #ddgcarousel .news-snippet {
    overflow: hidden;
    color: #777;
    height: 70px;
}

#spice_news #ddgcarousel .news-more-at {
    border-top: 1px dashed #777;
    margin-top: 10px;
    padding-top: 5px;
}

#spice_news #ddgcarousel img.favicon {
    display: inline;
    width: 16px;
    height: 16px;
}

#spice_news #ddgcarousel .news-more-at .news-domain {
    display: inline;
    margin-top: 0px;
    position: relative;
    top: -4px;
    left: 3px;
    color: #824C42;
}

#spice_news #ddgc_pagination a.zero_click_more_at_link {
    visibility: hidden;
}