#spice_news #ddgcarousel li.ddgc_item {
    text-align: left;
}

#spice_news #ddgc_pagination a.zero_click_more_at_link {
    visibility: hidden;
}

#spice_news a.news-link {
    color: #333333;
    display: block;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
    width: 100%;
}

#spice_news span.news-title {
    display: inline-block;
    color: #444444;
    font-size: 14px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 7px;
    padding-right: 5px;
}

#spice_news #ddgcarousel span.news-title {
    height: 41px;
}

#spice_news .news-snippet {
    font-size: 12px;
    color: #777777;
    height: 66px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 6px;
}

#spice_news .news-more-at {
    border-top: 1px dashed #E0E0E0;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 12px;
}

#spice_news img.favicon {
    display: inline;
    height: 16px;
    width: 16px;
    vertical-align: -16%;
}

#spice_news .news-more-at .news-domain {
    color: #824C42;
    display: inline-block;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    vertical-align: text-bottom;
}

#spice_news .news-more-at .news-date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    margin-left: 20px;
    margin-top: 0px !important;
    color: #777777;
}

#spice_news .news-title .news-date {
    color: #777777;
    font-size: 12px;
}