{{#if firefox}}<img src='share/spice/can_iuse/assets/firefox-icon-16.png'><span class='tx--15 align'> {{firefox}}</span>{{/if}}
{{#if chrome}}&emsp;<img src='share/spice/can_iuse/assets/chrome-icon-16.png'><span class='tx--15 align'> {{chrome}}</span>{{/if}}
{{#if ie}}&emsp;<img src='share/spice/can_iuse/assets/ie-icon-16.png'><span class='tx--15 align'> {{ie}}</span>{{/if}}