<div class="tile  tile--c  has-detail  tile--movie  opt--t-xxs">
	<div class="tile__media">
		<img src="{{image_redirect posters.profile}}" class="tile__media__img" />
	</div>
	<div class="tile__body">
		<h6 class="tile__title">{{ellipsis title 64}}</h6>
		<div class="tile__rating  one-line">
			<span class="tile__source  one-line">{{year}}</span>
			{{{starRating rating}}}
		</div>
	</div>
</div>
