.tile--c.tile--movie {
	width: 12em;
}

.tile--movie .stars {
	float: right;
}

.tile--movie .tile__media {
	height: 14em;
}

.tile--movie .tile__media__img {
	width: 100%;
}

.tile--movie .tile__source,
.tile--movie:hover .tile__source {
    color: #aaa;
}
