.tile--movie  {
    width: 12em;
}

.tile--movie .tile__media {
    height: 17.1em;
}

.tile--movie .tile__media__img {
    min-width: 100%;
    height: 100%;
    margin-top: 0;
}

.zci--movie .one-line {
    float: left;
}

.tile--movie .tile__title {
    height: 2.5em;
}

.tile--movie .tile__source,
.tile--movie:hover .tile__source {
    color: #aaa;
}

.zci--movie .tomato--icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent no-repeat;
}

.zci--movie .btn.btn--primary {
    margin-top: 1em;
}