ul.twitter_trends {
	padding-left: 0px;
}

ul.twitter_trends li {
	display: inline-block;
	margin: 4px 3px;
}

a.twitter_trend {
	color: #444;
	display: block;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 12px;
	background-color: #f5f5f5;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5f5f5),color-stop(1,#e9e9e9));
	background: -webkit-linear-gradient(top,#f5f5f5 0,#e9e9e9 100%);
	background: -moz-linear-gradient(top,#f5f5f5 0,#e9e9e9 100%);
	background: -o-linear-gradient(top,#f5f5f5 0,#e9e9e9 100%);
	background: -ms-linear-gradient(top,#f5f5f5 0,#e9e9e9 100%);
	background: linear-gradient(top,#f5f5f5 0,#e9e9e9 100%);
	-webkit-box-shadow: inset 0 1px 0 #fbfbfb;
	box-shadow: inset 0 1px 0 #fbfbfb;
	-webkit-border-radius: 3px;
	border: 1px solid #c9c9c9;
	border-color: rgba(136,136,136,0.48);
}

a.twitter_trend:hover {
	color: #FFF;
	text-decoration: none;
	text-shadow: none;
	background: #666;
	box-shadow: none;
}	