<div class="tile__body">
    <h1 class="zci__header tx--l7">{{title}}</h1>
    <div class="tile__content side_by_side">
        <div class="left half">
            <p class="tx-clr--dk">Bikes</p><br/><p class='tx-clr--dk t-xxl'>{{availableBikes}}</p>
        </div>

        <div class="right half">
            <p class="tx-clr--dk">Docks</p><br/><p class='tx-clr--dk t-xxl'>{{availableDocks}}</p>
        </div>
    </div>
    <div class="tile__foot ">
        <span class="tx--12 tx-clr--grey">Updated {{lastCommunication}}</span>
    </div>
</div>