ul.blacklists 
{
    margin: 0;
    padding: 0;
    padding-top: 0.2em;
}

.iplookup_domain_name 
{
	font-size: 2em;
	margin-bottom: 0;
}

.iplookup_owner
{
	font-size: 1.3em;
}

.zci__more-at--info img 
{
	padding-right: 0.4em;
}

.iplookup_blacklist
{
	margin-top: 0.5em;
}

.iplookup_location, .iplookup_blacklist 
{
	margin-bottom: 0.5em;
}