<div class="tile__tx tile--pr__sub one-line">
    <span class="tile--pr__price  price">${{price}}</span>    
    <span class="tile--pr__brand">by {{user}}</span>
</div>
<div class="tile__tx tile__rating one-line">
    {{{starRating rating}}}
    <span class="review-count">{{formatSales sales}}</span>
</div>