.zci--envato .tile--audio .tile__media {
    padding-bottom: 9.6em;
}

.zci--envato .tile--audio .tile__media__img {
    height: 80px;
    top: 50%;
    margin-top: -40px;
}

.zci--envato .tile--audio .tile__body {
    padding-top: .75em;
    padding-bottom: .75em;
}

.zci--envato .tile--audio .tile__footer {
    margin-top: 0;
    line-height: 1.4em;
}

.zci--envato .tile--audio .tile__duration {
    position: absolute;
    top: .75em;
    right: .8em;
}

.zci--envato .review-count {
    margin-left: .4em;
    position: relative;
    bottom: 1px;
}

.zci--envato .stars {
    margin-right: 0;
}

.zci--envato .tile-wrap .tile {
    width: 17em;
    font-size: .87em;
}

.zci--envato .tile-wrap .tile__title {
    margin-bottom: .2em;
    height: 2.5em;
    line-height: 1.25em;
}

.zci--envato .tile-wrap .tile .tile__tx {
    height: auto;
}

.zci--envato .tile-wrap .tile .tile__tx .tile--pr__brand {
    display: block;
    margin-bottom: .8em;
    color: #888;
}

.zci--envato .tile-wrap .tile .tile__tx .tile__sep {
    display: none;
}

.zci--envato .tile-wrap .tile .tile__tx .tile--pr__price {
    position: absolute;
    bottom: .6em;
    right: .8em;
}

.zci--envato .tile-wrap .tile__title {
    font-size: 1.1667em;
}