.nutrition__header.zci__header {
    font-size: 1.75em;
    font-weight: normal;
}
.nutrition__portion {
    margin-bottom: .5em;
}
.nutrition__portion.frm__select {
    margin-bottom: .5em;
    margin-left: -2px;
}
