.zci--nutrition tr {
    border-bottom: 1px solid #dedede;
}

.zci--nutrition tr:last-of-type {
    border-bottom: none;
}

.zci--nutrition td {
    padding:2px 0;
}

.zci--nutrition th,
.zci--nutrition td {
    padding-right: 15px;
}