<div class="one-line">
    <div class="sub-title">{{subTitle}}</div>
    <img src="{{iconArrow.url}}"> {{data.score}} &middot; {{plural data.num_comments singular="Comment" plural="Comments"}}
</div>
