..tile--reddit_search reddit__search--comments a {
    color: #999;
}

.tile--reddit_search .tile__title {
    margin-bottom: 0.25em;
    height: 5em;
}

.tile--reddit_search .tile__body {
    height: 15em;
}

.tile--reddit_search .tile__footer {
    margin-bottom: 0.5em;
}

.tile--reddit_search .tile__footer .sub-title {
    margin-bottom: 0.25em;
}

.tile--reddit_search .tile__content {
    height: 3em;
}