<div class="detail__callout--pr">
    {{#if datasheet}}
	    <a href="{{{datasheet}}}" class="btn btn__datasheet">Datasheet</a>
    {{/if}}
	<a href="{{{item.octopart_url}}}" class="btn btn--primary">Authorized Distributors</a>
</div>
