<li class="ddgc_item" data-index="{{@index}}"> {{! width set in setup() }}
    <a href="javascript:void(0);">
        <p><img src="/iu/?u={{item.images.[0].url_90px}}"></p>
        <span>{{{condense item.mpn maxlen="25"}}}</span>
    </a>
</li>