<div>
    <div><a href="{{item.detail_url}}"><b>{{item.mpn}}</b></a></div>
    <div><i>Details: </i> {{item.short_description}}</div>
    <div><i>Average Price: </i> ${{toFixed item.avg_price.[0]}}</div>
</div>