.detail--octopart .btn__datasheet {
    margin-right: 2px;
    background-color: #e5e5e5;
}

.is-mobile .detail--octopart .detail__body__content{
    position: absolute;
    margin-right: 1em;
    bottom: 4em;
}