<div class="zci-quote_of_the_day--container">
  <div class="zci-quote_of_the_day">
    {{ellipsis quote 150}}
  </div>
  <div class="zci-quote_of_the_day--attribution">
    {{person}}
  </div>
</div>
