.quote_of_the_day_container {
    overflow: hidden;
    margin-left: -2.8em;
}

.quote_of_the_day {
    quotes: "“" "”";
    font-size: 1.5em;
    font-weight: 300;
}

.zci--quote_of_the_day_ .zci__body {
    margin-left: -2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2.8em;
}

.quote_of_the_day:before {
    color: #D4D4D4;
    content: open-quote;
    float: left;
    font-size: 4em;
    margin-top: -0.25em;
    margin-right: 0.1em;
}

.quote_of_the_day_attribution {
    color: #999;
    float: left;
    margin-top: 5px;
}

.zci--quote_of_the_day_ .zci__content.chomp {
    max-height: none;
    margin-bottom: 0;
}

.zci--quote_of_the_day_ .zci__body.zci__body--info {
    padding-left: 0.25em;
}

.is-mobile .quote_of_the_day_container {
    margin-left: 0px;
    margin-bottom: 0.5em;
}

.is-mobile .zci--quote_of_the_day_ .zci__more-at {
    margin-left: 40px;

}

.is-mobile .zci--quote_of_the_day_ .quote_of_the_day_attribution {
    margin-left: 40px;
}
