.float_left{
	float: left;
}

.float_right{
	float: right;
}

.hidden{
	display: none;
}

#zero_click_abstract{
	margin-right: 10px !important;
}

#spice_container{
	clear: both;
	width: auto;
	margin: 10px 0;
	width: 100%;
	float: left;
}

.quixey_app_container{
	float: left;
    display: inline-block;
    padding: 5px 0 5px 5px!important;
    position: relative;
}

.quixey_app_container:hover{
	background: url("/assets/results_highlight_bg.v101.png") repeat-x;
	background-color: #EAEAEA;
	border: 1px solid #BFBFBF !important;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
}

.quixey_app_container:first-of-type{
	margin-left: 0;
}

.quixey_app_container:last-of-type{
	margin-right: 0;
	clear: right;
}

.quixey_app_container a:first-of-type{
	display: block;
	float: left;
}

.quixey_app_container.collapse{
    min-width: 135px;
    min-height: 60px;
}

.quixey_app_container.expand{
    width: 100%;
    min-height: 120px;
    border: 1px solid #BFBFBF !important;
    border-radius: 6px;
}

.quixey_app_container.collapse:hover::after{
	content: "Expand";
	background: url("/assets/results_highlight_bg.v101.png") repeat-x;
	background-color: #EAEAEA;
	border: 1px solid #BFBFBF !important;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px 0 6px 0;
	cursor: pointer;
	padding: 3px;
	position: absolute;
	bottom: 0px;
	right: 0px;
    margin-right: -1px;
    margin-bottom: -1px;
    font-size: 12px;
    font-weight: bold;
}

.quixey_app_container.expand::after{
	content: "Collapse";
	background: url("/assets/results_highlight_bg.v101.png") repeat-x;
	background-color: #EAEAEA;
	border: 1px solid #BFBFBF !important;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px 0 6px 0;
	cursor: pointer;
	padding: 3px;
	position: absolute;
	bottom: 0px;
	right: 0px;
    margin-right: -1px;
    margin-bottom: -1px;
    font-size: 12px;
    font-weight: bold;
}

.quixey_app_icon{
    margin: 0px;
    height: 48px;
	width: 48px;
	float: left;
	display: block;
}

.quixey_app_info{
	display: block;
	float: left;
	margin-left: 5px;
	font-size: 12px;
	padding: 0 2px 0 0;
}

.quixey_name{
	display: block;
	font-size: 13px;
	clear: right;
	max-width: 132px;
	margin-bottom: 5px;
}

.quixey_name.expand{
	max-width: 100%;
}

.quixey_app_more_info{
	float: left;
	clear: both;
	display: block;
	height: auto;
	padding: 5px 5px 0 0;
	font-size: 13px;
}

.quixey_app_platforms{
	float: left;
	clear: left;
}

.quixey_app_platform{
	display: inline-block;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1px 2px 0;
	vertical-align: text-bottom;
	margin-left: 3px
}

.quixey_app_platform:hover{
	border: 1px solid darkblue;
	background: lightblue;
	cursor: pointer;
}

.quixey_app_platform img.quixey_platform_icon{
	max-width: 13px;
	margin: 0 2px 0 0;
	vertical-align: text-top;
}

.quixey_app_edition{
	float: left;
	padding: 3px;
}

.quixey_app_edition_icon{
	max-width: 20px;
	display: inline-block;
	vertical-align: top;
}

.quixey_platform_icon{
	display: inline-block;
	max-width: 16px;
	margin-left: 5px;
}

.quixey_app_info.quixey_platform_icon:first-of-type{
	margin-left: 0px;
}

.quixey_platform_name{
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
	vertical-align: top;
}

.quixey_platform_name:first-of-type{
	margin-left: 0px;
}