.tile--wgha .tile__title {
    text-transform: none;
}

.tile--wgha .tile__title__sub {
    text-transform: none;
    color: #999;
}

.tile--wgha .tile__body {
    height: 14em;
}

.tile--wgha .tile__content {
    height: 6.4em;
}

.is-mobile .tile--wgha .tile__content {
    height: 7em;
}
