.tile--wgha .tile__title {
    text-transform: none;
    height: 4em;
}

.tile--wgha .tile__title__sub {
    text-transform: none;
    color: #999;
}

.tile--wgha .tile__body {
    height: 13.8em;
}

.tile--wgha .tile__content {
    height: 3.7em;
}
