
.tile--coursebuffet .tile__title__sub {
  text-transform: none;
  color: #999;
}
.tile--coursebuffet {
  width: 24em !important;
}
.tile--coursebuffet .tile__title {
  height: 4em;
}
.tile--coursebuffet .tile__body {
  height: 9em;
}