.zci--caniuse_lists .align{
    vertical-align: bottom;
    padding-right: 0.55em;
}

.zci--caniuse_lists .fourteen {
    width: 14%;
    float: left;
    margin-bottom: 0em;
}

.zci--caniuse_lists .usage_perc{
    float: left;
    margin-top: 0.5em;
}

.zci--caniuse_lists .mobile-browser{
    padding-right: 1.0em;
}
