<span class="sep--after text--secondary"><i class="ddgsi ddgsi-download"></i> {{downloads}}</span><a href="{{repository}}" title="View on GitHub" class="text--secondary"><i class="ddgsi ddgsi-star"></i> {{favers}}</a>
