<div class="one-line text--secondary">
    <i class="ddgsi ddgsi-download"></i> {{downloads}}
    •
    <a class="text--secondary" href="{{repository}}" title="View on GitHub">
        <i class="ddgsi ddgsi-star"></i> {{favers}}
    </a>
</div>
