.tile--packagist .tile__title__sub {
    text-transform: none;
}

.tile--packagist .tile__body {
    height: 13.5em;
}

.tile--packagist .tile__content {
    height: 6em;
}

.tile--packagist .tile__footer {
    color: #aaa;
    line-height: 1em;
}

.tile--packagist .tile__footer .ddgsi {
    vertical-align: top;
}