#maps h1 {
    font-size: 120%;
    display: block !important;
}

#maps div.border {
    border: 1px solid #e2e2e2;
    padding: 5px;
    height: 100px;
}

#maps .right, #maps .details, #maps .reviews {
    display: inline-block;
    vertical-align: middle;
}

#maps .right {
    float: right;
}

#maps .right img {
    margin-bottom: 5px !important;
}

#maps .title {
    overflow: hidden;
}
