/*
    Document   : zeroclickinfo-spice/share/spice/zomato/zomato.css
    Created on : 2015-07-30 09:08 AM
    Author     : dheeraj143
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

.tile--loc .tile__media__img {
    max-width: 100% !important;
}