{{#if rating_count}}
    <span class="tile__count  pull-left">
        <span class="tile__count__icon">♥</span>
        {{numFormat rating_count}}
    </span>
{{/if}}
<span class="tile__duration  pull-right">
    {{name}}
</span>

