<div class="fe_forecast">
  <div class="fe_currently">
    <div class="fe_top">
      <img id="fe_current_icon" width="160" height="160" style="width:80px; height:80px" />
      <div class="fe_temp"></div>
    </div>
    <div class="fe_summary"></div>
    <div class="fe_wind"></div>
    <button id="fe_switch_temp"></button>
  </div>
  
  <div class="fe_daily"></div>
  <div style="clear:left"></div>
</div>

<div class="fe_alert" style="display:none"></div>
