/*
	TODO: Namespace everything
*/

.fe_currently,
.fe_day {
	height: 16em;
	color: #818181;
}

.fe_currently {
	text-align: center;
	width: 20em;
}
.fe_day {
	width: 10em;
}

.fe_current-wrap {
	display: inline-block;
	margin-top: 1em;
}
.fe_top {
	font-size: 2em;
}
.fe_bottom {
	font-size: 1.1em;
	text-align: left;
}
	.fe_summary h6,
	.fe_bottom h6 {
		font-weight: normal !important;
		padding-bottom: 0;
	}
	.fe_bottom h6 {
		font-size: 1.15em;
	}
	.fe_summary h6 {
		font-size: 1em;
	}
	
	.fe_current_icon {
		width: 3.125em;
		vertical-align: bottom;
		margin-bottom: 0.25em;
		margin-right: 0.25em;
	}
	.fe_icon {
		float: right;
		width: 3.5em;
	}
	/*h1*/.fe_temp {
		display: inline-block;
		line-height: 1.1;
		margin-bottom: 0 !important;
		margin-right: -.25em;
	}
	
	.fe_temp_bar {
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 0;
		padding-right: 1em;
	}
		.fe_temp_bar h1 { 
			margin-bottom: 0 !important; 
		}
		
	.fe_sep { 
		padding: 0 0.25em;
		display: inline-block;
		color: #dadada; 
	}
	
	.fe_label,
	.fe_date {
		text-align: left;
		font-size: 1.15em;
	}
	.fe_date {
		font-size: 1em;
	}
	
	.fe_label,
	.fe_high_temp,
	.fe_temp  {
		color: #333;
	}
	
	/*h1*/.fe_low_temp,
	.fe_date {
		margin-top: -0.25em;
		color: #b2b2b2;
	}
		.fe_label + .fe_date {
			margin-top: -0.5em;
		}
	
	.fe_day .fe_summary {
		margin-top: 1em;
	}