<div class="fe_forecast">
  <div class="fe_currently">
    <canvas id="fe_current_icon" width="160" height="160" style="width:80px; height:80px"></canvas>
    <div class="fe_temp"></div>
    <div class="fe_summary"></div>
    <div class="fe_wind"></div>
  </div>
  
  <div class="fe_daily"></div>
  <div style="clear:left"></div>
</div>

<div class="fe_alert" style="display:none"></div>