/* Primary/Alt Icons */

.zci--forecast .fe_icon-wrap {
	position: relative;
	display: inline-block;
}

.zci--forecast .fe_icon,
.zci--forecast .fe_icon--alt {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.zci--forecast .fe_icon {
	display: block;
}

.zci--forecast .dark-header .fe_icon {
    display: none;
}

.zci--forecast .fe_icon--alt {
	display: none;
	opacity: 0.81;
}

.zci--forecast .dark-header .fe_icon--alt {
    display: block;
}

/* Other Styling */

.zci--forecast .fe_currently,
.zci--forecast .fe_day {
	height: 16em;
}

.zci--forecast .fe_currently {
	text-align: center;
	width: 20em;
}

.zci--forecast .fe_day {
	width: 10em;
}

.zci--forecast .fe_current-wrap {
	display: inline-block;
	margin-top: 0.75em;
	max-width: 100%;
}

.zci--forecast .fe_current__top {
	font-size: 2em;
}

.zci--forecast .fe_current__bottom {
	font-size: 1.1em;
	text-align: center;
	position: absolute;
	bottom: 1.25em;
	left: 1.25em;
	right: 1.25em;
}

.zci--forecast .fe_summary {
    overflow: hidden;
    max-height: 2.6em;
    display: block;
}

.zci--forecast .fe_summary h6,
.zci--forecast .fe_current__bottom h6 {
    font-weight: normal !important;
    padding-bottom: 0;
}

.zci--forecast .fe_current__bottom h6 {
    font-size: 1.15em;
}

.zci--forecast .fe_summary h6 {
    font-size: 1em;
}

.zci--forecast .fe_icon-wrap--current {
    width: 80px;
    height: 80px;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-right: 0.35em;
}

.zci--forecast .fe_icon-wrap--daily {
    float: right;
    width: 40px;
}

.zci--forecast .fe_temp {
    display: inline-block;
    line-height: 1.1;
    margin-bottom: 0 !important;
    margin-right: -.25em;
    font-size: 2.5em;
}

.zci--forecast .fe_temp_corner {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1em;
    font-size: 0.9em;
}

.zci--forecast .fe_temp_corner h1 { 
    margin-bottom: 0 !important; 
}

.zci--forecast .fe_sep { 
    padding: 0 0.25em;
    display: inline-block;
}

.zci--forecast .fe_label,
.zci--forecast .fe_date {
    text-align: left;
    font-size: 1.15em;
}

.zci--forecast .fe_date {
    font-size: 1em;
}

.zci--forecast .fe_label a,
.zci--forecast .fe_label a:visited {
    color: inherit;
}

.zci--forecast .fe_low_temp,
.zci--forecast .fe_date {
    margin-top: -0.25em;
}

.zci--forecast .fe_label + .fe_date {
    margin-top: -0.5em;
}

.zci--forecast .fe_currently .fe_topline {
    margin-bottom: 0.29em;
    padding-bottom: 0.3em;
    position: relative;
}

.zci--forecast .fe_currently .fe_topline:after {
    border-bottom: 1px solid #e7e7e7;
    border-bottom-color: rgba(100, 100, 100, 0.25);
    position: absolute;
    display: block;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    width: 50px;
    height: 0px;
}

.zci--forecast .fe_day .fe_summary {
    margin-top: 1em;
    max-height: 5.4em;
}

.zci--forecast .fe_alert {
    margin-left: 0.5em;
}
	
/* 
	Mobile-Specific Objects
*/

.zci--forecast .is-mobile .fe_current-wrap--mob {
    margin-top: -0.5em;
}

.zci--forecast .fe_current-wrap--mob .fe_currently {
	margin: -0.5em;
	min-height: 14.25em;
	height: auto;
	width: auto;
}

.zci--forecast .fe_current-wrap--mob .fe_current-wrap {
	margin-top: 0.5em;
}

.zci--forecast .fe_current-wrap--mob .fe_currently .fe_topline {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.zci--forecast .fe_current-wrap--mob .fe_currently .fe_topline:after {
    border-bottom-color: #aeaeae;
    border-bottom-color: rgba(100,100,100,0.25);
}

.zci--forecast .fe_current-wrap--mob .fe_current__bottom {
    margin-top: 1.25em;
    margin-bottom: 1em;
    position: static;
    font-size: 1em;
}

.zci--forecast .fe_meta {
	padding-top: 0.125em;
	float: right;
}

.zci--forecast .fe_meta .fe_sep {
    padding: 0 0.5em;
}

.zci--forecast .fe_meta .fe_more-at {
    display: inline;
    font-size: 1em;
    color: inherit;
}

.zci--forecast .fe_days {
	display: block;
	padding-left: 0.6em;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: auto;
	min-height: 150px;
	-webkit-overflow-scrolling: touch;
	margin-bottom: -0.5em;
}

.zci--forecast .fe_day--bar {
    text-align: center;
    display: inline-block;
    min-height: 150px;
    min-width: 48px;
    width: 11.6%;
}

.zci--forecast .fe_day--bar .fe_label {
    padding-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9em;
}

.zci--forecast .fe_icon-wrap--bar {
	margin-top: 2px;
	height: 26px;
	width: 26px;
}

.zci--forecast .fe_temp_bar {
	border-radius: 2em;
	margin: 0 auto 3em;
	white-space: nowrap;
	position: relative;
	width: 0.7em;
	top: 1.5em;
}

.zci--forecast .fe_temp_bar .fe_high_temp,
.zci--forecast .fe_temp_bar .fe_low_temp {
    font-size: 0.8em;
    position: absolute;
    width: 2em;
    left: -0.5em;
}

.zci--forecast .fe_temp_bar .fe_high_temp {
    top: -1.5em;
}

.zci--forecast .fe_temp_bar .fe_low_temp {
    bottom: -1.5em;
}

.zci--forecast .fe_temp_switch {
	text-decoration: none;
	cursor: pointer;
}

.zci--forecast .fe_temp_switch .is-active {
	font-weight: bold;
}
