#zero_click_wrapper2{
 overflow: hidden !important;
}

#zero_click_abstract {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

#zero_click_image {
  display: none !important;
}

.quixey_logo {
  background: url(quixey_logo.png);
  background-size: 100% auto;
  width: 125px;
  height: 15px;
  background-repeat: no-repeat;
  position:relative;
  float: right;
}

#quixey:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#quixey {
  zoom: 1;
  margin: 4px 0;
}

#nav {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#pagination{
  width: 100%;
  background: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0px -1px 1px #ddd;
  height: 35px;
  margin-top: 10px;
}

#frame {
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
}

#quixey ul {
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

#quixey li.item {
  float: left;
  list-style-type: none;
  height: 130px;
  margin: 0;
  padding: 5px 0;
  border: 1px solid transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  margin-right: 10px;
}

#quixey li.item:hover {
  background: url("http://duckduckgo.com/assets/results_highlight_bg.v101.png") repeat-x;
  background-color: #eaeaea;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

#quixey li.sel, #quixey li.sel:hover {
  background-image: none !important;
  background-color: #eaeaea;
  border: 1px solid #fff;
}

#quixey li.item a {
  color: #333;
  text-decoration: none;
}

#quixey li.item a:hover {
  text-decoration: none;
}

#quixey li.item img {
  margin: 0 auto 5px auto;
  max-width: 80px;
}

#quixey li.item p {
  max-width: 80px;
  margin: 0 auto;
  font-size: 12px;
}

#quixey a.npa {
  font-size: 30px;
  color: #bfbfbf;
  text-decoration: none !important;
  width: 5%;
  text-align: center;
  line-height: 30px;
}

#quixey a.npah {
  color: #eee !important;
}

#nexta {
  right: 0;
  position: absolute;
  border-left: 1px solid #f7f7f7
}

#preva {
  left: 0;
  position: absolute;
  border-right: 1px solid #f7f7f7
}

#emb {
  display: none;
  background: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5px;
}

#preview {
  font-size: 12px;
  padding: 8px 5px;
}

#dots {
  text-align: center;
  margin: 12px 0;
}

#dots p {
  margin: 0px;
  font-weight: normal;
  font-size: 13px;
  color: #bfbfbf;
  padding: 0 2px;
}

#dots a {
  padding: 0 2px;
  font-size: 30px;
  color: #ccc;
  text-decoration: none !important;
  line-height: 0px;
}

#dots a.selected {
  color: #1168cc;
}

#gr {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 25px;
  background: #f9f9f9;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.hidden{
  display: none;
}

#quixey .app_icon{
  margin: 0px;
  max-width: 100%;
}

#quixey .rating{
  margin-right: 5px;
  display: inline;
}

#quixey span.star{
  background: url(star.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  margin 0 2px;
  background-size: 100% auto;
}

#quixey .app_icon_anchor{
  max-width: 10%;
  float: left;
  margin-right: 5px;
}


#quixey .app_info{
  display: block;
  float: left;
  font-size: 12px;
  padding: 0 2px 0 0;
  width: 100%;
}

#quixey .app_details{
  display: block;
  float: left;
  margin: 0 0 5px;
}

#quixey .price{
  margin: 3px 0;
  font-size: 1.2em;
  display: inline;
  line-height: 1.5em;
}

#quixey .name_wrap{
  display: inline-block;
  max-width: 85%;
}

#quixey .name{
  display: block;
  width: 100%;
  font-size: 1.1em;
}

#quixey .app_platforms{
  float: left;
  clear: both;
  width: 100%;
}

#quixey .app_editions{
  float: left;
  width: 100%;
}

#quixey .app_editions::before{
  content: "App Editions:";
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 10px; 
}

#quixey .app_platforms::before{
  content: "Available On:";
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 10px; 
}

#quixey .app_platform{
  display: inline-block;
  border-radius: 5px;
  padding: 5px 5px 2px 5px;
  vertical-align: text-bottom;
  margin-right: 3px;
  background: #EEE;
  border: 1px solid #DDD;
}

#quixey .app_platform:hover {
  border: 1px solid darkblue;
  background: lightblue;
  cursor: pointer;
}

#quixey .app_platform img.platform_icon{
  max-width: 13px;
  margin: 0 2px 0 0;
  vertical-align: text-top;
}

#quixey .app_edition{
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

#quixey .app_edition_icon{
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

#quixey .app_edition_icon img{
  max-width:100%;
}

#quixey .platform_icon{
  display: inline-block;
  max-height: 13px;
  margin-left: 5px;
}

#quixey .platform_icon:first-of-type {
  margin-left: 0px;
}

#quixey .platform_name{
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  vertical-align: top;
}

#quixey .platform_name:first-of-type {
  margin-left: 0px;
}
