.zci--time .time {
    display: inline-block;
    font-size: 3.75em;
    line-height: 1;
    padding:.2em 0.4em 0.2em 0;
    font-weight: 300;
}

.zci--time .time__date {
    display: inline-block;
    line-height: 1.25;
    font-weight: 300;
}

.zci--time .c-base__links {
    margin-top: 0.25em;
}

@media (max-width: 345px) {
    .is-mobile .zci--time .c-base__links {
        margin-top: 0.75em;
    }
}

@media (max-width: 244px) {
    .zci--time .time {
        font-size: 2.75em;
    }
}