.zci .zci__main--def h3 {
    margin-bottom: 0;
}

.zci__def__word {
    font-weight: bold;
}

.zci__def__pronunciation,
.zci__def__plural {
    font-size: 0.75em;
}

.zci__def__part-of-speech {
    font-style: italic;
}

.zci__def__audio {
    display: none;
    font-size: 0.5em;
    text-align: center;
    vertical-align: middle;
    background: #979797;
    color: #fafafa;
    width: 1.8em;
    height: 1.9em;
    border-radius: 2em;
    padding: .1em 0 0 .2em;
    line-height: 2em;
    cursor: pointer;
}

.zci__def__audio:hover {
    background: #a7a7a7;
    color: #fff;
}

.zci__def__audio.is-loaded {
    display: inline-block;
}

.zci__def__audio.is-playing:hover,
.zci__def__audio.is-playing {
    background: #60ae50;
}
