<div>
    <b id="hyphenation">{{this.[0].word}}</b>
    {{#if this.[0].pluralOf}}
        <span> is the plural form of {{this.[0].pluralOf}}</span>
    {{/if}}
    <span id="pronunciation"></span>
    <button id="play-button" class="widget-button widget-disappear"></button>
</div>
{{#each this}}
    <div class="definition">
        <i>{{part partOfSpeech}}</i>
        <span>{{{format text}}}</span>
    </div>
{{/each}}