.zci--definition ul {
    margin-bottom: 0.25em;
    display: table;
}

.zci--definition ul li {
    display: table-row;
}

.zci--definition .zci__def__definition {
    overflow: hidden;
    display: table-cell;
}

.zci--definition .zci__more-at {
    padding-bottom: 0.37em;
}

.zci__def__word {
    font-weight: 600;
}

.zci__def__pronunciation,
.zci__def__plural {
    font-size: 0.75em;
}

.zci__def__part-of-speech {
    font-style: italic;
    padding-right: 1em;
    display: table-cell;
    min-width: 1em;
}

