<div>
	<b>{{this.[0].word}}</b> 
	<span id="pronunciation"></span> 
	<i id="play-icon"></i>
</div>
{{#each this}}
    <div class="definition">
    	<em>{{part partOfSpeech}}</em> 
    	<span>{{format text}}</span>
    </div>
{{/each}}