<div>
	<b>{{this.[0].word}}</b> 
	<span id="pronunciation"></span> 
	<i id="play-icon"></i>
</div>
{{#each this}}
    <div>
    	<i>{{part partOfSpeech}}</i> 
    	<span>{{text}}</span>
    </div>
{{/each}}