.zci__def__word {
    font-weight: 600;
}

.zci__def__pronunciation,
.zci__def__plural {
    font-size: 0.75em;
}

.zci__def__part-of-speech {
    font-style: italic;
}

.zci__def__audio {
    display: none;
    font-size: 0.5em;
    text-align: center;
    vertical-align: middle;
    background: #979797;
    color: #fafafa;
    width: 1.8em;
    height: 1.8em;
    border-radius: 1.8em;
    line-height: 1.8em;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.zci__def__audio:hover {
    background: #a7a7a7;
    color: #fff;
}

.zci__def__audio.is-showing {
    display: inline-block;
    line-height: 1.8em;
}

.zci__def__audio.is-loading {
    background: #c9481c;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -0-transform: scale(.5);
    transform: scale(.5);
}

.zci__def__audio.is-playing:hover,
.zci__def__audio.is-playing {
    background: #60ae50;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

.zci__def__audio.is-failed:hover,
.zci__def__audio.is-failed {
    background: none;
    width: auto;
    height: auto;
    cursor: inherit;
    color: #aaa;
    font-style: italic;
}

