<div class="cw">
    <div class="zci__main">
        <div class="zci__body">
            {{{include content}}}
            <a class="zci__more-at" href="{{source_url}}"><img class="zci__more-at__icon" src="//icons.duckduckgo.com/ip/{{getDomain source_url}}.ico" /> More at {{source_name}}</a>
        </div>
    </div>
</div>
