<div class="tile__update__info one-line">
    <div class="gw">
        <span class="g  forty opt--left">
            <span class="ddgsi ddgsi-download"></span>
            {{unique_installs}}
        </span>
        <span class="g  sixty opt--right">
            <span class="ddgsi ddgsi-clock"></span>
            {{last_modified}}
        </span>
</div>