<div class="tile__update__info one-line">
    <span class="pull-left">
        <span class="ddgsi ddgsi-download"></span>{{unique_installs}}
    </span>
    <span class="pull-right">
        <span class="ddgsi ddgsi-clock"></span>{{last_modified}}
    </span>
</div>
