<div class="tile__update__info one-line">
        <span class="opt--left">
            <span class="ddgsi ddgsi-download"></span>
            {{unique_installs}}
        </span>
        <span class="opt--right">
            <span class="ddgsi ddgsi-clock"></span>
            {{last_modified}}
        </span>
</div>