.js-infobox-tile .info__value {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 20px;
}

.zci--bitcoin_block .zci__body .zci__more-at{
    padding-top: 1em;
}
.zci--bitcoin_block .record .record__cell__value {
    word-wrap: break-word;
    padding: 0.4em;
}

.zci--bitcoin_block .record .record__cell__key {
    padding: 0.4em;
    width: 150px;
}

.is-mobile .zci--bitcoin_block .record .record__cell__value {
    max-width: 150px;
}

.zci--bitcoin_block .record .record__body{
    width: 100%;
}

.is-mobile .zci--bitcoin_block .record .record__cell__key {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}