<h3>
    {{#if word}}
        <span class="zci__urban__word">{{word}}</span>
    {{/if}}
</h3>
<p class="ud_definition">
    {{definition}}
</p>
<div class="ud_example">
    {{#each example}}
        <div class="example">{{this}}</div>
    {{/each}}
</div>