/* Styles For Tiles */

.tile--vt_beer_trail .tile__description.opt {
    display: block !important;
    margin-bottom: 0px;
}

.tile--vt_beer_trail .tile__media--b-i {
    height: 11rem
}

.tile--vt_beer_trail .tile__media__img {
    margin-top: 1rem;
}

/* Styles For Detail */

.detail--vt_beer_trail .detail__pane--img {
    float: left;
    width: 15%;
    margin-right: 3em;
}

.detail--vt_beer_trail .detail__pane--header {
    line-height: 24px;
}

.detail--vt_beer_trail .detail__pane--info {
    float: left;
    width: 30%;
    margin-right: 3em;
}

.detail--vt_beer_trail .detail__pane--address {
    margin-top: 1rem;
    padding: 0px;
}

.detail--vt_beer_trail .detail__pane--social {
    margin-top: 1rem;
    max-height: 50px;
    line-height: 48px;
}

.detail--vt_beer_trail .detail__pane--social--link {
    display: inline-block;
    max-height:48px;
    max-width: 48px;
    margin-right: .5em;
    border: .1em solid rgba(55, 55, 55, 0.1);
    border-radius: .25em;
    -moz-transition: background-color 0.3s ease-in, border 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in, border 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in, border 0.3s ease-in;
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

.detail--vt_beer_trail .detail__pane--social--link:last-of-type {
    margin-right: 0px;
}

.detail--vt_beer_trail .detail__pane--social--link:hover {
    background-color: rgb(209, 209, 209);
    border: 0.1em solid rgba(55, 55, 55, 0.4);
}

/* TODO figure out how to get a sprite into a background-image: url() property */
.detail--vt_beer_trail .detail__pane--social--icon {
    opacity: 0.5;
}
