/* Styles For Tiles */

.tile--vt_beer_trail .tile__description.opt {
    display: block !important;
    margin-bottom: 0px;
}

/* A Sprite here would be cool, let's see what DDH thinks! */
.tile--vt_beer_trail .tile__media--b-i {
    height: 11rem
}

.tile--vt_beer_trail .tile__media__img {
    margin-top: 1rem;
}

/* Styles For Detail */

.detail--vt_beer_trail .detail__pane--img {
    float: left;
    width: 15%;
    margin-right: 3em;
}

.detail--vt_beer_trail .detail__pane--header {
    line-height: 24px;
}

.detail--vt_beer_trail .detail__pane--info {
    float: left;
    width: 30%;
    margin-right: 3em;
}

.detail--vt_beer_trail .detail__pane--address {
    margin-top: 1rem;
    padding: 0px;
}

.detail--vt_beer_trail .detail__pane--social {
    margin-top: 1rem;
    max-height: 50px;
    line-height: 48px;
}

.detail--vt_beer_trail .detail__pane--map {
    float: left;
    width: 400px;
    height: 200px;
    margin-top: -24px;
    padding-bottom: 24px;
}

/* Sprites */

/* Link Wrapper For Each Icon */

.detail--vt_beer_trail .detail__pane--social--link {
    display: inline-block;
    height:48px;
    width: 48px;
    border: .1em solid transparent;
    border-radius: 50%;
    /*No vendor prefixes per DDG Style Guide */
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

.detail--vt_beer_trail .detail__pane--social--link:hover {
    background-color: rgb(209, 209, 209);
    border: 0.1em solid rgba(55, 55, 55, 0.4);
}

/* .detail--vt_beer_trail .detail__pane--social--icon {
    opacity: 0.5;
} */

.detail--vt_beer_trail .detail__pane--icon {
    display: block;
}

/* Icon Elements. Will DDG be OK pulling in sprite image from external resource? */
.detail--vt_beer_trail .detail__pane--icon--site, 
.detail--vt_beer_trail .detail__pane--icon--twitter, 
.detail--vt_beer_trail .detail__pane--icon--facebook, 
.detail--vt_beer_trail .detail__pane--icon--google, 
.detail--vt_beer_trail .detail__pane--icon--vbt {
    background-image: url('http://vtbeertrail.com/images/social/social-sprite.png');
    background-repeat: no-repeat;
    opacity: 0.5;
}

.detail--vt_beer_trail .detail__pane--icon--site {
    background-position: 0px -96px;
    height: 48px;
    width: 48px;
}

.detail--vt_beer_trail .detail__pane--icon--twitter {
    background-position: 0px -144px;
    height: 48px;
    width: 48px;
}

.detail--vt_beer_trail .detail__pane--icon--facebook {
    background-position: 0px 0px;
    height: 48px;
    width: 48px;
}

.detail--vt_beer_trail .detail__pane--icon--google {
    background-position: 0px -48px;
    height: 48px;
    width: 48px;
}

.detail--vt_beer_trail .detail__pane--icon--vbt {
    background-position: 0px -192px;
    height: 48px;
    width: 48px;
}

/* Styles For Mobile */

.detail--vt_beer_trail .detail__pane--img--mobile {
    float: left;
    width: 15%;
    margin: 3rem 1em 0px;
}

.detail--vt_beer_trail .detail__pane--header--mobile {
    line-height: 24px;
    float: right;
    width: 70%;
    margin-top: 3rem;
}

.detail--vt_beer_trail .detail__pane--info--mobile {
    float: left;
    margin: 0px 1em;
}

/* How TODO different for Android & IOS */
.detail--vt_beer_trail .detail__pane--address--mobile {
    margin-top: 0px;
    padding: 0px 0px 0px 1em;
}

/* How TODO different for Android & IOS */
.detail--vt_beer_trail .detail__pane--social--link--mobile {
    display: inline-block;
    margin-right: .25em;
    height:48px;
    width: 48px;
    border: .1em solid transparent;
    border-radius: 50%;
    /*No vendor prefixes per DDG Style Guide */
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

.detail--vt_beer_trail .detail__pane--map--mobile {
    float: left;
    width: 400px;
    height: 200px;
    margin: 1rem 1em 0;
    padding-bottom: 24px;
}