<h1 class="zci--swift_docs swift_docs_header zci__header two-line">
    {{title}}
</h1>
<div class="zci--swift_docs swift_docs_content zci__content">
{{#swiftdocs_substr_html this 200}}
    {{swiftdocs_parse_md description}}
{{/swiftdocs_substr_html}}
</div>
<div class="zci--swift_docs swift_docs_link zci__links">
    {{{moreAt site_url meta.sourceName}}}
</div>