.twitter_hashtag_img {
    clear: left;
    display: block;
    float: left;
    margin: 1px 6px 0px;
    vertical-align: middle;
    width: 35px;
}

.twitter_hashtag_container {
    margin: 0px;
    padding: 0px;
}

.twitter_hashtag_tweet {
    background: #F9F9F9;
    border: 1px solid #F9F9F9;
    border-radius: 4px;
    margin: 8px 12px;
    overflow: hidden;
    padding: 6px !important;
}

#zero_click_abstract{
    margin-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.zero_click_snippet{
    padding-left: 0px !important;
    margin-left: 0px !important;
}