{{#with score.pitch_count}}
	<span class="c-score__foot__info">
		B <span class="count count--green count--{{balls}}"><i class="count__i count__1"></i><i class="count__i count__2"></i><i class="count__i count__3"></i><i class="count__i count__4"></i></span>
	</span>
	<span class="c-score__foot__info">
		S <span class="count count--red count--{{strikes}}"><i class="count__i count__1"></i><i class="count__i count__2"></i><i class="count__i count__3"></i></span>
	</span>
	<span class="c-score__foot__info">
		O <span class="count count--red count--{{outs}}"><i class="count__i count__1"></i><i class="count__i count__2"></i><i class="count__i count__3"></i></span>
	</span>
{{/with}}
