<div class="date">
    {{date}}
</div>
<div class="place">
    {{place}} • {{city}}
</div>
<p class="text--primary performers">
    Performers: 
    {{#concat performers sep="•" conj="•"}}
        {{this}}
    {{/concat}}
</p>
<div class="clear"></div>
