<h3 class="footer_date">
    {{date}}
</h3>
<div class="footer_artist">
    {{artist}} live at:
</div>
<div class="footer_content">
    {{condense place maxlen="30"}}
</div>
<div class="footer_content">
    {{condense city maxlen="30"}}
</div>