.zci--seat_geek h3,
.zci--seat_geek .footer_artist {
    color: #333;
}

.zci--seat_geek h3,
.zci--seat_geek .footer_content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zci--seat_geek h3 {
    line-height: 1.35em;
    font-weight: 500;
}

.zci--seat_geek .price {
    float: right;
    font-size: 1.35em;
    padding-bottom: 0;
    line-height: 0.65;
}

.zci--seat_geek .performers {
    float: left;
}

.zci--seat_geek .clear {
    clear: both;
}

.zci--seat_geek .date,
.zci--seat_geek .place,
.zci--seat_geek .footer_content {
    color: #999;
    line-height: 1.25em;
}

.zci--seat_geek .date {
    padding-top: 0.25em;
}

.zci--seat_geek .place {
    padding-bottom: 0.25em;
}

.zci--seat_geek .zci__main--tiles > .tile--seat_geek,
.zci--seat_geek .zci__main--tiles > .tile--seat_geek.is-selected {
    width: 18em;
}

.zci--seat_geek .tile__title,
.zci--seat_geek .tile__content {
    display: none !important;
}

.zci--seat_geek .tile__body.has-foot {
    padding-bottom: 1.5em;
}

.zci--seat_geek .tile__title__sub {
    font-size: 0.7em;
}

.zci--seat_geek .tileview.has-open-detail .tile-wrap {
    margin-bottom: 10.5rem;
}

.zci--seat_geek .footer_date {
    font-size: 1.85em;
    font-weight: 500;
}

.zci--seat_geek .footer_artist {
    font-size: 1.25em;
    font-weight: 500;
}

.zci--seat_geek .footer_content {
    font-size: 1em;
}

.zci--seat_geek .detail,
.zci--seat_geek .detail__wrap,
.zci--seat_geek .detail__pane {
    height: 13em;
}

.zci--seat_geek .detail {
    bottom: -12.5em;
}

/* Target everything but IE 6-8 */
:root *> .zci--seat_geek .tileview.has-open-detail {
    height: 23.5em;
}

.zci--seat_geek .tileview.has-open-detail {
    height: 23.85em;
}

/* Target only Firefox */
.zci--seat_geek .tileview.has-open-detail,  x:-moz-any-link, x:default {
    height: 24em !important;
}

.zci--seat_geek .detail__callout--pr {
    line-height: 2em;
    margin-top: 0.5em;
}