.zci--seat_geek h3,
.zci--seat_geek h4,
.zci--seat_geek .footer_artist,
.zci--seat_geek p {
    color: #333;
}

.zci--seat_geek .date,
.zci--seat_geek .place,
.zci--seat_geek .footer_content {
    color: #999;
    line-height: 1.25em;
}

.zci--seat_geek h3,
.zci--seat_geek h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.85em;
}

.zci--seat_geek h3 {
    font-weight: 500;
}

.zci--seat_geek .zci__main--tiles > .tile--seat_geek,
.zci--seat_geek .zci__main--tiles > .tile--seat_geek.is-selected {
    width: 20em;
    /*text-align: center;*/
}

.zci--seat_geek .tile__title,
.zci--seat_geek .tile__content {
    display: none !important;
}

.zci--seat_geek .tile__title__sub {
    font-size: 0.7em;
}

.zci--seat_geek .footer_date {
    font-size: 2em;
    font-weight: 500;
}

.zci--seat_geek .footer_artist {
    font-size: 1.25em;
    font-weight: 600;
}

.zci--seat_geek .footer_content {
    font-size: 1em;
}

.zci--seat_geek .detail--seat_geek .zci__more-at {
    line-height: 1em;
}

.zci--seat_geek .detail,
.zci--seat_geek .detail__wrap,
.zci--seat_geek .detail__pane {
    height: 12.5rem;
}

.zci--seat_geek .detail {
    bottom: -12.5rem;
}

.zci--seat_geek .tileview.has-open-detail .tile-wrap {
    margin-bottom: 10.5rem;
}