.zci--seat_geek h3 {
    line-height: 1.15;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0.15em !important;
    margin-top: -0.1em;
    font-size: 1.5em;
}

.zci--seat_geek .header_container {
    height: 8em;
}

.zci--seat_geek .price {
    font-weight: 600;
}

.zci--seat_geek .price,
.zci--seat_geek .noprice {
    margin-top: 1.1em;
    height: 1.1em;
    float: left;
    font-size: 1.1em;
}

.zci--seat_geek .tile__body.has-foot {
    padding: 1.1em;
}

.zci--seat_geek .tile__title__sub {
    font-size: 0.7em;
}

.zci--seat_geek .date {
    float: right;
    border: 1px solid #ddd;
    padding: 0.7em 0.9em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 0.9em;
    margin-top: -1.5em;
}

.zci--seat_geek .day {
    font-size: 1.6em;
    line-height: 0.8;
}

.zci--seat_geek .seat_geek-artist {
    font-size: 1.1em;
}

.zci--seat_geek .where {
    font-size: 1.1em;
}

