#spice_hacker_news span.hn_oneline {
	display: inline-block;
}

#spice_hacker_news hr.horizontal_line {
	margin: 5px 0;
}

#spice_hacker_news .hn_comment,
#spice_hacker_news .hn_story {
	margin-bottom: 4px;
}

#spice_hacker_news .hn_comment:first-of-type,
#spice_hacker_news .hn_story:first-of-type {
	margin-top: 3px;
}