.tile--hacker-news {
	height: 14em;
}

.tile__stat {
	display: block;
}

.tile__stat__num {
	font-weight: 900;
}

.tile--hacker-news .tile__date {
	color: #aaa;
	padding-top: .75em;
	padding-bottom: .75em;
}
