<div class="tile__update__info one-line">
  <img class="zci__more-at__icon" type="image/x-icon" src="//icons.duckduckgo.com/ip2/www.plosone.org.ico"></img>
  {{PLOS_year publicationDate}} ·  {{issue}}
</div>
