#spice_game_info .game_info_field {
	font-weight: bold;
}
#spice_game_info .game_info_title {
	position: absolute;
	bottom: 0px;
	height: 2.5em;
	margin: 0;
	width: 100%;
	display: block;
	font-weight: bold;
	text-align: center;
}
#spice_game_info .game_info_cont {
	position: relative;
	width: 100%;
	height: 100%;
}
#spice_game_info .game_info_image {
	height: 75px;
	width: auto;
}
#spice_game_info .game_info_name {
	font-weight: bold;
}