<span class="game_info_platform">Platforms:</span> {{platforms}}<br>
<span class="game_info_rating">Rating:</span> {{ratings}}<br>
{{#if original_release_date}}
<span class="game_info_release">Release Date:</span> {{release_date}}<br>
{{/if}}
{{condense deck maxlen="350" fuzz="30"}}