#spice_game_info .game_info_field {
	color: gray;
}
#spice_game_info .title {
	position: absolute;
	bottom: 0px;
	height: 2.5em;
	margin: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#spice_game_info .container {
	position: relative;
	width: 100%;
	height: 100%;
}
#spice_game_info .thumbnail {
	height: 75px;
	width: auto;
}
#spice_game_info .name {
	color: #444;
}
#spice_game_info .description {
	position: absolute;
	left: 100px;
	width: auto;
	height: 100%;
	padding: 8px;
}
#spice_game_info .detail_image {
	position: absolute;
	left: 0;
	width: 100px;
	max-height: 100%;
	box-shadow: black 0px 0px 2px;
}
#spice_game_info .item_container {
	position: relative;
	height: 150px;
}