{{#rt "Title"}} <a href="http://www.reddit.com{{url}}">{{title}}</a>{{/rt}}
{{#if public_description}}{{#rd "Description"}} {{{redditSub_unescape public_description}}} {{/rd}}{{/if}}
{{#rd "Subscribers"}} {{redditSub_formatSubscribers subscribers}} {{/rd}}
