{{#rt "Title"}} <a href="http://www.reddit.com{{url}}">{{title}}</a>{{/rt}}
{{#rd "Description"}} {{{redditSub_unescape description_html}}} {{/rd}}
{{#rd "Subscribers"}} {{redditSub_formatSubscribers subscribers}} {{/rd}}
