{{#rt "Title"}} <a href="http://www.reddit.com{{url}}">{{title}}</a>{{/rt}}
{{#rv "Description" val="public_description"}} {{{redditSub_unescape public_description}}} {{/rv}}
{{#rd "Subscribers"}} {{redditSub_formatSubscribers subscribers}} {{/rd}}
