<div><i>Title</i>: <a href="http://www.reddit.com/{{url}}">{{title}}</a></div>
<div><i>Description</i>: {{{unescape description_html}}}</div>
<div><i>Subscribers</i>: {{formatSubscribers subscribers}}</div>