{{#rt "Title"}} <a href="http://www.reddit.com{{url}}">{{title}}</a>{{/rt}}
{{#rd "Description"}} {{{unescape description_html}}} {{/rd}}
{{#rd "Subscribers"}} {{formatSubscribers subscribers}} {{/rd}}
