.tile--producthunt  .tile__body.has-foot {
    padding-bottom: 0.75em;
}

.tile--producthunt  .tile__title {
    margin-bottom: 0.2em;
}

.tile--producthunt .tile__content {
    height: 4em;
    overflow: hidden;
}

.is-mobile .tile--producthunt .tile__content {
    height: 4.6em;
}

.tile--producthunt .tile__domain {
    color: #808080;
    margin-bottom: 0.25em;
}

.tile--producthunt .tile__votes {
    color: #333;
}
