<a href="https://digital.newint.com.au/issues/{{id}}/purchases/new" class="btn btn--primary">Buy this edition</a> 
<a href="https://digital.newint.com.au/subscribe" class="btn">Buy a subscription</a> 
<a href="https://itunes.apple.com/au/app/new-internationalist-magazine/id711254931?mt=8&uo=4" class="btn">iOS app</a>