<p class="magazine-information">
    <a href="https://digital.newint.com.au/issues/{{id}}">
        NI {{number}} - {{release_date}}
    </a>
</p>
<p class="editors-letter">{{{condense editors_letter_html maxlen="400"}}}</p>
