{{#if description}}
    <div>{{description}}</div>
{{/if}}
{{#with current_status.entities}}
    {{#if media.[0].media_url}}
        <img src="{{{imageProxy media.[0].media_url}}}" title="{{media.[0].display_url}}">
    {{/if}}
{{/with}}

