<li class="ddgc_item"> {{! width set in setup() }}
    <a class="ddgc_detail_link" href="http://bootic.com{{url}}" obj_index="{{@index}}">
        <p><img src="{{picture_url}}"></p>
        <span>{{{condense name maxlen="25"}}}</span>
    </a>
</li>