.bootic_products {
	overflow: hidden;
}

.bootic_product {
	float: left;
	margin: 10px 1px 0px 0px;
	padding: 2px;
}

.bootic_product:last-child {
	margin-right: 0px;
}

.bootic_name {
	display: block;
	width: 110px;
	height: 156px;
	overflow: hidden;
	text-align: center;
}

.bootic_picture {
	margin: 0 auto;
}