<li class="ddgc_item" data-index="{{@index}}"> {{! width set in setup() }}
    <a href="http://bootic.com{{url}}">
        <p><img src="/iu/?u={{picture_url}}"></p>
        <span>{{{condense name maxlen="25"}}}</span>
    </a>
</li>