.zci--travis_status .tcistatus--none {
    color: #519444;
}

.zci--travis_status .tcistatus--minor {
    color: #eea43e;
}

.zci--travis_status .tcistatus--major {
    color: #e34c2d;
}

.zci--travis_status .tcistatus--incident:first-child {
  margin-top: 14px;
}

.zci--travis_status .tcistatus--incident-status {
  text-transform: uppercase;
  font-weight: bold;
}

.zci--travis_status .tcistatus--incident-monitoring {
  color: #519444; 
}

.zci--travis_status .tcistatus--incident-identified {
  color: #eea43e;
}

.zci--travis_status .tcistatus--incident-investigating {
  color: #e34c2d;
}

.zci--travis_status .tcistatus--incident-message {
  display: block;
  font-weight: lighter;
  padding-bottom: 4px;
}
