    <div class="summary_region" id="summary">
        <ul class="info_row info_row_first">
            <li class="info_pair info_pair_lead">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Homosexuality
                    </div>

                    <div class="info_value" style="color:#3a0">
                        <div class="info_icon info_icon_1">
                            ⚢
                        </div><strong>✔ Legal</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair info_pair_lead">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Marriage
                    </div>

                    <div class="info_value" style="color:#c00">
                        <div class="info_icon info_icon_3">
                            ⚭
                        </div><strong>✖ Not legal</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Adoption
                    </div>

                    <div class="info_value" style="color:#c00">
                        <strong>✖ Illegal</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Discrimination
                    </div>

                    <div class="info_value" style="color:#c00">
                        <strong>✖ No protections</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Housing Discrimination
                    </div>

                    <div class="info_value" style="color:#999">
                        <strong>Unknown</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Employment Discrimination
                    </div>

                    <div class="info_value" style="color:#c00">
                        <strong>✖ No protections</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Military
                    </div>

                    <div class="info_value" style="color:#c00">
                        <strong>✖ Illegal</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Age of Consent
                    </div>

                    <div class="info_value" style="color:#3a0">
                        <strong>✔ Equal</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Donating Blood
                    </div>

                    <div class="info_value info_value_small" style=
                    "color:#c00">
                        <strong>✖ Banned (indefinite deferral)</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Changing Gender
                    </div>

                    <div class="info_value" style="color:#999">
                        <strong>Unknown</strong>
                    </div>
                </div>
            </li>

            <li class="info_pair">
                <div class="info_pairw">
                    <div class="info_label" style="color:">
                        Conversion Therapy
                    </div>

                    <div class="info_value" style="color:#3a0">
                        <strong>✔ Banned</strong>
                    </div>
                </div>
            </li>
        </ul>

        <div style="clear:both;"></div>
    </div>