@media (max-width: 600px) {
    .zci--whois table {
        table-layout: fixed;
        width: 100%;
    }

    .zci--whois table td {
        word-wrap: break-word;
    }

    .zci--whois .record td.record__cell__key {
        width: 100px;
        border-top: solid 1px #DDD;
        border-bottom: solid 1px #DDD;
    }
}

.zci--whois .zci__more-at {
    padding-top: 0.75em;
}

.zci--whois .record td {
    padding: 0.4em;
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
}

.zci--whois .record .record__cell__key {
    width: 150px;
}