
@media (max-width: 600px) {
    .zci--whois table {
        table-layout: fixed;
        width: 100%;
    }

    .zci--whois table td {
        word-wrap: break-word;
    }
}

.zci--whois .zci__more-at {
    padding-top: 0.75em;
}
