.zci--whois span {
    display: block;
}

.zci--whois dl {
    display: block;
    overflow: hidden;
}

.zci--whois dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 32px;
    width: 100px;
}

.zci--whois dd {
    float: left;
}