/* ONCE THE KEYSPACING FLAG IS MERGED INTO THE REPO,
   none of this custom css should be needed. */

.zci--whois {
    padding-bottom: 1.5em !important;
    padding-top: 1.5em !important;
}

.zci--whois .record__cell__key {
    padding-right: 32px;
}

.zci--whois .zci__more-at {
    padding-top: 1em;
}