{{!-- Inline style permitted to prevent loading CSS file when this template is not used --}}
<a href="{{url}}" class="text--primary" style="display:block">
    <span>Track with {{name}}</span>
    <span class="ddgsi ddgsi-right pull-right"></span>
</a>
