.detail--crunchbase .c-info__img-wrap--clip .c-info__img{
    max-width:100%;
}

.tileview__crunchbase .tile__media__img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height:100%;
}
