<div class="tx-clr--lt2 statista__footer">
	<div class="pull-left"><span class="statista__badge statista__{{footerpremiumcssclass}}"></span> {{footerpremiumtext}}</div>
	<div class="pull-right"><span class="">{{footerdate}}</span></div>
</div>
