
<br>
<div class="gw tx-clr--lt2">
	<div class="g  seventy"><span class="statista__badge statista__{{footerpremiumcssclass}}"></span> {{footerpremiumtext}}</div>
	<div class="g  thirty"><span class="">{{footerdate}}</span></div>
</div>
