<div class="tile__content side_by_side">
    <div class="left half">
        <p class="tx-clr--dk tx--14">Bikes</p>
        <p class='tx-clr--dk tx--25'>{{availableBikes}}</p>
    </div>
    <div class="right half">
        <p class="tx-clr--dk tx--14">Docks</p>
        <p class='tx-clr--dk tx--25'>{{availableDocks}}</p>
    </div>
</div>