The next episode is called <span class="text--primary">{{ _embedded.nextepisode.name }}</span> and will
{{#if webChannel}}
be released
{{else}}
air
{{/if}}
on <span class="text--primary">{{ tvmaze_dateformat _embedded.nextepisode.airdate }}</span> at {{ _embedded.nextepisode.airtime }}.