<div>
  <div class="small grey guidebox--aired">
    Originally aired {{guideBox_getDate first_aired}} on {{network}}
  </div>

  <div>
    <span><a class="btn btn--primary" href="{{smart_url}}">
    Watch Now
    </a></span>
    {{#unless is_free_web}} <span class="red ">Paid Content</span>{{/unless}}
  </div>

</div>