<div>
    <span><a class="btn btn--primary" href="{{smart_url}}">
    <span class="btn--text"> Watch Now </span>
    </a></span>
    {{#unless is_free_content}} <span class="paid"> Paid Content </span>{{/unless}}
</div>