.detail--guidebox .price{
    font-size: 0.9em;
    color: #777777;
    font-weight: normal;
}

.is-mobile .detail--guidebox .price{
    display: none;
}

.is-mobile .detail--guidebox .btn--primary{
    display: block;
    position: absolute;
    bottom: 1em;
}