<li class='ddgc_item'>
    <div class="image_wrap">
        <img src="/iu/?u={{thumbnail_208x117}}"></img>
    </div>
    <span>
        Season {{season_number}}, Ep. {{episode_number}}
        <span class='gb_info'>{{{episode_name}}}</span>
    </span>
</li>
