<li class='ddgc_item'>
    <div class="image_wrap">
        <img src="/iu/?u={{thumbnail_208x117}}"></img>
    </div>
    <span>
        <b>Season {{season_number}}, Ep. {{episode_number}}</b> <br/>
        {{{condense episode_name maxlen="25"}}}
    </span>
</li>
