#guidebox hr.horizontal_line {
    margin: 5px 0;
    margin-right: 1px;
}

#guidebox li.ddgc_item img {
    max-width: 100% !important;
    max-height: 100% !important;
}

#guidebox li.ddgc_item a div.image_wrap::before {
    content: url("/iu/?u=http://duckduckgo.com/assets/icon_play.v101.png");
    display: block;
    font-weight: bold;
    color: #FFF;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 120px;
    cursor: pointer;
}

#guidebox li.ddgc_item div.image_wrap::before {
    content: url("/iu/?u=http://duckduckgo.com/assets/icon_play.v101.png");
    display: block;
    font-weight: bold;
    color: #FFF;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 120px;
    cursor: pointer;
}

#guidebox li.ddgc_item a {
    height: auto !important;
}

#guidebox span.overview {
    font-size: 85%;
}

#guidebox small {
    display: block;
}

#guidebox div.last_episodes {
    width: 100%;
}

#guidebox div.image_wrap {
    position: relative;
}

#guidebox div.image_wrap img {
    height: 100px;
}

#guidebox small.gb_info {
    color: rgb(119, 119, 119);
    font-size: 11px
}
