<div>
    <div><span class="watch_button"><b><a href="{{url}}">{{{condense title maxlen="25"}}} - watch it now</a></b></span></div>
    <div><i>Movie description: </i>{{{condense description maxlen="100"}}}</div>
</div>
