#guidebox .grey { 
    color: grey;
}

#guidebox li.ddgc_item img {
    max-width: 100% !important;
    max-height: 68px !important;
}

#guidebox div.image_wrap {
    position: relative;
}

#guidebox .gb_info {
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px !important
}

#guidebox .button {
  display: inline-block;
  border-radius: 3px;
  padding: 2px 9px 0px;
  background: #fefefe;
  border: 1px solid #bbb;
  color: black;
  line-height: 24px;
}

#guidebox .button:hover {
  border: 1px solid #80b5ff;
  cursor: pointer;
  text-decoration: none;
}