<li class='ddgc_item'>
    <div class="image_wrap smaller">
        <img src="/iu/?u={{image}}"></img>
    </div>

    <span class="text_of_episode">
        {{{condense title maxlen="25"}}}
        ({{release_year}})
    </span>
</li>
