<div>
    <div>
        <span class="watch_button">
            <a href="{{url}}">{{{condense title maxlen="25"}}} - watch it now</a>
        </span>
    </div>
    <div>
        {{{condense description maxlen="300"}}}
    </div>
</div>
