<li class='ddgc_item'>
    <a href="{{url}}">
        <img src="/iu/?u={{poster}}"></img>
        <img src="/iu/?u=http://duckduckgo.com/assets/icon_play.v101.png" class="play_button"></img>
        <span class="text_of_episode">
            {{{condense title maxlen="25"}}} <br />
            <span class="smaller"><i>Released in</i> {{release_year}}</span>
        </span>

    </a>
</li>
