.zci__more-at__icon{
    padding-bottom: 0.3em;
}

.detail--guidebox .price{
    position: relative;
    top: -0.5em;
    font-size: 0.9em;
    color: #777777;
    font-weight: normal;
}

.detail--guidebox .paid{
    color: #c9481c;
    font-weight: bold;
}

.is-mobile .detail--guidebox .price{
    display: none;
}

.is-mobile .detail--guidebox .btn--primary{
    position: absolute;
    bottom: 1.1em;
}

.detail--guidebox .detail__body--pr{
    border-left: 0px;
}

.detail--guidebox .detail__desc{
    padding-bottom: 1.3em;
}

.is-mobile .detail--guidebox  .paid{
    position: absolute;
    padding-left: 7.5em;
    bottom: 1.8em;
}
