<div>
    <a data-target="#searched" class="GB_showHide">Similar to {{getQuery}}</a>
    <div id="searched" class="hide">
        <ul>
            {{#each getSimilar}}
                <li><a href="https://duckduckgo.com/?q=guidebox+{{item.title}}>{{item.title}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
