<li class='ddgc_item'>
    <a href="{{url}}">
        <img src="/iu/?u={{image}}"></img>
        <img src="/iu/?u=http://duckduckgo.com/assets/icon_play.v101.png" class="movie_play_button"></img>
        <span class="text_of_episode">
            {{{condense title maxlen="25"}}}
            ({{release_year}})
        </span>

    </a>
</li>
