#guidebox .grey { 
    color: grey;
}

#guidebox li.ddgc_item img {
    max-width: 100% !important;
    max-height: 75% !important;
}

#guidebox div.image_wrap {
    position: relative;
}

#guidebox small.gb_info {
    font-size: 11px
}