<li class='ddgc_item'>
    <div class="image_wrap">
        <img src="/iu/?u={{thumbnail_208x117}}"></img>
    </div>
    <span>
        Season {{season_number}}, Ep. {{episode_number}} <br/>
        <small class='gb_info'>{{{condense episode_name maxlen="25"}}}</small>
    </span>
</li>
