<div>
    <div><span class="watch_button"><b><a href="{{smart_url}}">{{{condense episode_name maxlen="25"}}} - watch this episode now</a></b></span></div>
    <div><i>Overview</i> - {{overview}}</div>
    <div><i>Aired on</i> {{getDate first_aired}}</div>
</div>
