.zci--seat_geek_concerts .tile--seat_geek {
    height: 15.6em;
}

    .is-mobile .zci--seat_geek_concerts .tile--seat_geek {
        height: inherit;
    }

.zci--seat_geek_concerts .header_container {
    height: 8em;
}

/* IE causes one-line to break when word-break is set to something. */
.zci--seat_geek_concerts .tile__body {
    word-break: initial;
}

.zci--seat_geek_concerts .price {
    font-weight: 600;
}

.zci--seat_geek_concerts .price,
.zci--seat_geek_concerts .noprice {
    margin-top: 1em;
    height: 1.1em;
    float: left;
    font-size: 1.1em;
}

.zci--seat_geek_concerts .tile__body.has-foot {
    padding: 1em;
}

.zci--seat_geek_concerts .header_container .tile__title {
    height: 3.8em;
    margin-bottom: 0;
    /* Adding ellipsis on Webkit-based engines. */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-weight: 400;
}

.zci--seat_geek_concerts .date {
    float: right;
    border: 1px solid #ddd;
    padding: 0.7em 0.9em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 0.9em;
    margin-top: -1.5em;
}

.zci--seat_geek_concerts .day {
    font-size: 1.6em;
    line-height: 0.8;
}

.zci--seat_geek_concerts .seat_geek-artist {
    font-size: 1.1em;
}

.zci--seat_geek_concerts .where {
    font-size: 1.1em;
    height: 1.4em;
}

.zci--seat_geek_concerts .where.city,
.zci--seat_geek_concerts .where.place {
    width: 9.3em;
}

    .is-mobile .zci--seat_geek_concerts .where.city {
        width: 7em;
    }
