<div class="untappd__footer tile__update__info two-line">
    <span>{{abv}}% ABV</span>
    <i class="sep"></i>
    <span>{{ibu}} IBU</span>
    <i class="sep"></i>
    <span><i class="count__i"></i> {{ratings}}</span>
</div>
