.zci--dns .zci__table {
    margin-bottom: 2px;
}

.zci--dns .zci__table__tr {
    border-bottom: 1px solid #dedede;
}

.zci--dns .zci__table__tr:last-of-type {
    border-bottom: none;
}

.zci--dns .zci__table__tr td {
    padding: 2px 0;
}
