#spice_dns table {
    /* border:1px solid #d0d0d0; */
    width:100%;
    margin:5px;
}

#spice_dns tr {
    border-bottom:1px solid #efefef;
}

#spice_dns th {
    vertical-align:bottom;
    text-align:left;
    font-size:83.3%;
    font-style:italic;
    padding-left:3px;
}

#spice_dns td {
    padding:2px;
    max-width:250px;
}
