<div class="starring">
    <strong>Starring</strong>
        {{actors}}.
</div>
<div>
    <strong>Available on</strong>
        {{#createLinks affiliates}}{{/createLinks}}
</div>
<div>
    <strong>Reviews:</strong>
        {{#createMore links}}{{/createMore}}
</div>
