
    <div>
        <em>Starring:</em>
        {{actors}}.
    </div>
    <div>
        <em>Available on:</em>
        {{#createLinks affiliates}}{{/createLinks}}
    </div>
    <div>
        <em>Reviews:</em>
        {{#createMore links}}{{/createMore}}
    </div>
