.canistreamit_staring
{
    font-style: oblique;
}

.canistreamit_availability h3
{
    font-weight: bold;
}

.canistreamit_availability ul
{
    margin: 0;
    padding: 0;
}

.canistreamit_availability ul li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}