The previous episode is called <span class="text--primary">{{ _embedded.previousepisode.name }}</span> and
{{#if webChannel}}
was released
{{else}}
aired
{{/if}}
on <span class="text--primary">{{ tvmaze_dateformat _embedded.previousepisode.airdate }}</span> at {{ _embedded.previousepisode.airtime }}.