<div>

{{#each alts.Items}}

<div class="alternative_to_item highlight_zero_click1 highlight_zero_click_wrapper">
    <a href="{{{Url}}}">
	<img src="/iu/?u={{{IconUrl}}}" />
    </a>
    <a href="{{{Url}}}">{{{shorten Name}}}</a>
</div>

{{/each}}

</div>
