<div>

{{#each Items}}

<a class="alternative_to_item highlight_zero_click1 highlight_zero_click_wrapper" href="{{{Url}}}">
    <div><img src="/iu/?u={{{IconUrl}}}" /></div>
    <p>{{{Name}}}</p>
</a>

{{/each}}

</div>
