.tile--google_plus .tile__media {
    height: 10em;
}

.tile--google_plus  .tile__media__img {
    margin-top: 20px;
    border-radius: 100%;
}

.tile--google_plus  .tile__title {
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    display: table-cell;
    width: 150px;
}

.tile--google_plus .tile__body {
    padding-bottom: 20px;
}