.tile--google_plus .tile__media {
    height: 10em;
}

.tile--google_plus  .tile__media__img {
    margin-top: 1.4em;
    border-radius: 100%;
}

.tile--google_plus  .tile__title {
    text-align: center;
    font-weight: 400;
}