<li class="ddgc_item" data-index="{{@index}}"> {{! width set in setup() }}
    <a href="{{url}}">
        <img src="/iu/?u={{changeSize image.url}}">
        <span>{{{condense displayName maxlen="25"}}}</span>
    </a>
</li>