.tile--googleplus {
    width: 12.4em;
    height: 17.2em;
}

.tile--googleplus .tile__media {
    height: 12em;
}

.tile--googleplus  .tile__media__img {
    margin-top: 1.6em;
    border-radius: 100%;
}

.tile--googleplus .tile__body {
    padding: .3em 1em;
}

.tile--googleplus  .tile__title {
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    height: 2.5em;
}