.zci.zci--snow.is-active{
    
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #D0D0D0;
}
.dark-header .zci.zci--snow.is-active{
    
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #292929;
}

.zci--snow h3 {
    font-size: 2em;
    font-weight: 900;
}
.zci--snow .c-base__content {
    color : #666;
}