.zci.zci--snow {
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark-header .zci.zci--snow {
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #292929;
}

.zci--snow h3 {
    font-size: 2em;
    font-weight: 900;
}