<div id="stopwatch-container">
	<div id='nums'>00:00:00.00</div>
	<button id='start-btn'>start</button>
	<button id='stop-btn'>stop</button>
	<button id='reset-btn'>reset</button>
	<button id='lap-btn'>lap</button>
	<ul id='split-list'></ul>
</div>
