#stopwatch_container {
    width: 100%;
}

.zci--stopwatch .stopwatch__btn {
	height: 75px;
	width: 75px;
	border-radius: 37.5px;
	text-align: center;
	line-height: 75px;
	border: 1px solid black;
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	outline: none; /*remove the blue outline in chrome/opera*/
	background: none;
}

.zci--stopwatch .stopwatch__left {
    float: right;
}

/*remove the dashed line in FF/IE*/
.zci--stopwatch .stopwatch__btn::-moz-focus-inner {
	border: 0;
}
	
.zci--stopwatch .stopwatch__btn.start {
	border-color: #20b84c;
	background-color: #20b84c;
	color: white;
}

.zci--stopwatch .stopwatch__btn.stop {
	border-color: #ff3908;
	background-color: #ff3908;
	color: white;
}

.zci--stopwatch .stopwatch__btn[disabled] {
	color: #b4b4b4;
	border-color: #b4b4b4;
}

.zci--stopwatch .spice-pane {
	width: 45%; height: 100%;
	line-height: 50px;
	background-color: rgba(150,150,150,.15);
	display: inline-block;
	padding: 2%;
	border-radius: 2px;
}

.zci--stopwatch .spice-pane-right {
	float: right;
}

.zci--stopwatch .pane-block {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-family: sans-serif;
}

.zci--stopwatch .label {
	padding-left: 5%;
	font-size: 13px;
	vertical-align: 4px;
	font-weight: 400;
}

.zci--stopwatch .stopwatch__btn-wrapper {
	margin-top: 37px;
	margin-bottom: 10px;
	width: 100%;
}

.zci--stopwatch #lap_stopwatch__btn {
	float: right;
}

.zci--stopwatch .time {
	float: right;
	margin-right: 10%;
	font-size: 40px;
}

.zci--stopwatch #total_time {
	font-weight: 400;
}

.zci--stopwatch #current_time {
	font-weight: 300;
}

.zci--stopwatch .hidden {
	display: none;
}

.zci--stopwatch table {
	width: 100%;
	background-color: #fafafa;
	border-collapse: collapse;
	margin-top: 10px;
	font-family: sans-serif;
}

.zci--stopwatch td {
	text-align: center;
	border-top: 1px solid #ccc;
}

.zci--stopwatch th {
	color: #999;
	font-weight: normal;
	text-align: center;
}

.zci--stopwatch .lap-num {
	font-size: 13px;
}

.zci--stopwatch .lap-time {
	font-size: 16px;
}

/*stack the big time divs if the screen is too narrow*/
@media screen and (max-width: 700px) {
    #stopwatch_container {
	width: 93%;
    }

    .zci--stopwatch .spice-pane {
	width: 100%;
    }

    .zci--stopwatch .spice-pane-right {
	float: none;
	width: 100%;
	margin-top: 5px;
    }
}

@media screen and (max-width: 320px){

}
