<div id="stopwatch-container">
	<div class="pane_block">
		<div class="spice_pane">
			<span class="label">TOTAL:</span>
			<span class="time" id="total-time">00:00.00</span>
		</div>
		<div class="spice_pane spice_pane_right">
			<span class="label">LAP:</span>
			<span class="time" id="current-time">00:00.00</span>
		</div>
	</div>
	<div class="btn-wrapper">
		<button class="btn start">START</button>
		<button class="btn" id="reset-btn" disabled>RESET</button>
		<button class="btn" id="lap-btn" disabled>LAP</button>
	</div>
	<table id="split-list" class="hidden">
		<thead><tr id="lap-header">
			<th></th>
			<th>Lap</th>
			<th>Total</th>
		</tr></thead>
	</table>
</div>
