<div id="stopwatch_container">
	<div class="pane-block">
		<div class="spice-pane">
			<span class="label">TOTAL:</span>
			<span class="time" id="total_time">00:00.00</span>
		</div>
		<div class="spice-pane spice-pane-right">
			<span class="label">LAP:</span>
			<span class="time" id="current_time">00:00.00</span>
		</div>
	</div>
	<div class="btn-wrapper">
		<button class="btn start">START</button>
		<button class="btn" id="reset_btn" disabled>RESET</button>
		<button class="btn" id="lap_btn" disabled>LAP</button>
	</div>
	<table id="split_list" class="hidden">
		<thead><tr>
			<th></th>
			<th>Lap</th>
			<th>Total</th>
		</tr></thead>
	</table>
</div>
