<div id="stopwatch-container">
	<div id='nums'>00:00:00.000</div>
	<button id='start-btn'>start</button>
	<button id='stop-btn'>stop</button>
	<button id='reset-btn'>reset</button>
	<button id='split-btn'>split</button>
	<button id='lap-btn'>lap</button>
	<ol id='split-list'></ol>
</div>
