.zci--bitcoin_address .zci__body .zci__more-at{
    padding-top: 1em;
}
.zci--bitcoin_address .record .record__cell__value {
    word-wrap: break-word;
    padding: 0.4em;
}

.zci--bitcoin_address .record .record__cell__key {
    padding: 0.4em;
    width: 150px;
}

.is-mobile .zci--bitcoin_address .record .record__cell__value {
    max-width: 150px;
    text-overflow: ellipsis;
}

.zci--bitcoin_address .record .record__body{
    width: 100%;
}

.is-mobile .zci--bitcoin_address .record .record__cell__key {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
  .zci--bitcoin_address .zci__img-wrap{
    display: none;
  }    
}

