<div class="bitcoin-address">
    <div class="qr-code-wrapper">
      <img class="qr-code" 
           src="data:image/gif;base64,{{qr_code}}" 
           width="130" 
           height="130" 
           title="Bitcoin address {{address}} qr code"
           alt="Bitcoin address {{address}} qr code" />
    </div>
    <h1 class="address-title">Bitcoin Address</h1>
    <div class="address-hash">{{address}}</div>
    <div class="clear"></div>
</div>