<div class="bitcoin-address">
    <div class="qr-code-wrapper" style="float:left;margin-right: 10px;">
      <img class="qr-code" 
           src="data:image/gif;base64,{{qr_code}}" 
           width="130" 
           height="130" 
           title="Bitcoin address {{address}} qr code"
           alt="Bitcoin address {{address}} qr code" />
    </div>
    <h1 class="address-title" style="font-size:1.38em;">Bitcoin Address</h1>
    <div class="address-hash" style="font-size:0.9em;">{{address}}</div>
    <div class="clear"></div>
</div>