.zci--xkcd .xkcd--container {
    margin-bottom: 0.5em;
    max-width: 100%;
    padding-right: 0.5em;
}

.zci--xkcd .xkcd--img {
    display: block;
    margin: 0 auto;
}

.zci--xkcd .xkcd--buttons {
    margin-top: 0.5em;
    text-align: center;
    height: 28px;
}

.zci--xkcd .xkcd--buttons a {
    display: inline-block;
}

.zci__subheader.xkcd--date {
    color: grey;
    padding: 0.1em 0 0.75em 0;
}

.zci--xkcd .xkcd--buttons .tile-nav--sm {
    font-size: 12px;
    text-decoration: none;
}

/* Float prev/explain link to the left */
.zci--xkcd .xkcd--buttons .tile-nav--sm--prev {
    float: left;
}

/* Float explain/next link to the right */
.zci--xkcd .xkcd--buttons .tile-nav--sm--next {
    float: right;
}
