.zci--xkcd .xkcd-next-link {
    float: right; 
}

.zci--xkcd .xkcd--container {
    display: inline-block;
    margin-bottom: 0.5em;
    max-width: 100%;
    float: left;
}

.zci--xkcd .xkcd--img {
    display: block;
    margin: 0.75em 0px;
}

.zci--xkcd .xkcd--buttons {
    margin: 0.5em 0px;
}

.zci--xkcd .zci__more-at {
	display: inline-block;
	float: left;
	clear: both;
}

.zci--xkcd .xkcd--explain-link {
	display: block;
	float: left;
	padding-left: .25em;
}

.zci__subheader.xkcd--date {
    color: grey;
    padding-top: 0.1em;
}