.zci--repl #repl__editor {
    position: relative;
    width: 100%;
    height: 14em;
    border: 1px solid #ddd;
}

.zci--repl #repl__result {
    height: 14em;
    font-family: monospace;
}

.zci--repl .cw,
.zci--repl .c-base {
    max-width: none;
}

.zci--repl .frm__buttons {
    margin-bottom: 1em;
}

.is-mobile-device #repl__samples__container {
    width: 45%;
    float: right;
    padding-right: 3em;
}

.is-mobile-device .frm__field .frm__select:first-of-type {
    width: 50%;
}
.is-mobile-device #repl__samples {
    width: 100% !important;
}

.is-mobile-device #repl__samples__container:not(.hide) + #repl__submit {
    margin-top: 1em;
}
