<span class="tx--13 tx-clr--grey">
    {{#with venue}}
        {{#if name}}{{name}}<br/>{{/if}}
        {{#if steet}}<span class="one-line">{{street}}</span><br/>{{/if}}
        {{#with address}}
            {{#if city}}{{city}}{{/if}}
            {{~#and city zip~}}, {{/and}}
            {{#if zip}}{{zip}}{{/if}}
        {{/with}}
    {{/with}}
</span>
