.tile--get_events {
    width: 14em;
    height: 13.3em;
}

.tile--get_events .tile__body.has-foot--4 {
    padding-bottom: 0;
}

.tile--get_events .tile_title--3 {
    height: auto;
    font-size: 1.27em;
    line-height: 1.2;
}

.tile--get_events .tile__sub {
    margin-bottom: 0;
}

.tile--get_events .tile__title--wrap {
    display: inline-block;
    width: 9em;
}

.tile--get_events .tile__num--get_events {
    display: none;
    width: 3em;
    height: 3em;
    line-height: 1;
    text-align: center;
    font-size: 0.9em;
}

.is-expanded .tile--get_events .tile__num--get_events {
    display: block;
}

.tile--get_events .tile__num--get_events .number {
    background-image: url("map-pin.svg");
    background-repeat: no-repeat;
    height: 2.4em;
    background-position: center;
    padding-top: 0.65em;
    font-weight: bold;
    font-size: 1.6em;
    font-size: 1.038em;
}

.tile--get_events__alt .content--lg {
    font-size: 1.038em;
    line-height: 1.4;
    color: #999999;
    height: 4em;
    overflow: hidden;
}

.tile--get_events__main .tile__foot {
    white-space: normal;
}

.tile--get_events .tile__foot--4 {
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
    max-height: 6.6em;
    height: auto;
}